{% extends 'accreditation_base.html' %}
{% load static %}

{% block title %} ISEI Standards {% endblock title %}


{% block content %}

    <div class="container my-4">
        {% if not school %}
            <button type="button" class="btn btn-sm btn-outline-secondary mb-2"
                    onclick="toggleSchoolTypes()">
                Toggle School Type
            </button>
        {% endif %}
    </div>

         <!-- Cover Page -->

    <div class="card card-body cover-page mx-auto">
        <img src="{% static 'appfiles/ISEIcolored.png' %}" alt="ISEI Logo" class="logo">
        <div class="vertical-text">ISEI EDUCATION ASSOCIATION</div>
            <!-- Double vertical lines with tiny space -->
            <div class="vertical-line-light"></div>
            <div class="vertical-line-dark"></div>

        <div class="title">
            Accreditation<br>
            Standards<br> &amp;<br>
            Indicators
        </div>
        <div class="version">Version 2.1</div>

        <div class="footer">
            P.O. Box 491 • Collegedale, TN 37315
        </div>
    </div>



        <div class=" page card card-body mx-auto" style="max-width: 1000px;">

                    {% for standard in standards %}
                        <h6 class="page-break-before">{{ standard.number|floatformat:"0"  }}. {{ standard.name }}</h6>
                        <hr>

                        {% for substandard in standard.substandards.all %}
                            <h7 style="margin-left: 20px;">{{ substandard.number }}. {{ substandard.name }}</h7>

                            {% for indicator in substandard.filtered_indicators %}
                                <p>{{ substandard.number }}.{{ forloop.counter }}. {{ indicator.description }}
                                    {% if not school %}
                                        <span class="school-type hidden small">({{ indicator.school_type }})</span>
                                    {% endif %}
                                </p>
                                <p class="mr-5 text-muted">{{ indicator.met_description }}</p>
                            {% endfor %}
                        {% endfor %}

                        {% for indicator in standard.filtered_indicators %}
                            <p>{{ standard.number|floatformat:"0"  }}.{{ forloop.counter }}. {{ indicator.description }}
                                    {% if not school %}
                                        <span class="school-type hidden small">({{ indicator.school_type }})</span>
                                    {% endif %}
                            </p>
                            <p class="mr-5 col text-muted">{{ indicator.met_description }}</p>
                        {% endfor %}

                    {% endfor %}


            <!--p class="text-center"> As of April, 2025</p -->
        </div>

    <script>
        function toggleSchoolTypes() {
            document.querySelectorAll('.school-type').forEach(el => {
                el.classList.toggle('hidden');
            });
        }

    </script>


{% endblock %}
