{% extends 'accreditation_base.html' %}

{% block title %} Edit Accreditation {% endblock title %}

{% block content %}

      <form method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}

<!-- School and visit Info -->
          <div class = "card card-body">
            <div class="row">
                <div class="col-auto">
                  {{ form.school.label_tag }}
                  {{ form.school }}
                  {{ form.school.errors }}
                </div>

                <div class="col-auto">
                  {{ form.visit_start_date.label_tag }}
                  {{ form.visit_start_date }}
                  {{ form.visit_start_date.errors }}
                </div>
                <div class="col-auto">
                  {{ form.visit_end_date.label_tag }}
                  {{ form.visit_end_date }}
                  {{ form.visit_end_date.errors }}
                </div>
            </div>
          </div>

<!-- Self Study -->
        <div class="card card-body">
            <div class="row">
                {%  if accreditation %}
                <div class="col-auto">
                        <a href="{% url 'setup_selfstudy' accreditation_id=accreditation.id %}">Setup SelfStudy Document</a>
                </div>
                {% endif %}
                {% if accreditation.selfstudy %}
                    <div class="col-auto">
                            <a href="{% url 'selfstudy' selfstudy_id=accreditation.selfstudy.id %}"> Edit SelfStudy Document</a>
                    </div>
                {% endif %}
            </div>
        </div>

<!-- Term Info -->
          <div class="card card-body">
            <div class="row">
                <div class="col">
                    <div class = "row">
                        <div class="col-auto">
                          {{ form.term.label_tag }}
                          {{ form.term }}
                          {{ form.term.errors }}
                        </div>
                    </div>
                    <div class = "row mt-2">
                        <div class="col-auto">
                          {{ form.term_start_date.label_tag }}
                          {{ form.term_start_date }}
                          {{ form.term_start_date.errors }}
                        </div>
                        <div class="col-auto">
                          {{ form.term_end_date.label_tag }}
                          {{ form.term_end_date }}
                          {{ form.term_end_date.errors }}
                        </div>
                    </div>
                </div>
                 <div class="col">
                      {{ form.status.label_tag }}
                      {{ form.status }}
                      {{ form.status.errors }}
                 </div>
                <div class="col">
                    {{ form.coa_approval_date.label_tag }}
                    {{ form.coa_approval_date }}
                    {{ form.coa_approval_date.errors }}
                </div>
            </div>
          </div>

          <button class="btn btn-sm btn-ISEIblue" type="submit">
            {% if add %} Add {% endif %}
            {% if edit %} Update {% endif %}
          </button>
      </form>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Get the term select and status dropdown elements
        const termField = document.querySelector('#id_term');
        const statusDropdown = document.querySelector('#id_status');

        // Trigger the function when a term is selected or changed
        termField.onchange = function() {
            if (termField.value !== "") {  // If some term is selected
                statusDropdown.value = 'active';  // Set status to "active"
            } else {
                statusDropdown.value = 'scheduled';
            }
        }
    });
</script>


{% endblock %}

