{% extends 'accreditation_base.html' %}

{% block title %} Edit Accreditation {% endblock title %}

{% block content %}

      <form method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}

<!-- School Info -->
      <div class="card card-body">
          <div class="row">
              <div class="col">
                      {{ form.school.label_tag }}
                      {{ form.school }}
                      {{ form.school.errors }}
              </div>
              <div class="col">
                  {% if accreditation.accreditationapplication %}
                  <h7 class="clickable">
                    <a href="{% url "accreditation_application_review" accreditation.accreditationapplication.id%}" target="_blank">Application for Accreditation </a>
                  </h7>
                  {% else %}
                      <span class="error">There is no application attached to this accreditation.</span>
                  {% endif %}
              </div>
          </div>
      </div>


<!-- School and visit Info -->
          <div class = "card card-body">
              <h6>Visit Info</h6>
                <div class="row">
                    <div class="col-auto">
                      {{ form.visit_start_date.label_tag }}
                      {{ form.visit_start_date }}
                      {{ form.visit_start_date.errors }}
                    </div>
                    <div class="col-auto">
                      {{ form.visit_end_date.label_tag }}
                      {{ form.visit_end_date }}
                      {{ form.visit_end_date.errors }}
                    </div>
                    <div class="col-auto">
                        School Year
                        {{ form.school_year }}
                    </div>
                </div>
          </div>

<!-- Documents -->
        <div class="card card-body">
        <h6>Documents</h6>
            <div class="row">
            <!-- Self Study -->
                <div class="col vertical-divider">
                    <div class="col-auto">
                        {% if accreditation.selfstudy %}
                            <a href="{% url 'selfstudy' selfstudy_id=accreditation.selfstudy.id %}"> SelfStudy Document</a>
                        {% elif accreditation.school_year %}
                            <a href="{% url 'setup_selfstudy' accreditation_id=accreditation.id %}">Setup SelfStudy Document</a>
                        {% else %}
                             <span class="error">Chose a school year for accreditation BEFORE setting up SelfStudy</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    {% if form.instance.evidence_documents_link %}
                        <a href="{{ form.instance.evidence_documents_link }}" target="_blank">Evidence Documents</a><br>
                        Change link: {{ form.evidence_documents_link }}
                    {% else %}
                        Evidence Documents link: {{ form.evidence_documents_link }}
                    {% endif %}
                </div>
                <div class="col">
                    {% if form.instance.visiting_team_report %}
                        <a href="{{ form.instance.visiting_team_report }}" target="_blank">Visiting Team Report</a><br>
                        Change link: {{ form.visiting_team_report }}
                    {% else %}
                        Visiting Team Report link: {{ form.visiting_team_report }}
                    {% endif %}
                </div>
            </div>
        </div>

<!-- Term Info -->
          <div class="card card-body">
              <h6>Term Info</h6>
            <div class="row">
                <div class="col-auto">
                    <div class = "row">
                        <div class="col-auto">
                          Term:
                          {{ form.term }}
                          {{ form.term.errors }}
                        </div>
                    </div>
                    <div class = "row mt-2">
                        <div class="col-auto">
                          Start Date:
                          {{ form.term_start_date }}
                          {{ form.term_start_date.errors }}
                        </div>
                        <div class="col-auto">
                          End Date:
                          {{ form.term_end_date }}
                          {{ form.term_end_date.errors }}
                        </div>
                    </div>

                    <div class="row">
                        Comment:
                        {{ form.term_comment }}
                        {{ form.term_comment.errors }}
                    </div>
                </div>

                 <div class="col-auto">
                      {{ form.status.label_tag }}
                      {{ form.status }}
                      {{ form.status.errors }}
                 </div>
                <div class="col-auto">
                    {{ form.coa_approval_date.label_tag }}
                    {{ form.coa_approval_date }}
                    {{ form.coa_approval_date.errors }}
                </div>
            </div>
          </div>

          <button class="btn btn-sm btn-ISEIblue" type="submit">
            {% if add %} Add {% endif %}
            {% if edit %} Update {% endif %}
          </button>
      </form>


<script>
// 1. Auto-expanding textareas
    {% include "includes/script_auto_expand_textarea.html" %}


//2. Change Status of Accreditation when a term is selected for it
    document.addEventListener('DOMContentLoaded', (event) => {
        // Get the term select and status dropdown elements
        const termField = document.querySelector('#id_term');
        const statusDropdown = document.querySelector('#id_status');

        // Trigger the function when a term is selected or changed
        termField.onchange = function() {
            if (termField.value !== "") {  // If some term is selected
                statusDropdown.value = 'active';  // Set status to "active"
            } else {
                statusDropdown.value = 'scheduled';
            }
        }
    });
</script>


{% endblock %}

