{% extends 'base.html' %}
{% load static %}

{% block title %} My Accreditations {% endblock title %}


{% block content %}
    <div class="container mt-4 card card-body">
        <div class = "row">
            <h6 class="col">Accreditation Site Visits</h6>
            <div class="col d-flex justify-content-end">
                <a class="btn btn-sm btn-ISEIblue4 mb-1" href="{{ team_materials.link }}" target="_blank">{{ team_materials.name }}</a>
            </div>
        </div>

        {% if accreditations %}
            <div class="card card-body">
                <table class="table table-striped table-bordered">
                    <thead class="thead table-bordered sticky_head">
                     <tr>
                            <th class="blue-header">School </th>
                            <th class="orange-header2">SelfStudy</th>
                            <th class="orange-header2">Documents</th>
                            <th class="blue-header2">Visit dates </th>
                            <!--th class="blue-header2">Term </th>
                            <th class="blue-header2">Visiting Team Report </th-->
                        </tr>
                    </thead>
                        <tbody class="accreditation-rows">
                            {% for accreditation in accreditations %}

                            <tr>
                                <td class="blue-column">{{ accreditation.school.name }}</td>

                                <td class="orange-column">
                                    {% if accreditation.is_scheduled %}
                                        {% if accreditation.selfstudy %}
                                            <a href="{% url "selfstudy" selfstudy_id=accreditation.selfstudy.id %}">
                                               SelfStudy
                                            </a>
                                        {% endif %}
                                        <p class="small">
                                            Due: <strong>{{ accreditation.selfstudy_due_date }}</strong>
                                        </p>
                                    {% endif %}
                                </td>

                                <td class="orange-column">
                                    {% if accreditation.visiting_team_documents %}
                                        <a href="{{ accreditation.visiting_team_documents }}" target="_blank">
                                            Visiting Team Documents<br>Evidence Documents
                                        </a>
                                    {% endif %}
                                </td>

                                <td class="blue-column small">
                                    {{ accreditation.visit_date_range|default_if_none:"" }}
                                </td>
                            </tr>

                            <!-- TEAM MEMBERS ROW -->
                            <tr class="team-members-row">
                                <td colspan="4" class="small">
                                    <strong>Team members:</strong><br>

                                    {% for membership in accreditation.visiting_team_membership.all %}
                                        {{ membership.user.get_full_name }}
                                        {% if membership.role %}
                                            – {{ membership.role }}
                                        {% endif %}
                                        <br>
                                    {% empty %}
                                        <em>No team members assigned</em>
                                    {% endfor %}
                                </td>
                            </tr>

                            {% empty %}
                            <tr>
                                <td colspan="4">No {{ category|title }} accreditations found.</td>
                            </tr>
                            {% endfor %}
                            </tbody>


                </table>
            </div>

        {% endif %}

    </div>



{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}