/* to mark some elements for not printing */

@media print {
    .noprint {
        display: none; !important;
    }
    button {
        display: none; /* Completely hides buttons in print view */
    }
    body {
        font-size: 10px;  /* Smaller font size for printing */
    }
    table {
        width: 100%;  /* Full width for better use of space */
        border-collapse: collapse; /* Remove spacing between table borders */
    }
    table td, table th {
        font-size: 10px;  /* Smaller font size for table cells */
    }
    .floating-box {
        display: none !important;
    }
    .floating-box-above
     {
        display: none !important;
    }
}



.scrollable-table {
    overflow-x: auto;
}
.scrollable-table2 {
    max-height: 500px; /* Adjust this value based on your requirements */
    overflow-y: auto;
}

.sticky_head {
    position: sticky;
    top: 0;
    z-index: 10;
}

.sticky-column {
    position: sticky;
    left: 0;
    background-color: white;
}

/* used with JS to show/hide elements in report table*/
.approvaltable .table{}
.enablebtn .btn{}
.approvebtn .btn{}
.denybtn .btn{}

/* defined some text and coloring resizing spans */
.spangreen {
    color:green;
}

.spanyellow{
    color: #f1a542;
}

.spanred {
   color: red;
}

.spanblue{
      color: #053A64; /*ISEI blue*/
}

.span80{
    font-size: 80%;
}

.span90{
    font-size: 90%;
}

.span80red {
    color: red;
    font-size: 80%;
}

.span80blue {
    color: #053A64; /*ISEI blue*/
    font-size: 80%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

.form-number {
width: 5px;
}

.success {
  color: green;
}
.info {
  color: blue;
}
.warning {
  color: orange;
}

.error {
    color:red;
    font-weight: normal;
}
.bg-error {
    background-color: red;
}

.error input, .error select {
    border: 2px red solid;
}


/* the next four are necessary to keep the footer on the bottom of the page*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

/* if any changes made here please check login and register templates */
a,h1,h2,h5,h6,h7 {
    color: #084574;
 }

/* login and register */
.user_card {
      width: 350px;
      margin-top: 20px;
      margin-bottom: auto;
      background: #508CBB;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;

    }

.form_container {
      margin-top: 20px;
    }

#form-title {
    color: #053A64;
}
.login_container {
      padding: 0 2rem;
    }
.input-group-text {
    background: #053A64 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    }

.input_user,
.input_pass:focus {
      box-shadow: none !important;
      outline: 0 !important;
    }

/* */

/* to remove increment bars from number boxes*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance:textfield; /* Firefox */
}
.number_input {
    width: 50px; /* Adjust according to your needs */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    padding: 5px;
    border: none;
    background-color: transparent;
    text-align: center; /* Optional: for centering the content */
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 100;
}

#loading-text {
    position: absolute;
    top: 50%; /* adjust this value to move the text up or down */
    left: 50%;
    transform: translate(-50%, -50%); /* centers the text horizontally */
    z-index: 101; /* make sure the text stays on top of the image */
    color: #000; /* color of the text */
}


.popover {
    background: #ffffff;  /* Change color accordingly */
    z-index: 1060; /* Adjust if necessary */
}

.popover .popover-body {
    color: #0B61A4; /* Adjust text color if necessary */
    background: #f7f7f7;
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    border: 2px solid #0B61A4;
    max-width: 100%; /* This ensures that the popover does not overflow the viewport */
}


.vertical-divider {
    border-left: 1px solid #ddd;
    height: auto;
}
.h7 {
    display: block;
    color: #0B61A4;
    font-weight: bold;
}


.bg-ISEIblue4 {
  background-color: #053A64;
  color: #FFFFFF;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.clickable-no-underline {
    cursor: pointer;
}


/* APR Header */
.orange-header {
    background-color: #B56004; /* Muted darker orange for APR header */
    color: white;
    text-align: center;
    border-right: 1px solid #D9B48C; /* Subtle border separating columns */
    padding: 10px;
}

.orange-header2 {
    background-color: #D78F48; /* Muted lighter orange for APR header2 */
    color: white;
    text-align: center;
    border-right: 1px solid #8A4B18; /* Subtle border separating columns */
    padding: 10px;
}

/* APR Columns */
.orange-column {
    background-color: #F9E4C6; /* Light muted beige-orange for cells */
    border-right: 1px solid #D9B48C; /* Subtle column border */
    padding: 10px;
    text-align: left;
}

/* Striped Effect for APR Columns */
.table-striped tbody tr:nth-child(odd) .orange-column {
    background-color: #FDF2E1; /* Very light muted beige-orange for odd rows */
}

.table-striped tbody tr:nth-child(even) .orange-column {
    background-color: #fffaf8; /* White for even rows */
}

/* Hover Effects for APR Columns */
.table-striped tbody tr:hover .orange-column {
    background-color: rgba(215, 143, 72, 0.1); /* Softer, lighter muted orange on hover */
}



/* Accreditation Header */
.blue-header {
    background-color: #053A64; /* Darker blue for Accreditation header */
    color: white;
    text-align: center;
    border-right: 1px solid #B0C4DE; /* Border separating columns */
    padding: 10px;
}

.blue-header2 {
    background-color: #2E74AA; /* Lighter blue for Accreditation header2 */
    color: white;
    text-align: center;
    border-right: 1px solid #2b3c48; /* Border separating columns */
    padding: 10px;
}

/* Accreditation Columns */
.blue-column {
    background-color: #F5F9FC; /* Light grayish-blue for cells */
    border-right: 1px solid #B0C4DE; /* Column border */
    padding: 10px;
    text-align: left;
}

/* Striped Effect for Accreditation Columns */
.table-striped tbody tr:nth-child(odd) .blue-column {
    background-color: #F5F9FC; /* Light grayish-blue for odd rows */
}

.table-striped tbody tr:nth-child(even) .blue-column {
    background-color: #FFFFFF; /* White for even rows */
}

/* Hover Effects for Accreditation Columns */
.table-striped tbody tr:hover .blue-column {
    background-color: rgba(71, 120, 153, 0.1); /* Soft blue on hover */
}


/* Some navbar styling that probably should go in custom css */
/* Disabled menu items */
.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25); /* Disabled items */
}

/* General link styles */
.navbar-dark .nav-link {
  color: #fff; /* White for inactive links */
  text-decoration: none; /* Remove underline */
}

/* Hover and focus styles */
.navbar-dark .nav-link:hover,
.navbar-dark .nav-link:focus {
  color: #fdfd96; /* Light yellow for hover */
  text-decoration: none; /* No underline */
}

/* Active link styles */
.navbar-dark .nav-link.active {
  color: #FFCE00; /* Dark yellow for active link */
  font-weight: bold; /* Make the active link stand out */
}

.sticky-vertical-navbar {
  /* position: -webkit-sticky;  For Safari */
  position: sticky;
  top: 0; /* Makes the navbar stick to the top of the page */
  z-index: 1000; /* Ensures the navbar stays above the content */
  height: calc(100vh - 50px); /* Full viewport height minus some space for the navbar */
  padding-top: 10px; /* Adds space at the bottom to prevent navbar head from being hidden */
}

html {
  scroll-behavior: smooth;
}


.floating-box {
    position: fixed;
    bottom: 20px;  /* Distance from the bottom of the screen */
    right: 20px;   /* Distance from the right side of the screen */
    background-color: #fdfd96; /* Background color */
    border: 1px solid #ccc;    /* Border color */
    padding: 5px 10px;         /* Padding around the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    z-index: 9999;             /* Ensures the box is on top */
    border-radius: 8px;        /* Rounded corners */
    font-size: 16px;           /* Font size */
    display: flex;
    align-items: center;
    justify-content: center;
}



.floating-box-above {
    position: fixed;
    bottom: 60px;  /* Slightly higher than the first box */
    right: 20px;   /* Same distance from the right side */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Customize the specific select field (score) */
.custom-select {
    background-color: rgba(71, 120, 153, 0.12);
    border: 1px solid #2b3c48;
    padding: 3px;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

select {
    background-color: ghostwhite;
    border: 1px solid #2b3c48;
    padding: 3px;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.custom-select:focus {
    border-color: rgba(10, 75, 120, 0.75);
    outline: none;
    box-shadow: 0 0 5px rgba(71, 120, 153, 0.5);
}

.evidence-list {
  column-count: 2; /* Number of columns */
  column-gap: 16px; /* Space between columns */
  list-style: none; /* Optional: Remove default bullets */
  margin: 0;
  padding: 0;
}

.evidence-list li {
  margin-bottom: 4px; /* Space between list items */
  break-inside: avoid; /* Prevent items from breaking across columns */
  word-wrap: break-word; /* Ensure long text wraps properly */
}
