/* colors.css */

@import url('variables.css');  /* Importing the variables file */

.bg-light-blue {
    background-color: var(--light-blue-color);
}

.muted-orange {
    color : #D78F48;
}

.medium-blue{
     color: #2E74AA; /* ISEIblue3  */
}

.dark-blue {
    color:#053A64; /* ISEIblue4  */
}