{% if messages %}
    
     {% if messages %}
        {% for message in messages %}
            <script>
                sessionStorage.setItem(
                    "floatingMessage",
                    JSON.stringify({
                        type: "{{ message.tags }}",
                        text: "{{ message|escapejs }}"
                    })
                );
            </script>
        {% endfor %}
    {% endif %}
    
{% endif %}

<div id="lock-message"
     class="error"
     style="display:none">
</div>