{% if messages %}
    <script>
        const floatingMessages = [];

        {% for message in messages %}
            floatingMessages.push({
                type: "{{ message.tags }}",
                text: "{{ message|escapejs }}"
            });
        {% endfor %}

        sessionStorage.setItem(
            "floatingMessage",
            JSON.stringify({
                type: floatingMessages[0].type,
                text: floatingMessages.map(message => message.text).join("\n")
            })
        );
    </script>
{% endif %}

<div id="lock-message"
     class="error"
     style="display:none">
</div>