<div id="formUpdatedBox" class="floating-box d-none">

    <div class="card border-warning shadow" style="width: 360px;">

        <div class="card-body">

            <p id="formUpdatedMessage" class="font-weight-bold mb-2"></p>

            
                <p class="mb-3">
                    This form has been updated while you were viewing it.
                    To prevent conflicting changes, you must reload the page before editing.
                    Your browser may ask you to confirm that the page should be reloaded.
                </p>
      

            <div class="text-right">
                
                <button
                    id="reloadPageButton"
                    class="btn btn-ISEIblue4 btn-sm">
                    Reload Page
                </button>

            </div>

        </div>

    </div>

</div>