{% extends 'reporting_base.html' %}

{% load static %}
{% block title %} Test Order Form {% endblock title %}


{% block content %}

<!-- Orders by school -->
    <div class="card card-body">
        <table class="table table-sm">
        <tr>
            <th>School</th>
            <th>Order Date</th>
            <th>Reusable Test Booklets</th>
            <th>Answer Sheets</th>
            <th>Direction Booklets</th>
            <th>~ Sub Total</th>
            <th>Complete</th>
        </tr>
        <tr><th># of Students</th><th>Testing Dates</th>
            <th>Count / Level</th>
            <th>Count / Level</th>
            <th>Count / Level</th>
            <th></th><th></th>
        </tr>
        {% for order in test_orders %}
        <tr>
            <td>{{ order.school }}<br>
                {{ order.no_students_testing }} students
            </td>
            <td>{{ order.order_date }}<br>
                {{ order.testing_dates }}
            </td>
            <td class="align-right">
                <table class="table table-sm">
                {% for booklet in order.test_booklets.all %}
                    <tr>
                        <td>{{ booklet.count }}</td><td>{{ booklet.get_level_display }}</td>
                    </tr>
                 {% endfor %}
                </table>
            </td>

            <td class="align-right">
                <table class="table table-sm">
                    {% for sheet in order.answer_sheets.all %}
                        <tr>
                            <td>{{ sheet.count }}</td><td>{{ sheet.get_level_display }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>

            <td class="align-right">
                <table class="table table-sm">
                    {% for booklet in order.direction_booklets.all %}
                        <tr>
                            <td>{{ booklet.count }}</td>
                            <td>{{ booklet.get_level_display }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>

            <td>${{ order.sub_total }}</td>
            <!-- and so on for other fields -->
            <td><a href="{% url 'finalize_order' order.id %}">Complete Order</a></td>
        </tr>
        {% endfor %}
</table>
    </div>

<!-- Orders totals -->
    <div class="card card_body">

        <div class="row justify-content-around">
            <div class="col col-auto">
            <h6>Reusable Test Booklets</h6>
            <table class="table table-sm">
                <thead><th>Level</th><th>Count</th></thead>
                <tbody>
                    {% for level_count in test_booklets_counts %}
                        <tr><td>{{ level_count.level }}</td><td>{{ level_count.total }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

            <div class="col col-auto">
            <h6>Answer Sheets</h6>
            <table class="table table-sm">
                <thead><th>Level</th><th>Count</th></thead>
                <tbody>
                    {% for level_count in answer_sheets_counts %}
                        <tr><td>{{ level_count.level }}</td><td>{{ level_count.total }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

            <div class="col col-auto">
            <h6>Direction Booklets</h6>
            <table class="table table-sm">
                <thead><th>Level</th><th>Count</th></thead>
                <tbody>
                    {% for level_count in direction_booklets_counts %}
                        <tr><td>{{ level_count.level }}</td><td>{{ level_count.total }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>


{% endblock %}

{% block footer_javascript %}

    <script>



    </script>

{% endblock footer_javascript %}
