{% extends 'reporting_base.html' %}

{% load static %}
{% block title %} Resources {% endblock title %}


{% block content %}

        <h6 class="text-center mt-2 mb-2">Member Resources</h6>

        <div class="card card-body">
            <a href="{% url 'school_personnel_directory' %}"> ISEI Directory</a>
        </div>

<!-- Evaluation Resources -->
    <div class="card card-body">
        <h6> Teacher Evaluation Forms </h6>
            <ul>
                {% for resource in teacher_evaluation_resources %}
                  <li><a href="{{ resource.link }}" target="_blank">{{ resource.name }}</a></li>
                {% endfor %}
            </ul>

        <h6> Admin Evaluation Forms </h6>
            <ul>
                {% for resource in admin_evaluation_resources %}
                  <li><a href="{{ resource.link }}" target="_blank">{{ resource.name }}</a></li>
                {% endfor %}
            </ul>

    </div>


{% endblock %}



{% block footer_javascript %}

{% endblock footer_javascript %}
