{% extends 'reporting_base.html' %}
{% load crispy_forms_tags %}

{% block title %} 190-Day Report {% endblock title %}


{% block content %}


    <p class="error">
         It has come to our attention that under certain time conditions, the weekday count displayed might be one day more than expected. Please be assured that we're actively working on this matter. We sincerely apologize for any inconvenience this may cause and appreciate your understanding.
    </p>

    <div class="">
         <div class="row ml-2">
            <h6>{{ annual_report }}</h6>

        </div>

 <!-- Day190 form -->
        <form method="post" id="my_form" enctype="multipart/form-data">
        {% csrf_token %}
            <!-- To disable Enter submit-->
            <input type="submit" disabled style="display: none" aria-hidden="true" />

            <div class="card card-body">
                <div class="row justify-content-around">

<!-- Overall Info -->
                    <div class="col-auto vertical-divider">
<!-- Start and end date -->
                        <table class="table table-sm" style="width: 100%">
                                <tr>
                                    <td style="width: 1px; white-space: nowrap;">
                                        <b>{{ day190_form.start_date.label_tag }}</b>
                                        <i tabindex="0" class="fas fa-info-circle" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right" data-bs-content="First day students are present"></i>
                                    </td>
                                    <td>{{ day190_form.start_date }}{{ day190_form.start_date.errors }}</td>
                                </tr>
                                <tr>
                                    <td style="width: 1px; white-space: nowrap;">
                                        <b>{{ day190_form.end_date.label_tag }}</b>
                                        <i tabindex="0" class="fas fa-info-circle" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right"
                                                data-bs-content="Either the last school day, or graduation date if all students are present for graduation."></i>
                                    </td>
                                    <td> {{ day190_form.end_date }}{{ day190_form.end_date.errors }}</td>
                                </tr>

                              <tr>
                                <td style="width: 1px; white-space: nowrap;">No. of weekdays (in school year):</td>
                                <td style="text-align:left">
                                <input class="number_input" type="text" id="number_of_weekdays" readonly style="border: none"> </td>
                              </tr>
                            </table>

<!-- 180 / 190 day count -->
                         <table class="table-sm table-bordered">
                                <tr>
                                    <td style="width: 1px; white-space: nowrap; ">
                                      {{ day190_form.number_of_days.errors }}
                                      <b>{{ day190_form.number_of_days.label_tag }}</b>
                                    </td>
                                    <td style = "text-align-last: left; border:none">{{ day190_form.number_of_days }}</td>

                                    <td style="width: 1px; white-space: nowrap;"><b>Total Days</b></td>
                                    <td style ="text-align: left"><input class="number_input" type="text" id="total_days" readonly style="border: none"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">*Minimum 180 instructional days</td>
                                    <td colspan="2">*Minimum 190 days</td>
                                </tr>
                                <tr><td colspan="4" id="no_of_days_message"></td></tr>
                            </table>

                         <div class="mt-3">
                         <b>Please upload School Calendar:<br></b>{{ day190_form.file }}
                         {% if day190_form.instance.file %}
                            <p class="mt-2">Current file: <a href="{{ day190_form.instance.file.url }}">{{ day190_form.instance.file.name }}</a></p>
                        {% endif %}
                        </div>
                    </div>

<!-- Vacations formset -->
                    <div class="col-auto vertical-divider">
                            <h6>Vacations and School Breaks<i tabindex="0" class="fas fa-info-circle span80" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right" data-bs-content="Vacation weekdays subtracted from no. of weekdays in school year"></i>
                            </h6>
                        <div id="vacation-formset">
                            {{ formset_vacation.management_form }}
                            <table class="table-sm" style="table-layout:auto ">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Weekdays</th><th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for form in formset_vacation %}
                                    {{ form.id }}
                                    <tr class="individual-form">
                                        <td>{{ form.name }}<span class="error">{{ form.name.errors }}</span></td>
                                        <td>{{ form.start_date }}<span class="error">{{ form.start_date.errors }}</span></td>
                                        <td>{{ form.end_date }}<span class="error">{{ form.end_date.errors }}</span></td>
                                        <td>{{ form.weekdays }}<span class="error">{{ form.weekdays.errors }}</span></td>
                                        <td>  {{ form.DELETE }} </td>
                                    </tr>
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {{ form.non_field_errors }}
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                            <table class="table"><tr><td>
                                        <button type="button" class="btn-ISEIblue4 add-form-button" id="vacation">Add rows</button>
                                        </td>
                                        <td colspan="2" class="text-right"> No. of vacation weekdays: <input class="number_input text-left" type="text" id="total_vacation_days" readonly style="border: none"></td>

                                    </tr>
                            </table>
                        </div>

                        <div style="text-align: right" class="mr-5">
                        </div>

                    </div>

<!-- Sunday School Formset-->
                    <div class="col-auto vertical-divider">
                            <h6>Sunday School Days<i tabindex="0" class="fas fa-info-circle span80" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right"
                                                data-bs-content="Days added to no. of school days. These are Sundays on which the majority of the students involved in Educational Activity. "></i>
                            </h6>
                        <div id="sunday-formset">
                            {{ formset_sunday.management_form }}
                            {% if formset_sunday.non_form_errors %}
                                <div class="alert error">
                                    {{ formset_sunday.non_form_errors }}
                                </div>
                            {% endif %}
                            <table class="table-sm" style="table-layout:auto ">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th><th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for form in formset_sunday %}
                                    {{ form.id }}
                                    <tr class="individual-form">
                                        <td>{{ form.date }}<span class="error">{{ form.date.errors }}</span></td>
                                        <td>{{ form.type }}<span class="error">{{ form.type.errors }}</span></td>
                                          <td>  {{ form.DELETE }} </td>
                                    </tr>
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger danger">
                                            {{ form.non_field_errors }}
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                            <table class="table"><tr><td>
                                        <button type="button" class="btn-ISEIblue4 add-form-button" id="sunday">Add rows</button>
                                        </td>
                                        <td colspan="2" class="text-right"> No. of Sunday school days <input class="number_input text-left" type="text" id="total_sunday_school_days" readonly style="border: none"></td>

                                    </tr>
                            </table>
                        </div>

                        <div style="text-align: right" class="mr-5">
                        </div>

                    </div>

                </div>
            </div>

            <div class="card card-body">
                <div class="row justify-content-around">

<!-- Inservice and Discretionary Days and Hours -->
                    <div class="col-auto vertical-divider">
                        <h6>
                            In-service<i tabindex="0" class="fas fa-info-circle span80" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right"
                                data-bs-content="In-Services are school-wide planned activities designed to increase the competencies needed by teachers."></i>
                            and
                            Discretionary<i tabindex="0" class="fas fa-info-circle span80" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right"
                                data-bs-content="Work days provided to teachers for setting up the classroom at the beginning of the school year (elementary), yearly planning, end of term grades, individual PD days."></i>
                             Days/Hours
                             <i tabindex="0" class="fas fa-info-circle span80" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right"
                                                data-bs-content="Added to the 180 days to make up 190."></i>

                             </h6>

                        <table class="table table-sm ">
                                <tr>
                                    <td class="" style="width: 1px; white-space: nowrap;">{{ day190_form.inservice_days.errors }}
                                        <b>In-service and Discretionary days:</b>
                                    </td>
                                    <td>{{ day190_form.inservice_days }}</td>
                                    <td>
                                        <button id="toggleButton" type="button" class="btn btn-xs btn-outline-ISEIblue4">Detailed Info</button>
                                    </td>
                                </tr>

                                <tr><td colspan="3" id="10_day_message" class="error"></td></tr>
                                <tr><td colspan="3" class="error" id="inservice_day_message"></td></tr>
                            </table>

                        <div id="inservice-formset">
                            {{ formset_inservice.management_form }}
                            <table class="table-sm">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Dates</th>
                                        <th>Hours</th><th>Delete</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for form in formset_inservice %}
                                    {{ form.id }}
                                    <tr class="individual-form">
                                        <td>{{ form.type }}<span class="error">{{ form.type.errors }}</span></td>
                                        <td>{{ form.dates }}<span class="error">{{ form.dates.errors }}</span></td>
                                        <td>{{ form.hours }}<span class="error">{{ form.hours.errors }}</span></td>
                                        <td>  {{ form.DELETE }} </td>
                                    </tr>
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {{ form.non_field_errors }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                            <table class="table">
                                    <tr><td class="text-left"><button type="button" class="btn-ISEIblue4 add-form-button" id="inservice">Add rows</button></td>
                                        <td colspan="3"> *There must be a minimum of 30 in-service hours.</td>
                                    </tr>
                                    <tr>
                                        <td>Total: <input class="number_input" type="text" id="total_inservice_discretionary_hours" readonly style="border: none"></td>
                                        <td>Discretionary: <input class="number_input" type="text" id="total_discretionary_hours" readonly style="border: none"></td>
                                        <td>Inservice: <input class="number_input" type="text" id="total_inservice_hours" readonly style="border: none"></td>
                                    </tr>
                                    <tr><td colspan="3" class="error" id="30_hr_message"></td></tr>
                            </table>
                        </div>
                    </div>

<!-- Enrichement Activity Formset-->
                    <div class="col-auto vertical-divider">
                        <h6>Educational Enrichment Activity<i tabindex="0" class="fas fa-info-circle span80" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right"
                                                data-bs-content="In lieu of regular classroom instruction. These days do not alter the number of school days."></i>


                        </h6>
                        <div id="enrichment-formset">
                            {{ formset_enrichment.management_form }}
                            <table class="table-sm" style="table-layout:auto ">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Dates</th>
                                        <th>Days</th><th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for form in formset_enrichment %}
                                    {{ form.id }}
                                    <tr class="individual-form">
                                        <td>{{ form.type }}<span class="error">{{ form.type.errors }}</span></td>
                                        <td>{{ form.dates }}<span class="error">{{ form.dates.errors }}</span></td>
                                        <td>{{ form.days }}<span class="error">{{ form.days.errors }}</span></td>
                                        <td>  {{ form.DELETE }} </td>
                                    </tr>
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {{ form.non_field_errors }}
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                            <table class="table"><tr><td>
                                <button type="button" class="btn-ISEIblue4 add-form-button" id="enrichment">Add rows</button>
                                </td>
                                <td colspan="2" class="text-right"> No. of Enrichment Days <input class="number_input text-left" type="text" id="enrichment_days" readonly style="border: none"></td>

                            </tr>
                                <tr><td colspan="4">*Maximum 20 days per school year (with the majority of the students participating)</td></tr>
                            </table>
                        </div>

                        <div style="text-align: right" class="mr-5">
                        </div>

                    </div>

<!-- AbbreviatedDays formset -->
                    <div class="col-auto vertical-divider">
                        <h6>Abbreviated Days<i tabindex="0" class="fas fa-info-circle span80" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right"
                                                data-bs-content="Part of the 180 days (last day before break, orientation, graduation, etc.)"></i>
                        </h6>

                        <div id="abbreviated-formset">
                            {{ formset_abbreviated.management_form }}
                            <table class="table-sm">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Hours</th><th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for form in formset_abbreviated %}
                                    {{ form.id }}
                                    <tr class="individual-form">
                                        <td>{{ form.date }}<span class="error">{{ form.date.errors }}</span></td>
                                        <td>{{ form.hours }}<span class="error">{{ form.hours.errors }}</span></td>
                                        <td>  {{ form.DELETE }} </td>
                                    </tr>
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {{ form.non_field_errors }}
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <table class="table">
                            <tr><td>
                                    <button type="button" class="btn-ISEIblue4 add-form-button" id="abbreviated">Add rows</button>
                                </td>

                            </tr>
                            <tr><td>*less than 6.5 hrs and more than 3.5 hrs <br>
                                    (no more than three per school-year)</td>
                            </tr>
                        </table>

                    </div>

                </div>
            </div>

<!-- Discretionary and inservice Info -->
            <div class="card">
                <div id="inservice_discretionary_info" style="display:none;">
                    {% include 'inservice_discretionary_info.html' with discretionary_div=True %}
                </div>
            </div>

            <!-- empty templates -->
            <div>
                <template id="empty_vacation_form_template">
                    <tr class="individual-form">
                        <td>
                            {{ formset_vacation.empty_form.name }}
                            <span class="error">{{ formset_vacation.empty_form.name.errors }}</span>
                        </td>
                        <td>
                            {{ formset_vacation.empty_form.start_date }}
                            <span class="error">{{ formset_vacation.empty_form.start_date.errors }}</span>
                        </td>
                        <td>
                            {{ formset_vacation.empty_form.end_date }}
                            <span class="error">{{ formset_vacation.empty_form.end_date.errors }}</span>
                        </td>
                        <td>
                            {{ formset_vacation.empty_form.weekdays }}
                            <span class="error">{{ formset_vacation.empty_form.weekdays.errors }}</span>
                        </td>
                        <td>  {{ formset_vacation.empty_form.DELETE }} </td>
                    </tr>
                    {% if formset_vacation.empty_form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ formset_vacation.empty_form.non_field_errors }}
                        </div>
                    {% endif %}
                </template>

                <template id="empty_inservice_form_template">
                    <tr class="individual-form">
                        <td>
                            {{ formset_inservice.empty_form.type }}
                            <span class="error">{{ formset_inservice.empty_form.type.errors }}</span>
                        </td>
                        <td>
                            {{ formset_inservice.empty_form.dates }}
                            <span class="error">{{ formset_inservice.empty_form.dates.errors }}</span>
                        </td>
                        <td>
                            {{ formset_inservice.empty_form.hours }}
                            <span class="error">{{ formset_inservice.empty_form.hours.errors }}</span>
                        </td>
                        <td>  {{ formset_inservice.empty_form.DELETE }} </td>
                    </tr>
                    {% if formset_inservice.empty_form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ formset_inservice.empty_form.non_field_errors }}
                        </div>
                    {% endif %}
                </template>

                <template id="empty_abbreviated_form_template">
                    <tr class="individual-form">
                        <td>
                            {{ formset_abbreviated.empty_form.date }}
                            <span class="error">{{ formset_abbreviated.empty_form.date.errors }}</span>
                        </td>
                        <td>
                            {{ formset_abbreviated.empty_form.hours }}
                            <span class="error">{{ formset_abbreviated.empty_form.hours.errors }}</span>
                        </td>
                        <td>  {{ formset_abbreviated.empty_form.DELETE }} </td>
                    </tr>
                    {% if formset_abbreviated.empty_form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ formset_abbreviated.empty_form.non_field_errors }}
                        </div>
                    {% endif %}
                </template>

                <template id="empty_sunday_form_template">
                    <tr class="individual-form">
                        <td>
                            {{ formset_sunday.empty_form.date }}
                            <span class="error">{{ formset_sunday.empty_form.date.errors }}</span>
                        </td>
                        <td>
                            {{ formset_sunday.empty_form.type }}
                            <span class="error">{{ formset_sunday.empty_form.type.errors }}</span>
                        </td>
                        <td>  {{ formset_sunday.empty_form.DELETE }} </td>
                    </tr>
                    {% if formset_sunday.empty_form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ formset_sunday.empty_form.non_field_errors }}
                        </div>
                    {% endif %}
                </template>

                <template id="empty_enrichment_form_template">
                    <tr class="individual-form">
                        <td>
                            {{ formset_enrichment.empty_form.type }}
                            <span class="error">{{ formset_enrichment.empty_form.type.errors }}</span>
                        </td>
                        <td>
                            {{ formset_enrichment.empty_form.dates }}
                            <span class="error">{{ formset_enrichment.empty_form.dates.errors }}</span>
                        </td>
                        <td>
                            {{ formset_enrichment.empty_form.no_school_days }}
                            <span class="error">{{ formset_enrichment.empty_form.no_school_days.errors }}</span>
                        </td>
                        <td>  {{ formset_enrichment.empty_form.DELETE }} </td>
                    </tr>
                    {% if formset_enrichment.empty_form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ formset_enrichment.empty_form.non_field_errors }}
                        </div>
                    {% endif %}
                </template>
            </div>


<!-- Submission Buttons-->
            <div class = "card-body card">
 <!-- Error message -->
             <div id="enough_days" style="display: none;">
                  <div class="row justify-content-center"><h6 class="error"> Some requirements are not met! </h6> </div>
                  <div class="row justify-content-center"><h6> Please check the messages in <span class="error"> red </span> before submission.</h6></div>
            </div>
                <div class="row mt-2">
                      <div class="col d-flex justify-content-center">
                        <button class="btn btn-sm btn-ISEIblue2" type="submit" name="save">Save and Finalize Later</button>
                      </div>
                      <div class="col d-flex justify-content-center">
                           <button class="btn btn-sm btn-success" type="submit" name="submit">Report Complete</button>
                      </div>
                      <div class="col d-flex justify-content-center">
                        <a class="btn btn-sm btn-danger" href="{% url 'school_dashboard' annual_report.school.id %}" onclick="return confirm('Any changes made will not be saved. Do you want to continue?');">Exit without saving</a>
                      </div>
                </div>
            </div>


        </form>

    </div>





<script>
//add new forms in the formset
    $(document).ready(function(){
        $(".add-form-button").click(function(){
            var buttonId = $(this).attr("id");

            if (buttonId === "abbreviated") {
                var countForms = $(`#${buttonId}-formset table tbody .individual-form`).length;
                if (countForms >= 3) {
                    alert('There can be a maximum of 3 abbreviated days');
                    return;  // Prevent the rest of the function from executing
                }
            }

            // target formset inside the tbody
            var formset = document.querySelector(`#${buttonId}-formset table tbody`);

            var emptyFormTemplate = document.getElementById("empty_" + buttonId + "_form_template");
            var totalForms = document.querySelector(`input[name="${buttonId}-TOTAL_FORMS"]`);

            var newIndex = formset.getElementsByClassName("individual-form").length;
            var newFormHtml = emptyFormTemplate.innerHTML.replace(/__prefix__/g, newIndex);

            // Create new form DOM Element
            var newForm = document.createElement("tr");
            newForm.className = "individual-form";
            newForm.innerHTML = newFormHtml;



            // Append to the formset
            formset.appendChild(newForm);

            // Increase the value of TOTAL_FORMS.
            totalForms.value = parseInt(totalForms.value) + 1;
        });
    });

// hide forms marked for deletion
    $(document).ready(function(){
        $(document).on('change', ":input[name$='-DELETE']", function() {
            if(this.checked) {
                $(this).parents('tr').hide();
            } else {
                $(this).parents('tr').show();
            }
        });
    });


//calculate no of weekdays between two dates
/* tested and it doesn't work US
  function countWeekdays(startDate, endDate) {
    var weekdays = 0;
    var currentDate = new Date(startDate);
    while (currentDate <= endDate) {
        // 0: Sunday, 6: Saturday
        if (currentDate.getDay() !== 0 && currentDate.getDay() !== 6) {
            weekdays++;
        }
        currentDate.setDate(currentDate.getDate() + 1)
    }
    return weekdays;
  }
*/

/*
    function countWeekdays(startDate, endDate) {
      // create Date objects from UTC strings
      var start = new Date(Date.UTC(startDate.getFullYear(), startDate.getMonth(), startDate.getDate()));
      var end = new Date(Date.UTC(endDate.getFullYear(), endDate.getMonth(), endDate.getDate()));

      var weekdays = 0;

      while (start <= end) {
        if (start.getUTCDay() !== 0 && start.getUTCDay() !== 6) {
          weekdays++;
        }
        start.setUTCDate(start.getUTCDate() + 1);
      }
      return weekdays;
    }
 */

    function countWeekdays(startInput, endInput) {
        const startDate = new Date(startInput); // parse input
        const endDate = new Date(endInput);
        let count = 0;
        for (let d = new Date(new Date(startDate).setHours(0, 0, 0, 0)); d <= endDate; d.setDate(d.getDate() + 1)) {
            const day = d.getDay();
            if (day !== 0 && day != 6) {
                // it's a week day
                count++;
            }
        }
        return count;
    }



  // Function to calculate total vacation weekdays
    function calculateTotalVacationDays() {
        var totalVacationDays = 0;
        var numberOfVacations = parseInt($("#id_vacation-TOTAL_FORMS").val());

        for (var i = 0; i < numberOfVacations; i++) {
            var weekdaysInput = $('#id_vacation-' + i + '-weekdays');
            if (weekdaysInput.length > 0 && weekdaysInput.val() !== '') {  // Check if the input element exists and has a value
                totalVacationDays += parseInt(weekdaysInput.val());
            }
        }

        $('#total_vacation_days').val(totalVacationDays);
    }

//calculate and set no of weekdays in a vacation
    $(document).on('blur', 'input[id^="id_vacation-"][id$="-start_date"], input[id^="id_vacation-"][id$="-end_date"]', function(){
        var formIndex = $(this).attr('id').split('-')[1];
        var start = $('#id_vacation-' + formIndex + '-start_date').val();
        var end = $('#id_vacation-' + formIndex + '-end_date').val();

        if (start && end) {
            var startDate = new Date(start);
            var endDate = new Date(end);
            var totalWeekdays = countWeekdays(startDate, endDate);
            $('#id_vacation-' + formIndex + '-weekdays').val(totalWeekdays);
            calculateTotalVacationDays(); // Also update the total vacation days
            updateNumberOfDays(); // Update number_of_days after the change
        }
    });


  //calculate and set no of weekdays between school begining and end date
    $(document).ready(function() {
        var calculateDays = function() {
            var start = $('#id_start_date').val();
            var end = $('#id_end_date').val();

            if (start && end) {
                var startDate = new Date(start);
                var endDate = new Date(end);
                var totalWeekdays = countWeekdays(startDate, endDate);
                $('#number_of_weekdays').val(totalWeekdays);
            }
        };

        calculateTotalVacationDays();


        $('#id_start_date, #id_end_date').each(function () {
            // If the inputs have values already, calculate the days
            if ($(this).val()) {
                calculateDays();
                updateNumberOfDays();
            }
        });

        $(document).on('blur', '#id_start_date, #id_end_date', function() {
            calculateDays();
            updateNumberOfDays(); // Update number_of_days after the change
        });
    });


// general message if there aren't enough school days, i and d days, or inservice hours planned
    var enough_school_days = true
    var enough_i_d_days = true
    var enough_i_hours = true
    var i_d_match = true

    function enough_days() {
            if (!enough_school_days || !enough_i_d_days || !enough_i_hours || !i_d_match) {
                $('#enough_days').show();
            } else {
                $('#enough_days').hide();
            }
        }

    $(document).ready(function() {
        // Call the function initially to set the initial visibility
        enough_days();
    });


//update number of school days and total days
    function updateNumberOfDays() {
        const totalVacationDays = parseInt($('#total_vacation_days').val()) || 0;
        const numberOfWeekdays = parseInt($('#number_of_weekdays').val()) || 0;
        const numberOfSundays = parseInt($('#total_sunday_school_days').val()) || 0;
        const numberOfDays = numberOfWeekdays - totalVacationDays + numberOfSundays;

        if (numberOfDays < 180) {
            $('#id_number_of_days').removeClass('text-success'); // removes the green and yellow colors
            $('#id_number_of_days').addClass('text-danger'); // adds the red color
            $('#no_of_days_message').text('Number of school days is too low!').addClass('text-danger'); // changes the text content of the specific td
            enough_school_days = false; enough_days();
        } else if (numberOfDays > 220) {
            $('#id_number_of_days').removeClass('text-success'); // removes the green and red colors
            $('#id_number_of_days').addClass('text-danger'); // adds the yellow color
            $('#no_of_days_message').text('That seems like too many days! Did you enter vacations?').addClass('text-danger'); // changes the text content of the specific td
            enough_school_days = true; enough_days();
        } else {
            $('#id_number_of_days').removeClass('text-danger'); // removes the red and yellow colors
            $('#id_number_of_days').addClass('text-success'); // adds the green color
            $('#no_of_days_message').text(''); // changes the text content of the specific td
            enough_school_days = true; enough_days();
        }

        $('#id_number_of_days').val(numberOfDays);
         var inserviceDays = parseInt($('#id_inservice_days').val()) || 0;
         var totalDays = numberOfDays + inserviceDays;

         if (totalDays < 190) {
            $('#total_days').removeClass('text-success'); // removes the green color
            $('#total_days').addClass('text-danger'); // adds the red color
        } else {
            $('#total_days').removeClass('text-danger'); // removes the red color
            $('#total_days').addClass('text-success'); // adds the green color
        }

         $('#total_days').val(totalDays);
      }

     // Calculate the number of days and set the value every time when days count or dates could be changed:
    $(document).on('change', '#total_sunday_school_days',updateNumberOfDays);
    $(document).on('change', '#id_inservice_days', updateNumberOfDays);



//inservice and discretionary day calculations

    $(document).ready(function() {
        function calcTotal() {
            var discretionary = 0;
            var inservice = 0;
            var total = 0;

            var inserviceDays = parseFloat($("#id_inservice_days").val());
            if (isNaN(inserviceDays) || inserviceDays == "") { inserviceDays = 0; }

            if (inserviceDays< 10) {
                 $('#10_day_message').html("There must be a minimum of 10 days.<br> Up to five might be discretionary.")
                enough_i_d_days = false; enough_days();
            }else{
                $('#10_day_message').html("");
                enough_i_d_days = true; enough_days();
            }

            var minCalcHours = inserviceDays * 6 - 2;
            var maxCalcHours = inserviceDays * 8;

            $('input[id^="id_inservice-"][id$="-hours"]').each(function () {
                var val = parseFloat($(this).val());
                if (isNaN(val) || val.length === 0) {
                    val = 0;
                }
                var type = $(this).closest('tr').find('select[id^="id_inservice-"][id$="-type"]').val();
                if (type === 'DS') {
                    discretionary += val;
                } else {
                    inservice += val;
                }

                total += val;
            });

            if (inservice < 30) {
                $('#total_inservice_hours').addClass('text-danger');
                $('#30_hr_message').html("There must be a minimum of 30 in-service hours");
                enough_i_hours = false; enough_days();
            } else {
                $('#total_inservice_hours').removeClass('text-danger');
                 $('#30_hr_message').html("");
                 enough_i_hours = true; enough_days();
            }

            // Checks for at least 30 inservice hours
            if (total < minCalcHours || total > maxCalcHours) {
                 $('#inservice_day_message').html("<ul>" +
                  " <li>No. of days (above) and no. of hours (below) don't seem to match.</li>" +
                   "<li>6-8 hours would count as a day</li>"+
                   "<li>Did you enter planned activities below?</li>");
                    i_d_match = false; enough_days();
            } else {
                $('#inservice_day_message').html("");
                i_d_match = true; enough_days();
            }


            // Update the values
            $('#total_discretionary_hours').val(discretionary+' hrs');
            $('#total_inservice_hours').val(inservice+' hrs');
            $('#total_inservice_discretionary_hours').val(total+' hrs');

        }

        // Calculate totals on load
        calcTotal();

        // Calculate totals whenever the hours or type changes on any row
        $('input[id^="id_inservice-"][id$="-hours"], select[id^="id_inservice-"][id$="-type"], #id_inservice_days').change(function () {
            calcTotal();
        });
    });

// count number of Sundays
    $(document).ready(function() {
        function update_sunday_school_days() {
            var totalSundaySchoolDays = 0;
            $("#sunday-formset .individual-form").each(function() {
                var inputDate = $(this).find("input[name$='date']").val();
                var inputType = $(this).find("input[name$='type']").val();
                if(!(inputDate === "" || inputType === "")) {
                    totalSundaySchoolDays += 1;
                }
            });
            $("#total_sunday_school_days").val(totalSundaySchoolDays).change();
        }

        $("#sunday").click(function() {
            setTimeout(update_sunday_school_days, 100);  // delay to allow for row to update
        });

        $("#sunday-formset").on("change", "input[name$='date'], select[name$='type']", function() {
            setTimeout(update_sunday_school_days, 100);
        });

        update_sunday_school_days();  // call the function to count the number of Sunday formsets on page load
    });

// count enrichment days
    $(document).ready(function() {
        function update_enrichment_days() {
            var totalEnrichmentDays = 0;
            $("#enrichment-formset .individual-form").each(function() {
                var noSchoolDays = $(this).find("input[name$='days']").val();
                totalEnrichmentDays += parseInt(noSchoolDays, 10) || 0;
            });
            $("#enrichment_days").val(totalEnrichmentDays);

            if (totalEnrichmentDays > 20) {
                $("#enrichment_days").css('color', 'red');
            } else {
                $("#enrichment_days").css('color', '');  // default text color
            }
        }

        $("#enrichment-formset").on("change", "input[name$='days']", function() {
            setTimeout(update_enrichment_days, 100);  // delay to allow for form to update
        });

        update_enrichment_days();  // call the function to sum up the number of enrichment formsets on page load
    });

// limit dates

    jQuery(function($) {

        // start and end date selectors
        var start_date_selector = "#id_start_date";
        var end_date_selector = "#id_end_date";

        // other date field selectors - you'll substitute these with the correct selectors
        var vacation_start_dates_selector = 'input[id^="id_vacation-"][id$="-start_date"]';
        var vacation_end_dates_selector = 'input[id^="id_vacation-"][id$="-end_date"]';
        var sunday_dates_selector = 'input[id^="id_sunday-"][id$="-date"]';
        var abbreviated_dates_selector = 'input[id^="id_abbreviated-"][id$="-date"]';

        // a function to update min and max for date pickers
        var update_date_ranges = function() {
            var start_date = $(start_date_selector).val() || null;
            var end_date = $(end_date_selector).val() || null;

            $(vacation_start_dates_selector +', ' + vacation_end_dates_selector +', ' + sunday_dates_selector + ', ' + abbreviated_dates_selector)
                .attr({"min": start_date, "max": end_date});
        };

        // initial update so values are correct on page load
        update_date_ranges();

        // listen to changes on start and end fields
        $(document).on('blur', start_date_selector + ', ' + end_date_selector, update_date_ranges);
    });


// toggle Info box
      $(document).ready(function(){
        $("#toggleButton").click(function(){
            $("#inservice_discretionary_info").toggle();  // This will hide and show the div with id myContent
        });
    });

//Popover
      document.addEventListener("DOMContentLoaded", function(){
          var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
          var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl, {
              trigger: 'hover'
            })
          })
        });

</script>

{% endblock %}