{% extends 'reporting_base.html' %}

{% block title %} 190-Day Report {% endblock title %}


{% block content %}

    <div class="card card-body">

        <div class="row justify-content-around">
<!-- General Info -->
            <div class ="col col-auto vertical-divider">
                <h6 style="text-align:center">190 Day Report for {{ current_school_year.name }} School Year</h6>

                <table class="table">
                    <tr>
                        <td>Start-End Date</td>
                        <td>{{day190_report.start_date}} -- {{day190_report.end_date}}</td>
                    </tr>
                    <tr>
                        <td>School Days (min 180):</td><td><b  style="{% if day190_report.number_of_days < 180 %}color: red;{% endif %}">{{day190_report.number_of_days}}</b></td>
                    </tr>
                    <tr>
                        <td>Number of In-service Days (min 10):</td><td  style="{% if day190_report.inservice_days < 10 %}color: red;{% endif %}">{{day190_report.inservice_days}}</td>
                    </tr>
                    <tr>
                        <td>Total Days (min 190):</td><td><b style="{% if day190_report.inservice_days|add:day190_report.number_of_days < 190 %}color: red;{% endif %}">{{ day190_report.inservice_days|add:day190_report.number_of_days }}</b></td>
                    </tr>
                </table>
            </div>
<!-- Vacations -->
            <div class="col col-auto vertical-divider">
                <h6 style="text-align:center" >Vacations</h6>
                <table class="table">
                    <thead>
                        <th>Vacation</th><th>Start-End Date</th><th>Weekdays</th>
                    </thead>
                    <tbody>
                        {% for vacation in vacations_report %}
                            <tr>
                                <td>{{vacation.name}}</td>
                                <td>{{vacation.start_date}} -{{vacation.end_date}}</td>
                                <td style="text-align:center">{{vacation.weekdays}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
<!--Sunday School Days-->
            <div class="col col-auto vertical-divider">
                <h6 style="text-align:center">Sunday School Days</h6>
                <table class="table">
                    <thead>
                        <th>Type</th><th>Date</th>
                    </thead>
                    <tbody>
                        {% for day in sunday_school_days_report %}
                            <tr>
                                <td>{{day.get_type_display}}</td>
                                <td>{{day.date}}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td style="text-align: right">Total:</td>
                            <td><b>{{ sunday_school_days_count }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-5 justify-content-around">
<!-- In-service and Discretionary -->
            <div class="col col-auto">
                <h6 style="text-align:center">In-service and Discretionary Hours</h6>
                <table class="table">
                    <thead>
                        <th>Type</th><th>Dates</th><th>Hours</th>
                    </thead>
                    <tbody>
                        {% for inservice_day in inservice_days_report %}
                            <tr>
                                <td>{{inservice_day.get_type_display}}</td>
                                <td>{{inservice_day.dates}}</td>
                                <td>{{inservice_day.hours}}</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td colspan="" style = "text-align: right">Inservice Hours (min 30):</td>
                                <td><b style="{% if total_inservice_hours < 30 %} color: red;{% endif %}">{{ total_inservice_hours }}</b></td>
                                <td colspan="" style = "text-align: right">Total:</td>
                                <td><b style="{% if total_inservice_discretionary_hours < 60 %} color: red;{% endif %}">{{ total_inservice_dictionary_hours}}</b></td>
                            </tr>
                    </tbody>
                </table>
            </div>
<!--Educational Enrichment Activities-->
            <div class="col col-auto">
                <h6 style="text-align:center">Educational Enrichment Activities</h6>
                <table class="table">
                    <thead>
                        <th>Type</th><th>Dates</th><th>Days</th>
                    </thead>
                    <tbody>
                        {% for activity in educational_enrichment_activities_report %}
                            <tr>
                                <td>{{activity.get_type_display}}</td>
                                <td>{{activity.dates}}</td>
                                <td>{{activity.days}}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" style="text-align: right">Total (max 20):</td>
                            <td><b style="{% if educational_enrichment_days_total > 20 %} color: red;{% endif %}">{{ educational_enrichment_days_total }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
<!-- Abbreviated Days -->
            <div class="col col-auto vertical-divider">
                <h6 style="text-align:center">Abbreviated Days</h6>
                <table class="table">
                    <thead>
                        <th>Date</th><th>Hours</th>
                    </thead>
                    <tbody>
                        {% for abbreviated_day in abbreviated_days_report %}
                            <tr>
                                <td>Date: {{abbreviated_day.date}}</td>
                                <td>Hours: {{abbreviated_day.hours}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div>
            <a href="{% url 'day190_report' arID %}" class="btn btn-sm btn-ISEIblue2">Edit Report</a>
        </div>
    </div>
{% endblock %}