{% extends 'reporting_base.html' %}

{% load static %}

{% block title %} Employee Report {% endblock title %}


{% block content %}

    {% if 'employee_report_display' not in request.path %}
         <h6 style="text-align:left">Employee Report {{ school}} ({{ school_year }})</h6>
        <div class="card card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <a class="btn btn-sm btn-ISEIyellow" href="{% url 'import_employee_prev_year' arID %}">Import Employees from {{ school_year.get_previous_school_year }}</a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button class="btn btn-sm btn-ISEIblue2" type="submit" name="save">Save and Finalize Later</button>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button class="btn btn-sm btn-success" type="submit" name="complete">Report Complete</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="row ml-5">
            {% for message in messages %}
                   {% for message in messages %}
                        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endfor %}
        </div>
    {% else %}
        <h6 style="text-align:right">Employee Report {{ school}} ({{ school_year }})</h6>
    {% endif %}

    <div class="card card-body">

     {% for personnel_group in personnel_groups %}

         <div class="row mt-2">
            <div class="col-auto">
                <h6 class="toggle-table clickable" data-target="#table-{{ forloop.counter }}">{{ personnel_group.group_name }}</h6></div>
            <div class="col-auto">
                 {% for key, explanation in map.items %}
                    {% if key == personnel_group.code %}
                        {{ explanation }}
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <table class="table table-sm table-bordered table-striped" id="table-{{ forloop.counter }}" style="display: table;">
            <thead class="table-ISEIblue4">
                <tr>
                    {% if 'employee_report_display' not in request.path %}
                        <th rowspan="2"></th>
                    {% endif %}
                    <th rowspan="2">Name</th>
                    <th rowspan="2">Status</th>
                    <th rowspan="2">Positions</th>
                    <th rowspan="2">Degrees</th>
                    <th colspan="2" style="text-align: center">Years Experience</th>
                    <th rowspan="2">Email Address</th>
                    <th rowspan="2">Phone Number</th>
                    <th colspan="2" style="text-align: center">ISEI/NAD Certification</th>
                    <th colspan="2" style="text-align: center">Subjects</th>
                    <th rowspan ="2">SDA</th>
                </tr>
                <tr><th>Total</th>
                    <th>At {{ school }}</th>
                    <th>Type & Renewal Date</th>
                    <th>Endorsements</th>
                    <th>Teaching Now</th>
                    <th>All Taught</th>
                </tr>

            </thead>
            <tbody>
            {% for personnel_dict in personnel_group.group_personnel %}
                 {% with p=personnel_dict.personnel %}
                <tr>
                    {% if 'employee_report_display' not in request.path %}
                        <td>
                            <a href="{% url 'employee_edit' arID=arID personnelID=p.id %}">
                                Edit
                            </a>
                        </td>
                    {% endif %}
                    <td>{{ p.first_name }} {{ p.last_name }}</td>
                    <td>{{ p.get_status_display }}</td>
                    <td>{% for pos in p.positions.all %} {{ pos }} {% if not forloop.last %}<br> {% endif %}{% endfor %}</td>
                    <td>{% for deg in p.personneldegree_set.all %} {{ deg.degree }} - {{ deg.area_of_study }} {% if not forloop.last %}<br> {% endif %}{% endfor %}</td>
                    <td>{% if p.years_administrative_experience %}
                            Administrative: {{ p.years_administrative_experience|default_if_none:""  }}<br>
                        {% endif %}
                        {% if p.years_teaching_experience %}
                            Teaching: {{ p.years_teaching_experience|default_if_none:""  }}<br>
                        {% endif %}
                        {% if p.years_work_experience %}
                            Work: {{ p.years_work_experience|default_if_none:""  }}
                        {% endif %}
                    </td>
                    <td>{{ p.years_at_this_school|default_if_none:""  }}</td>
                    <td>{{ p.email_address|default_if_none:""  }}</td>
                    <td>{{ p.phone_number|default_if_none:""  }}</td>
                    <td>{% if personnel_dict.certification_type %}
                            {{ personnel_dict.certification_type }}<br>
                            {{ personnel_dict.renewal_date }}
                        {% endif %}</td>
                    <td>{% for endorsement in personnel_dict.endorsements %}
                            {{ endorsement }}<br>
                        {% endfor %}
                    </td>
                    <td>{% for subj_teach in p.subjects_teaching.all %} {{ subj_teach }} {% if not forloop.last %}<br> {% endif %}{% endfor %}</td>
                    <td>{% for subj_t in p.subjects_taught.all %} {{ subj_t }} {% if not forloop.last %}<br> {% endif %}{% endfor %}</td>
                    <td>{% if p.sda %}Yes{% else %}No{% endif %}</td>
                </tr>
                {% endwith %}
            {% endfor %}
                {% if 'employee_report_display' not in request.path %}
                    <tr>
                        <td colspan="14" style="text-align: right">
                            <a href="{% url 'employee_add' arID=arID positionCode=personnel_group.code %}">
                              <button class="btn-ISEIblue2">Add New Personnel</button>
                            </a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% endfor %}

    </div>

<script>
    $(document).ready(function(){
      $('.toggle-table').click(function(){
        var target = $(this).data('target');
        $(target).toggle();
      });
    });
</script>



{% endblock %}