

    <div class="card card-body">

        {% if discretionary_div %}
            <div>There must be <b>minimum of 10 In-Service</b> and <b>Discretionary</b> days:
                <ul> <li>up to 5 can be <b>Discretionary</b></li>
                     <li><b>at least 5</b> must be <b>In-service days</b></li>
                </ul>
            </div>

            <p><b>Discretionary</b> days are work days provided to teachers for setting up the classroom at the beginning of the school year, yearly planning, end of term grades, individual PD days, etc.)</p>
        {% endif %}


    <p><b>In-Service education</b> is defined as a school-wide program of planned activities designed to increase the competencies needed by teachers in the performance of their professional responsibilities. In this context, “competencies’ are defined as the knowledge, skills, and attitudes which enable teachers to carry out their teaching responsibilities with maximum effectiveness.</l>
        </p>

        <p><b><u>Guidelines for Planning Approvable In-Service Education Activities</u></b></p>

        <p><b>Number of in-service days.</b> There must be a <span class="spanred"> minimum of 30 in-service hours</span>. Please list the dates on which your school had in-service for all or most of the teachers. In the columns marked “hours”, indicate the number of hours devoted to in-service on that date. One whole day of in-service is 6 hours. A half-day is 3 hours. No more than 6-hours can be made up of 1-2 hour in-services. The 1-2 hour in-services may be held on a regular “student present” school day.
        </p>

        <b>Guidelines for Development of In-Service Plans</b>
            <ol>
                <li>The development of a comprehensive in-service plan is an administrative project that involves careful and deliberate planning by the principal. A minimum of 5 days of planned in-service education, each of which shall be equivalent to not less than 6 hours of activities, shall be developed. All 5 of these days shall be identified in the annual school calendar and may at the discretion of the school, include partial days.</li>
                <li>A recommended sequence for developing an in-service education program is to: establish priorities, assess needs, develop objectives, design in-service training, and evaluate the effectiveness of each in-service session.</li>
                <li>A plan for in-service training must be completed and submitted annually to the ISEI office.</li>
            </ol>

        <b>Approved Activities for In-Service</b>
            <ol><li>In-Service activities designed to help teachers improve their teaching.</li>
                <li>Workshops and/or other activities based on the assessed needs of the school.</li>
                <li>Studies of: teaching methods and strategies, classroom management, child development, curriculum and instruction, motivation, community involvement, planning and evaluation. </li>
                <li>Workshops, seminars, conferences, and ISEI sponsored activities, which are related to a teacher’s assignment or to a school’s objectives.</li>
                * To validate activities from category 3. and 4. a written record of attendance/participation must be maintained in the file.
            </ol>
    </div>