{% extends 'reporting_base.html' %}

{% block title %} School Reports {% endblock title %}


{% block content %}

    <table class="table table-striped table-sm mt-2">
        <thead class="sticky_head table-ISEIblue4">
            <tr><th>#</th>
                <th>School</th>
                {% for report_type in report_types %}
                <th> {{ report_type.name }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
        <tr><td>{{ forloop.counter }}</td>
            <td>
                <a class="" href="{% url 'school_dashboard' school.id %}"> {{school.name}} </a></div>
            </td>
            {% for report_type in report_types %}
            <td>
                {% for report in school.annual_reports %}
                    {% if report.report_type.name == report_type.name %}
                        {% if report.submit_date %}
                            <i class="fas fa-check"></i>
                            {% if report.submit_date > report.due_date_plus %}
                                <a class="error span80" href="{% url report.report_type.view_name|add:'_display' report.id %}">{{ report.submit_date }}:</a>
                            {% elif report.submit_date > report.due_date %}
                                <a class="warning span80" href="{% url report.report_type.view_name|add:'_display' report.id %}">{{ report.submit_date }}:</a>
                            {% else %}
                                <a class="success span80" href="{% url report.report_type.view_name|add:'_display' report.id %}">{{ report.submit_date }}:</a>
                            {% endif %}
                            <br><span class="span80"> Update:  {{ report.last_update_date }}</span>
                        {% elif report.last_update_date %}
                            <i class="fas fa-sync"></i>
                                {% if report.due_date >= todays_date %}
                                    <a class="span80" href="{% url report.report_type.view_name|add:'_display' report.id %}"> Update: {{ report.last_update_date}}</a>
                                {% else %}
                                    <a class="span80" href="{% url report.report_type.view_name|add:'_display' report.id %}"> Update: <span class="error">{{ report.last_update_date}}</span></a>
                                {% endif %}
                        {% else %}
                            {% if report.due_date > todays_date %}
                                <span class="span80"> Due date: {{ report.due_date }}</span>
                            {% elif report.due_date_plus > todays_date %}
                                <span class="span80"> Due date: <span class="warning">{{ report.due_date }}</span></span>
                            {% else %}
                                <span class="span80"> Due date: <span class="error">{{ report.due_date }}</span></span>
                            {% endif %}
                        {% endif %}

                            {% if report.day190.first.file or report.day190.first.calendar_link %}
                               <br><span class="span80 success">calendar</span>
                            {% endif %}

                    {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}