{% extends 'reporting_base.html' %}
{% load template_extras %}

{% block title %} Opening Report {% endblock title %}


{% block content %}
    <div class="row">
        <div class="col" style="display: inline-block;">
            <div class="mt-1 col text-center ">
                <h6>{{ opening }}</h6>
            </div>
        </div>
    </div>



    <div class="card">
        <h6 class="row mt-2 ml-3"> Student Data Summary</h6>
        <div class="row ml-2 mt-2">
<!-- Current Openning enrollment -->
            <div class="col col-auto">
                <table class="table">
                    <thead>
                        <tr>
                          {% for display_grade_name, count in grade_data %}
                              <th>{{ display_grade_name }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% for display_grade_name, count in grade_data %}
                              <td>{% if count != 0 %}{{ count }}{% endif %}</td>
                          {% endfor %}
                        </tr>
                      </tbody>
                </table>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <tr>
                                    <th colspan='2'>Opening Enrollment: {{ opening.grade_count.total_count }}</th>
                                </tr>
                                <tr>
                                    <td>Girls: {{ opening.girl_count }}</td>
                                    <td>Boys: {{ opening.boy_count }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            <table class="table">
                                <tr>
                                    <td>Graduated Last Year: </td><td> {{ opening.graduated_count }}</td>
                                </tr>
                                <tr>
                                    <td>Did not Return:</td><td> {{ opening.did_not_return_count }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <a class=" btn btn-sm btn-ISEIblue2 mb-2" href="{% url 'student_report' arStudentID %}"> Edit Student Opening Report </a>
                </div>
            </div>

<!-- Boarding and Day students -->
            <div class="col col-auto">
                    <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Boarding Status/Grade Level</th>
                                    <th>1-8</th>
                                    <th>9-12</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row_key, row_name in boarding_rows.items %}
                                    <tr>
                                        <td>{{ row_name}}</td>  {# this will make the first character uppercase #}
                                        {% for grade_range_name in grade_range_names %}
                                            {% with att_name=row_key|add:'_count_'|add:grade_range_name %}
                                                <td>{{ opening|get_attribute:att_name }}</td>
                                            {% endwith %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            </div>

<!-- Baptismal status -->
            <div class="col-auto">
                <table class="table table-sm">
                <thead>
                    <tr>
                        <th classs="strong">Baptismal Status</th>
                        {% for range_name, grade_range in grade_ranges.items %}
                            <th>{{ grade_ranges_friendly|get_from_dict:range_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for count_name, count_values in conditions.items %}
                        <tr>
                            <td>{{ conditions_friendly|get_from_dict:count_name }}</td>
                            {% for range_name, grade_range in grade_ranges.items %}
                                {% with att_name=count_name|add:"_"|add:range_name %}
                                    <td>{{ opening|get_attribute:att_name }}</td>
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
                <p>Unknown baptismal status for <b>{{ unkown_baptismal_status_count }}</b> students.</p>
            </div>
        </div>
    </div>

<!-- Personnel Data Summary -->
    <div class="card">
        <h6 class="row mt-2 ml-3">Personnel Data Summary</h6>
        <div class="row ml-2 mt-2">
            <div class="col">
                <h7>Personnel Count by Role</h7>
                <ul>
                    <li>Teacher/Admin Count: {{ opening.teacher_admin_count }}</li>
                    <li>General Staff Count: {{ opening.general_staff_count }}</li>
                    <li>Non-SDA Teacher/Admin Count: {{ opening.non_sda_teacher_admin_count }}</li>

                </ul>
            </div>
            <div class="col">
                <h7>Personnel Count by Highest Degree Earned</h7>
                <ul>
                    <li>Professional Degree Count: {{ opening.professional_count }}</li>
                    <li>Doctorate Degree Count: {{ opening.doctorate_count }}</li>
                    <li>Masters Degree Count: {{ opening.masters_count }}</li>
                    <li>Bachelor Degree Count: {{ opening.bachelor_count }}</li>
                    <li>Associate Degree Count: {{ opening.associate_count }}</li>
                </ul>
            </div>
        </div>

        <div class="row ml-2">
            <div class="col-auto">
                <a class=" btn btn-sm btn-ISEIblue2 mb-2" href="{% url 'employee_report' arEmployeeID %}"> Edit Employee Opening Report </a>
            </div>
        </div>
    </div>

    <div class="mt-2 text-center">
        <form method="POST">
        {% csrf_token %}
        <button class="btn btn-sm btn-success" type="submit">Report Complete</button>
    </form>
    </div>
{% endblock %}