{% extends 'reporting_base.html' %}
{% load static %}

{% block title %} Personnel Directory {% endblock title %}



{% block content %}



<!-- Filter -->
    <div class="card mt-2 mb-2">
        <form id="employee-filter-form" class="mt-2 mb-2 ml-2" method="GET">
            {% if disable_school_select %}
                {{ form.school|add:'display: none;' }}
            {% else %}
                {{ form.school }}
            {% endif %}
            {% for field in form %}
                {% if not field.name == 'school' %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <input class="btn btn-sm btn-ISEIblue" type="submit" value="Filter">
        </form>
    </div>

    {% if messages %}
        <div class="card mt-2 mb-2">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

<!-- Personnel Data Table -->
    <div class="card">

        <table class="table">
        <thead class="table-ISEIblue4">
             <tr> <th>#</th>
              <th>School</th>
              <th>Name</th>
              <th>Status</th>
              <th>Degrees</th>
             <th>Positions</th>
             <th>TC Acc.</th>
             <th>Subjects Teaching</th>
              <th>Email Address</th>
            </tr>
        </thead>
        {% for personnel in object_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ personnel.annual_report.school.abbreviation }}</td>
            <td>{{ personnel.last_name }}, {{ personnel.first_name }}</td>
            <td>{{ personnel.get_status_display }}</td>
            <td>
              {% for degree in personnel.degrees.all %}
                {{ degree.name }}<br>
              {% endfor %}
            </td>
            <td>
              {% for position in personnel.positions.all %}
                  {% if position.teaching_position %}
                      <span class="text-ISEIblue4">
                          {{ position.name }}</span>
                  {% else %}
                      {{ position.name }}
                  {% endif %}<br>
              {% endfor %}
            </td>
            <td>{% if personnel.teacher %}
                    <a href="{% url 'teacher_dashboard' userID=personnel.teacher.user.id %}">Yes</a>
                {% else %}
                    <a href="{% url 'register_teacher_from_employee_report' personnelID=personnel.id %}">Register</a>
                {% endif %}
            </td>
            <td>
              {% for subject in personnel.subjects_teaching.all %}
                {{ subject.name }}<br>
              {% endfor %}
            </td>
            <td>{{ personnel.email_address }}</td>
          </tr>
        {% endfor %}
      </table>

    </div>


<script>
    $(document).ready(function() {
        $('#id_school').change(function() {
            // This will trigger the form to be submitted when any school is selected
            $('#employee-filter-form').submit();
        });
    });

</script>

{% endblock %}