{% extends 'reporting_base.html' %}
{% load static %}

{% block title %} Personnel Directory {% endblock title %}



{% block content %}



    {% if messages %}
        <div class="card mt-2 mb-2">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="card card-body noprint">
        <form method="GET">
            {{ filter_form.as_table }}
            <input type="submit" class="btn btn-sm btn-ISEIblue" value="Filter">
             <a href="{% url 'school_personnel_directory' %}">Clear filter</a>
        </form>
    </div>

    {% for school_data in school_personnel %}
      <div class="card card-body mt-2" style="page-break-before: always">
<!-- School info -->
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="3"><h6>{{ school_data.school.name }}</h6></td>
                </tr>
                 <tr>
                     <td><b>Principal:</b>{% if school_data.school.principal %} {{ school_data.school.principal }} {% else %} - {% endif %}</td>
                     <td colspan="2"><b>Address:</b>
                        {{ school_data.school.address.address_1 }},
                        {% if school_data.school.address.address_2 %} {{ school_data.school.address.address_2 }}{% endif %}
                        {{ school_data.school.address.city }},
                        {% if school_data.school.address.state_us %}{{ school_data.school.address.state_us }},{% endif %}
                        {% if school_data.school.address.tn_county %}{{school_data.school.address.tn_county }},{% endif %}
                        {{ school_data.school.address.zip_code }},
                        {{ school_data.school.address.country }}
                      </td>
                </tr>
                <tr>
                    <td><b>Phone number:</b>{% if school_data.school.phone_number %} {{ school_data.school.phone_number }} {% else %} - {% endif %}</td>
                      <td><b>Email:</b>{% if school_data.school.email %} <a href="mailto:{{ school_data.school.email }}">{{ school_data.school.email }}</a> {% else %} - {% endif %}</td>
                      <td><b>Website:</b>{% if school_data.school.website %} <a href="{{ school_data.school.website }}">{{ school_data.school.website }}</a> {% else %} - {% endif %}</td>
                </tr>

            </tbody>
        </table>

 <!-- Personnel Data Table -->
        <table class="table mb-5">
            <thead class="table-ISEIblue4">
             <tr> <th>#</th>
              <th>Name</th>
             <th>Positions</th>
             <th>Subjects Teaching</th>
              <th>Email Address</th>
                 <th>Phone #</th>
            </tr>
        </thead>
        {% for personnel in school_data.staff %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ personnel.last_name }}, {{ personnel.first_name }}</td>

            <td>
               {{ personnel.positions | join:", " }}
            </td>

            <td>
               {{ personnel.subjects | join:", " }}
            </td>
            <td>{{ personnel.email_address }}</td>
            <td>{{ personnel.phone_number }}</td>
          </tr>
        {% endfor %}
      </table>
   </div>
    {% endfor %}


{% endblock %}