{% extends 'reporting_base.html' %}

{% block title %} Student Report {% endblock title %}


{% block content %}

<!-- School Info -->
    <div class = "col col-auto card">
        <div class="scrollable-table scrollable-table2 mt-5">
                <table class="table table-striped">
                  <thead class="thead table-ISEIblue4 sticky_head">
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Website</th>
                      <th>Principal</th>
                      <th>President</th>
                      <th>Accreditation</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for school in schools %}
                    <tr>
                      <td><a class="" href="{% url 'principal_dashboard' school.id %}"> {{school.name}} </a></td>
                      <td>
                        {{ school.address.address_1 }}<br>
                        {% if school.address.address_2 %} {{ school.address.address_2 }}<br>{% endif %}
                        {{ school.address.city }},
                        {% if school.address.state_us %}{{ school.address.state_us }},{% endif %}
                        {% if school.address.tn_county %}{{school.address.tn_county }},{% endif %}
                        {{ school.address.zip_code }}<br>
                        {{ school.address.country }}
                      </td>
                      <td>{% if school.phone_number %} {{ school.phone_number }} {% else %} - {% endif %}</td>
                      <td>{% if school.email %} <a href="mailto:{{ school.email }}">{{ school.email }}</a> {% else %} - {% endif %}</td>
                      <td>{% if school.website %} <a href="{{ school.website }}">{{ school.website }}</a> {% else %} - {% endif %}</td>
                      <td>{% if school.principal %} {{ school.principal }} {% else %} - {% endif %}</td>
                      <td>{% if school.president %} {{ school.president }} {% else %} - {% endif %}</td>
                      <td>
                        {% for accreditation_info in school.accreditationinfo_set.all %}
                            {% if accreditation_info.current_accreditation %}
                                {{ accreditation_info.agency }}:
                                        {{ accreditation_info.start_date }}-{{ accreditation_info.end_date }}
                            {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
        </div>
    </div>


{% endblock %}