{% extends 'base.html' %}

{% block title %} Student Import File Upload{% endblock title %}


{% block content %}
    <div class="card card-body">
        <p>Upload Student data file. Ensure that it meets the requirement listed on the previous page.
          If unsure review them here:  <button class="btn btn-sm btn-outline-ISEIblue4" onclick="window.history.back();">Go Back</button>
        </p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-sm btn-ISEIblue2" type="submit">Upload Excel File</button>
        </form>
    </div>
    <div class="card card-body">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            <a href="{% url 'student_report' schoolID=annual_report.school.id school_yearID=annual_report.school_year.id %}">See Student Report</a>    </div>

{% endblock %}