{% extends 'reporting_base.html' %}
{% load static %}

{% block title %} Student Report {% endblock title %}


{% block content %}

<!-- Student Report -->
    <div class="card">
        <div class="row ml-2">
            <div class="col mt-2">
                <h6>{{ annual_report }}</h6>
            </div>
            <div class="col col-auto">
                    {% if annual_report.school.street_address.state_us == "TN" %}
                        <a href="{% url 'tn_student_export' arID=annual_report.id %}">Download Data for TN_Report</a>
                    {% endif %}
            </div>
        </div>
        <div class="row ml-2">
            <div class="col col-auto mt-2">
                <form method="GET">
                    {{ filter_form.as_table }}
                    <input class="btn btn-sm btn-ISEIblue2" type="submit" value="Filter">
                    <a class="btn btn-sm btn-ISEIblue2" href="{% url 'student_report_display' annual_report.id %}" class="btn btn-default">Reset</a>
                </form>
            </div>

        </div>
<!-- table with student data -->
        <div class="scrollable-table scrollable-table2 mt-2">
                <table class="table table-striped table-bordered">
                    <thead class="table-ISEIblue4 sticky_head">
                        <tr><th>#</th>
                            <th>Name</th><th>Address</th>
                            {% if annual_report and annual_report.school and annual_report.school.street_address.country and annual_report.school.street_address.country.code == 'US' %}
                                <th>US State</th>
                                {% if annual_report.school.street_address.state_us == 'TN' %}
                                    <th>TN County</th>
                                {% endif %}
                            {% endif %}
                            <th>Country</th>
                            <th>Grade</th>
                            <th>Gender</th><th>Birth date</th><th>Age</th>
                            <th>Boarding</th><th>Baptized</th><th>SDA Parent</th><th>Status</th>
                            <th>Registration</th><th>Withdraw</th><th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.address }}</td>
                                {% if annual_report and annual_report.school and annual_report.school.street_address.country and annual_report.school.street_address.country.code == 'US' %}
                                    <td>{{ student.us_state|default_if_none:"" }}</td>
                                    {% if annual_report.school.street_address.state_us == 'TN' %}
                                        <td>{{ student.TN_county|default_if_none:"" }}</td>
                                    {% endif %}
                                {% endif %}
                                <td>{{ student.country }}</td>
                                <td>{{ student.get_grade_level_display }}</td>
                                <td>{{ student.get_gender_display|default_if_none:"" }}</td>
                                <td>{{ student.birth_date|default_if_none:"" }}</td>
                                <td>{{ student.age_at_registration }}</td>

                                <td>{{ student.boarding.value|yesno:"Yes,No" }}</td>
                                <td>{{ student.get_baptized_display|default_if_none:"" }}</td>
                                <td>{{ student.get_parent_sda_display|default_if_none:"" }}</td>
                                <td>{{ student.get_status_display }}</td>

                                <td>{{ student.registration_date }}</td>
                                <td>{{ student.withdraw_date|default_if_none:"" }}</td>
                                <td>{{ student.get_location_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>



<!--buttons-->
            <div class="row mb-2 mt-2">
                <div class="col d-flex justify-content-center">
                    <a class="btn btn-sm btn-ISEIblue2 loading_spinner" href="{% url 'student_report' annual_report.id %}">Edit Report</a>
                </div>
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-sm btn-ISEIblue2 loading_spinner" onclick="printTable()">Print Table</button>
                </div>
            </div>
    </div>

        <!-- Loading spinner -->
        <div id="loading" style="display: none;">
            <img id="loading-image" src="{% static 'appfiles/Atom.gif' %}" alt="Loading..."/>
            <p id="loading-text">Please wait, loading...</p>
        </div>


    <script>

         $(window).on('pageshow', function() {
                $('#loading').hide();
            });

        $(document).ready(function() {
            $('a.loading_spinner').click(function() {
                $('#loading').show();
            });
        });

        function printTable() {
            var printContents = document.querySelector('.scrollable-table2').outerHTML;
            var myWindow = window.open('', '', 'height=600,width=800');
            myWindow.document.write('<html><head><title>Print</title>');
            myWindow.document.write('<style>/* Your CSS for printed table here */</style>');
            myWindow.document.write('</head><body>');
            myWindow.document.write(printContents);
            myWindow.document.write('</body></html>');
            myWindow.document.close();
            myWindow.onload=function(){
                myWindow.focus();
                myWindow.print();
            }
        }



    </script>

{% endblock %}