{% extends 'reporting_base.html' %}
{% load static %}

{% block title %} Student Report {% endblock title %}


{% block content %}


<!-- General Info-->
    <div class="row">
        <div class="col" style="display: inline-block;">
            <div class="mt-3 ml-3 col text-left mt-1">
                <h6>{{ annual_report }}</h6>
            </div>
        </div>
        <div class="col-5 mt-3 ml-auto" style="display: inline-block;">
            <div class="col text-right mt-1">
                <a href="{% url 'student_import_dashboard' arID=annual_report.id %}">Import Data</a>
            </div>
        </div>
    </div>

    <div class="card mt-3">
            <div class="row mt-1 mb-2 ml-2 ">
<!-- Global registration date -->
                 <div class="col col-auto">
                    <a class="btn btn-sm btn-ISEIyellow mt-4" href="{% url 'import_students_prev_year' annual_report.id %}">Import Students from {{ annual_report.school_year.get_previous_school_year }}</a>
                    {% for message in messages %}
                           {% for message in messages %}
                                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                            {% endfor %}
                     {% endfor %}
                 </div>
                <div class="col col-auto">
                    <div class="text-left"><label for="common-registration-date"><b>Global Registration Date</b></label></div>
                    <div><input type="date" id="common-registration-date" style="width: 150px"/></div>
                    <button class="btn btn-ISEIblue2 btn-sm mt-1" id="add-date-button">Apply</button>
                    <button class="btn btn-ISEIblue2 btn-sm mt-1" id="rewrite-date-button">Rewrite</button>
                </div>
 <!-- Global Location -->
                <div class="col col-auto align-right">
                    <div class=""><label for="global-location"><b>Global Location</b></label></div>
                    <select id="global_location">
                        <option value="on-site">On-Site</option>
                        <option value="satelite">Satelite</option>
                        <option value="distance-learning">Distance-Learning</option>
                    </select>
                </div>
<!-- Global Boarding/or no -->
                 <div class="col col-auto align-right">
                     <div class=""><label for="global-location"><b>Boarding</b></label></div>

                     <input type="checkbox" id="markAllBoarding">
                 </div>

                <div class="col col-auto ml-auto">
                    {% if show_all %}
                        <a href="?" class="btn btn-outline-ISEIblue4 btn-sm">Do Not Show Graduated/Not Returning Students</a>
                    {% else %}
                        <a href="?show=all" class="btn btn-outline-ISEIblue4 btn-sm">Show Graduated/Not Returning Students </a>
                    {% endif %}
                 </div>

            </div>
<!-- Comments and instructions -->
            <hr>
                <div class="">
                    <ul>
                        <li>Be sure to check data for all previous students for accuracy: enrollment status, grade level, address, baptismal status, etc.</li>
                        <li> Depending on your screen size, in order to view all columns you may need to horizontally scroll through the table.</li>
                    </ul>
                </div>

    </div>




<!-- Student Report -->
    <div class="card">
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for error in formset.non_form_errors %}
              <div class="error">
                {{ error }}
              </div>
            {% endfor %}
<!-- table with student data -->
            <div class="scrollable-table scrollable-table2 mb-5">
                <table class="table table-light">
                    <thead class="thead table-ISEIblue4 sticky_head">
                        <tr><th>#</th>
                            {% for field in formset.forms.0.visible_fields %}
                                <th {% if forloop.counter == 1 %}class="sticky-column"{% endif %}>
                                    <div style="display: flex; justify-content: space-between;">
                                        <span>{{ field.label }}</span>
                                            {% if field.label == "Birth date" %}
                                                <span style="text-align: right;">OR</span>
                                            {% endif %}
                                    </div>
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="formset">
                        {% for form in formset %}
                                <tr class="form">
                                    <td></td>
                                    {% for field in form %}
                                        <td style="text-align: center;" {% if forloop.counter == 1 %}class="sticky-column"{% endif %}> {{ field }}
                                         {% if field.errors %}
                                            <div class="text-danger">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td>{{ from.DELETE }}</td>
                                </tr>
                                {% if form.non_field_errors %}
                                <tr>
                                    <td colspan="5">
                                        <div class="text-danger">
                                            {{ form.non_field_errors }}
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

<!-- empty form template -->
            <template id="empty_form_template">
                <tr class="form">
                    <td></td>
                    {% for field in formset.empty_form %}
                        <td style="text-align: center;">{{ field }}</td>
                    {% endfor %}
                </tr>
             </template>

<!--buttons-->
            <div class="row mb-2 mt-2">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-sm btn-ISEIblue4" type="button" id="add_more">Add Rows</button></div>
                <div class="col d-flex justify-content-center">
                    <input class="btn btn-sm btn-ISEIblue2 loading_spinner"  type="submit" name="save"  value="Save and Finalize Later"></div>
                <div class="col d-flex justify-content-center">
                    <input class="btn btn-sm btn-success loading_spinner" type="submit" name="submit"  value="Report Complete"
                    onclick="return confirm('Be sure to check data for all previous students for accuracy: enrollment status, grade level, address, baptismal status, etc. ' +
                     'Click Cancel if you need to review, OK if report if complete.');" >
                </div>
                <div class="col d-flex justify-content-center">
                    <a class="btn btn-sm btn-danger" href="{% url 'school_dashboard' annual_report.school.id %}" onclick="return confirm('Any changes made will not be saved. Do you want to continue?');">Exit without saving</a></div>
            </div>
        </form>
    </div>

    <div class="card">
        <span class="spanred ml-2">
            If there are blank student records that don't allow submission, please ensure that ALL fields are blank (including Registration Date, Boarding, etc.) before attempting to Save or Submit the report.
        </span>
    </div>

    <!-- Loading spinner -->
<div id="loading" style="display: none;">
    <img id="loading-image" src="{% static 'appfiles/Atom.gif' %}" alt="Loading..."/>
    <p id="loading-text">Please wait, saving your data...</p>
</div>

<script>

     $(window).on('pageshow', function() {
            $('#loading').hide();
        });

    $(document).ready(function() {
        $('input.loading_spinner').click(function() {
            $('#loading').show();
        });
    });



    window.onload = function () {
        var table = document.querySelector('.table');
        var headerRow = table.querySelector('thead').rows[0];
        var stickyCell = headerRow.cells[1]; // Change to the index of your sticky cell
        var bgColor = window.getComputedStyle(headerRow, null).getPropertyValue('background-color');
        stickyCell.style.backgroundColor = bgColor;
    }



// To make TN_county available only for TN schools, and add US as country if US state is selected
    $(document).ready(function() {
    // Listen to any change on state fields
        $(document).on('change', 'select[name$=us_state]', function() {
        // Get the TN county field in the same form
            var tn_county_field = $(this).closest('tr').find('select[name$=TN_county]');
        // Get the Country select field in the same form
            var country_field = $(this).closest('tr').find('select[name$=country]');

            if ( country_field.val()!==4 && $(this).val()) {  // if any value (not empty) is selected for US state
                country_field.val(4);  // set the country field to US
                country_field.on('mousedown keydown', function(e) {
                e.preventDefault();}); // Prevent mouse and keyboard interactions
            }

            if ( !$(this).val()) {
                country_field.off('mousedown keydown');  // Restore mouse and keyboard interactions
            }

            if ($(this).val() === 'TN') {
                tn_county_field.prop('disabled', false);
            } else {
                tn_county_field.prop('disabled', true);
                tn_county_field.val(''); // You might also want to reset the county select box
            }
        });

        // Initialize the TN county field state on page load
        $('select[name$=us_state]').each(function () {
            $(this).trigger('change');
        });
    });

    var addMore = document.getElementById('add_more');
    var formset = document.getElementById('formset');
    var emptyFormTemplate = document.getElementById('empty_form_template');
    var totalForms = document.querySelector('input[name="form-TOTAL_FORMS"]');

//add new Student Form on button click
    addMore.addEventListener('click', function() {
        var newIndex = formset.getElementsByClassName('form').length;
        var newFormHtml = emptyFormTemplate.innerHTML.replace(/__prefix__/g, newIndex);

        // Create new form DOM Element
        var newForm = document.createElement('tr');
        newForm.className = 'form';
        newForm.innerHTML = newFormHtml;

        // Append to the formset
        formset.appendChild(newForm);

        // Increase the value of TOTAL_FORMS.
        totalForms.value = parseInt(totalForms.value) + 1;
    });

//add common registration date for existing records with no registration date
   document.getElementById('add-date-button').addEventListener('click', function(e) {
        e.preventDefault();  // prevent form submission if the button type is 'submit'

        // Confirmation message for adding common registration to existing records
        var confirmation = confirm('This date is added only to records with blank registration date. Ensure that you are applying the correct date!');

        if(confirmation) {
            var commonDate = document.getElementById('common-registration-date').value;
            var registrationDateInputs = document.querySelectorAll('input[name$="registration_date"]');
            registrationDateInputs.forEach(function(input) {
                if(input.value === '') {
                    input.value = commonDate;
                }
            });
        }
    });



// add common registration date when student name is entered
    $(document).on('change', 'input[name^="form-"][name$="-name"]', function() {
        var commonDate = document.getElementById('common-registration-date').value;
        var registrationDateInput = $(this).closest('tr').find('input[name$="registration_date"]');
        if (registrationDateInput.length > 0 && registrationDateInput.val() === '') {
            registrationDateInput.val(commonDate);
        }
    });

//add row number
    function updateRowNumbers() {
    let rowIndex = 1
    document.querySelectorAll('#formset .form').forEach(row => {
        let firstCell = row.querySelector('td:first-child')
        firstCell.textContent = rowIndex
        rowIndex++
    })
}

//rewrite common registration date for ALL existing records
  document.getElementById('rewrite-date-button').addEventListener('click', function(e) {
    e.preventDefault();  // prevent form submission if the button type is 'submit'
    // Confirmation message for rewriting registration date to existing records
        var confirmation = confirm('This date will change ALL registration dates to date entered. Are you sure you want to do this?');
        if(confirmation) {
            var commonDate = document.getElementById('common-registration-date').value;
            var registrationDateInputs = document.querySelectorAll('input[name$="registration_date"]');
            registrationDateInputs.forEach(function(input) {
                input.value = commonDate;
            });
        }
    });

  document.addEventListener('DOMContentLoaded', e => {
        var formset = document.querySelector('#formset');

        updateRowNumbers();

        // Create a callback function for the observer to run when mutations are observed
        var callback = function (mutationsList, observer) {
            for (let mutation of mutationsList) {
                if (mutation.type === 'childList') {
                    if(mutation.addedNodes.length > 0){ // Check if nodes were added
                        // A child was added to the node, call updateRowNumbers()
                        updateRowNumbers();
                    }
                }
            }
        };

        // Create an observer instance and pass in the callback function
        var observer = new MutationObserver(callback);

        // Start observing the target node for configured mutations
        observer.observe(formset, {childList: true});
    });

//apply global location for all records
    $(document).ready(function(){
        $(document).on('change', '#global_location', function(){
            var location = $(this).val();
            var confirmation = confirm("Are you sure you want to apply this change to all forms?");
            if(confirmation) {
                // Select inputs with name starting with 'form-' and ending with '-location'
                $('select[name^="form-"][name$="-location"]').each(function () {
                    $(this).val(location);
                });
            } else {
                // If 'Cancel' is clicked, reset the global select to its previous value
                 $(this).val(this.defaultValue);
            };
        });
    });

//apply boarding or not for all students

    document.querySelector("#markAllBoarding").addEventListener("change", function(event){
        var boardingCheckboxes = document.querySelectorAll('input[name$="-boarding"]');
        for(var i=0; i<boardingCheckboxes.length; i++){
             boardingCheckboxes[i].checked = event.target.checked;
        }
    });

    //prompt the user if they try to leave, refresh, or navigate away
         let formChanged = false;
          let formSubmitting = false;

          // Detect changes in any form input
          document.querySelectorAll('form input, form select, form textarea').forEach(element => {
            element.addEventListener('change', () => {
              formChanged = true;
            });
          });

          // Allow safe exit if form is submitted
          document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', () => {
              formSubmitting = true;
            });
          });

          // Warn only if changes were made and form is not being submitted
          window.addEventListener('beforeunload', function (e) {
            if (formChanged && !formSubmitting) {
              e.preventDefault(); // Required for some browsers
              e.returnValue = ''; // Triggers the browser's built-in confirmation
            }
          });

</script>

{% endblock %}