{%  extends 'base.html' %}
{% load static %}
{% load group_tags %}

{% block title %}
    CEU Report
{% endblock %}
{% block content %}

{% if request.user|in_group:"staff" %}
    <div class="col" align="right">
        <div class = "col-sm" >
            <br>
            <a class= "btn-sm btn-ISEIblue4" href="{% url 'add_ISEI_CEUs' %}"> Add CEUs from ISEI Workshop</a>
            <br>
        </div>
    </div>
    <br>
{% endif %}

{% if request.user|in_group:"staff" or request.user|in_group:"principal"%}
<!-- filter -->
    <div class="row">
        <div class="card card-body">
            <h6>Filter:</h6>
            <form method="get">
                <div class="row">
                <div class="col-sm span80">
                    {% if is_staff%}
                    {{ ceu_report_filter.form.school.label_tag }} {{ ceu_report_filter.form.school }} <br>
                    {% endif %}
                    {{ ceu_report_filter.form.school_year.label_tag }} {{ ceu_report_filter.form.school_year }} <br>
                    <br>
                    <button class="btn btn-ISEIblue3 btn-sm" type="submit">Search</button> &nbsp;
                    <a href="{%  url 'CEUreports' %}">Clear all filters</a></div>
                <div class="col-sm span80">
                    {{ ceu_report_filter.form.first_name.label_tag}}{{ ceu_report_filter.form.first_name}}<br>
                    {{ ceu_report_filter.form.last_name.label_tag}}{{ ceu_report_filter.form.last_name}} </div>

                <div class="col-sm span80" >
                    {{ ceu_report_filter.form.start_created.label_tag }} {{ ceu_report_filter.form.start_created }}<br>
                    {{ ceu_report_filter.form.end_created.label_tag }} {{ ceu_report_filter.form.end_created }}</div>
                <div class="col-sm span80" >
                    {{ ceu_report_filter.form.start_updated.label_tag }} {{ ceu_report_filter.form.start_updated }}<br>
                    {{ ceu_report_filter.form.end_updated.label_tag }} {{ ceu_report_filter.form.end_updated }}</div>
                <div class ="col-sm span80">
                    {{ ceu_report_filter.form.isei_status.label_tag }}{{ ceu_report_filter.form.isei_status }} <br>
                    {{ ceu_report_filter.form.principal_status.label_tag }}{{ ceu_report_filter.form.principal_status }}</div>
                </div>
            </form>
        </div>
    </div>
  {% endif %}
    {% include 'teachercert/reports_table.html' %}


{% endblock  %}