{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
   CEU Info
{% endblock %}

{% block content %}
{% load static %}

<h6>PROFESSIONAL DEVELOPMENT Info Page</h6>
    <h6>Continuing Education Credit (CEU)</h6> <br>

    <p> Activities from at least two different categories shall be included in the CEUs submitted during the certification term prior to renewal.
    </p>
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Category</th>
                <th>Activity Description</th>
                <th>Typical CEU Value</th>
                <th>Evidence</th>
            </tr>
        </thead>
        <tbody>
            {%  for i in info %}
                {% if i.id in list  %}
                <tr style = "background-color: rgba(218,218,218,0.88)">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{ i.ceu_category }}</td>
                    <td>{{ i.description }}</td>
                    <td>{{ i.ceu_value }}</td>
                    <td>{{ i.evidence }}</td>
                </tr>

            {% endfor %}

        </tbody>
    </table>
    <br>
    <p>Equivalent Academic Credit:  1.0 CEU = 10 clock hours.   3-CEU is equivalent to 1-semester credit</p>


{% endblock %}
