{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
   CEU Info
{% endblock %}

{% block content %}
{% load static %}

<h6>PROFESSIONAL DEVELOPMENT Info Page</h6>
    <h6>Continuing Education Credit (CEU)</h6> <br>

    <p> Activities from at least two different categories shall be included in the CEUs submitted during the certification term prior to renewal.
    </p>
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Category</th>
                <th>Activity Description</th>
                <th>Typical CEU Value</th>
                <th>Evidence</th>
            </tr>
        </thead>
        <tbody>
            {%  for i in info %}
                {% if i.id in list  %}
                <tr style = "background-color: rgba(218,218,218,0.88)">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{ i.ceu_category }}</td>
                    <td>{{ i.description }}</td>
                    <td>{{ i.ceu_value }}</td>
                    <td>{{ i.evidence }}</td>
                </tr>

            {% endfor %}
 <!--           <tr style = "background-color: #ddd">
                <td rowspan="2"> <b>Independent</b></td>
                <td> Reading Professional Books, Audio Books, Professional Magazines & Journals</td>
                <td> Submit 1-page report </td>
                <td>0.1 CEU per 50-pgs <br> <b>3.0 CEUs total/year</b> </td>
            </tr>
            <tr style = "background-color: #ddd">
                <td> Complete continuing education course</td>
                <td> Submit certificate </td>
                <td> Provider Assigned</td>
            </tr>
            <tr  style = "background-color: #fff">
                <td rowspan="3"> <b>Group</b></td>
                <td> Attend Professional Conference, workshop, or seminar</td>
                <td> Copy of certificate, schedule, or agenda </td>
                <td> 0.1 CEU/hour </td>
            </tr>
            <tr style = "background-color: #fff">
                <td> Attend ISEI/Denominational Conference, workshop, or seminar </td>
                <td> Copy of certificate, schedule, or agenda </td>
                <td> 0.1 CEU/hour </td>
            </tr>
            <tr style = "background-color: #fff">
                <td> Participate in prearranged Educational Travel/Tours </td>
                <td> A written report must be submitted </td>
                <td> 0.5 CEU/day <br> <b>3.0 CEUs total/year</b> </td>
            </tr>
            <tr style = "background-color: #ddd">
                <td rowspan="5"> <b>Collaboration</b></td>
                <td> Supervision of a student teacher</td>
                <td>  </td>
                <td> 0.2 CEU/week </td>
            </tr>
            <tr style = "background-color: #ddd">
                <td> Participation in a study group or learning community</td>
                <td>  </td>
                <td> 0.1 CEU/hour</td>
            </tr>
            <tr style = "background-color: #ddd">
                <td> Peer observation with follow-up reflective learning </td>
                <td>  </td>
                <td> 0.1 CEU/hour</td>
            </tr>
            <tr style = "background-color: #ddd">
                <td> Serving on a school evaluation visiting team </td>
                <td> Team Assignment or Team Schedule </td>
                <td> 0.5 CEU/day</td>
            </tr>
            <tr style = "background-color: #ddd">
                <td> Participation on education committees/boards</td>
                <td>  </td>
                <td> 0.1 CEU/hour</td>
            </tr>
            <tr  style = "background-color: #fff">
                <td rowspan="5"> <b>Presentation and Writing</b></td>
                <td> Teach a college/university course</td>
                <td> </td>
                <td> CEU equivalent of course value </td>
            </tr>
            <tr style = "background-color: #fff">
                <td> Presenting at an education conference, workshop or seminar</td>
                <td> </td>
                <td> 0.3 CEU/hour </td>
            </tr>
            <tr style = "background-color: #fff">
                <td> Writing a published non-peer reviewed journal article </td>
                <td>  </td>
                <td> 1.0 CEU/article </td>
            </tr>
            <tr style = "background-color: #fff">
                <td> Writing a published peer-reviewed professional article</td>
                <td> </td>
                <td> 3 CEUs/article </td>
            </tr>
            <tr style = "background-color: #fff">
                <td> Writing & publishing a book on an educational topic </td>
                <td>  </td>
                <td> 4.0 CEUs/100-pgs </td>
            </tr>
 -->
        </tbody>
    </table>
    <br>
    <p>Equivalent Academic Credit:  1.0 CEU = 10 clock hours.   3-CEU is equivalent to 1-semester credit</p>


{% endblock %}
