{%  extends 'teachercert_base.html' %}
{% load static %}


{% block title %}
    Requirements Not Met
{% endblock %}

{% block content %}


    <div class="card card-body">
        <h6 class="text-center">Missing Requirements for {{ school.name }}'s teachers</h6>
        <p>Total teachers: {{ total }}</p>

        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Requirement</th>
              <th>Teachers Missing</th>
              <th>Percent Missing</th>
                <th>
                    <a href="#" id="toggleTeacherNames" class="clickable">Show/Hide Teacher Names</a>
                </th>
            </tr>
          </thead>
          <tbody>
            {% for field, count, percent, teacher_names in missing_data %}
              <tr>
                <td>{{ field }}</td>
                <td>{{ count }}</td>
                <td>{{ percent }}%</td>
                <td class="teacher-names hidden">
                        <ul>
                        {% for teacher in teacher_names %}
                          <li>{{ teacher }}</li>
                        {% endfor %}
                      </ul>
                </td>

              </tr>
            {% empty %}
              <tr>
                <td colspan="3">All requirements are met.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <script>

    document.getElementById('toggleTeacherNames').addEventListener('click', function(e) {
        e.preventDefault();
        document.querySelectorAll('.teacher-names').forEach(function(el) {
          el.classList.toggle('hidden');
        });
      });

    </script>

{% endblock %}