{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}

<!--if it will be used by any other user
{% if user_not_teacher %}
    {{ pda_record.teacher }}
{% endif %} -->

{{ pda_record.school_year }}

<!-- Table of added activities-->
<div class="row">
    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>Activity Type (Suggested Evidence)</th><th>Date Completed</th><th>Description</th><th>Amount</th> <th>Supporting Docs</th>
                <th>Update</th><th>Remove</th>
            </tr>
            {% for p in pda_instance %}
            <tr>
                <td>{{p.pda_type}}</td><td>{{p.date_completed}} </td><td>{{p.description}} </td>
                <td>{{p.ceu|default_if_none:"" }}{{p.clock_hours|default_if_none:""}}{{p.pages|default_if_none:""}}
                        {% if p.clock_hours %} hours {% elif p.pages %} pages {% elif p.ceu %} CEUs {% endif %} </td>
                <td><a href={% get_media_prefix %}{{ p.file }}>{{ p.file }}</a></td>
                <td><a class = "btn btn-sm btn-ISEIblue3" href="{% url 'update_pdainstance' p.id %}">Update</a></td>
                <td><a class = "btn btn-sm btn-danger" href="{% url 'delete_pdainstance' p.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<br>

<form action=" " method="POST" id="add_activity" enctype="multipart/form-data">
    <!-- enter new activity-->
    <div class="card card-body">
        <b> Enter new activity:</b>
        {% csrf_token %}
        <div class="row">
        {{ instanceformset.management_form }}
            {% for f in instanceformset %}
                <div class="col-sm"> {{ f.pda_type|as_crispy_field}} <br>
                {{ f.description|as_crispy_field}}</div>
                <div class = "col-sm"> {{f.ceu|as_crispy_field}}
                {{f.clock_hours|as_crispy_field}}
                {{f.pages|as_crispy_field}} </div>
                <div class = "col-sm" style = "margin-top: 15px">
                    {{f.date_completed|as_crispy_field}} <br>
                    Supporting Documentation: {{f.file}} </div>
                <div>
                     <input class = "btn btn-sm btn-ISEIblue3" type="submit" value="Add Activity" name = "add_activity" style = "margin-top: 20px; margin-right: 30px">
                </div>
            {% endfor %}
        </div>
    </div><br>

    <div class="card card-body">
        <div class="row">
           <div class="col-sm-4">
            <!-- update summary-->
               <p id="school_year">{{record_form.school_year}}</p> <!-- hidden with the script below, needed for form submission-->
               {% csrf_token %}
               <h6>Summary:</h6>
               <span style = "font-size:80%">*Summarize what you have learned from the combined activities and how you plan to apply this learning to your classroom. </span>
                    {{ record_form.summary}}
               <input class = "btn btn-sm btn-ISEIblue3" type="submit" value="Update Summary" name = "update_summary">
            </div>
             <div class ="col-sm-4">
            {%  if pda_record.principal_comment %}
                <h6 style = "color:red">Principal denial comment:</h6>
                <span style = "font-size:80%">*If you would like to add a response to the principal, you can do so in the same windown. Please keep the Principal's comment as well. </span>
                {{ record_form.principal_comment }}
            {% endif %}
            {%  if pda_record.isei_comment %}
                <h6 style = "color:red">ISEI denial comment:</h6>
                <span style = "font-size:80%">*If you would like to add a response to ISEI, you can do so in the same window. Please keep the Principal's comment as well. </span>
                {{ record_form.isei_comment }}
            {% endif %}
            </div>


            <div class="col-sm-4" >
                <div class="card card-body" style="margin-right: 50px; margin-left: 50px; margin-top: 50px">
                    <br><br>
                    <!-- submit record-->
                    <p id="school_year2">{{record_form.school_year}}</p>
                    {% csrf_token %}
                    {{ record_form.date_submitted|as_crispy_field }}<p>Submit by August 15 each year, after you have added ALL activities for the previous school year.</p> <br>
                    <input class = "btn btn-sm btn-danger" type="submit" value="Submit" name = "submit_record">
                </div>
            </div>
           </div>
        </div>
    </form>


    <script>
        document.getElementById("school_year").style.display = "none";
        document.getElementById("school_year2").style.display = "none";
    </script>

{% endblock %}