{%  extends 'teachercert_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load group_tags %}

{% block title %} CEU Submission {% endblock title %}


{% block content %}
{% load static %}

        <!--if it will be used by any other user-->

    {% if request.user|in_group:"principal,registrar" or request.user|in_group:"staff" %}
        {{ ceu_report.teacher }}
    {% endif %}

        {{ ceu_report.school_year }}


<!-- Table of added activities-->

{% if ceu_instance %}
    <div class="row">
        <div class="card card-body">
        <h6> Added Activities</h6>

        {% if ceu_report.reading_ceu > 3 %}
            <div class="span80red" >
                Your submitted reading CEUs have surpassed the cap of 3 CEUs / year. A maximum of three (3) CEUs will be recorded for those activities.
            </div>
        {% endif %}
        {% if ceu_report.travel_ceu > 3 %}
            <div class="span80red">
                     Your submitted travel CEUs have surpassed the cap of 3 CEUs / year. A maximum of three (3) CEUs will be recorded for those activities.
            </div>
        {% endif %}

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Category</th><th>Type & <span class="spanblue">Suggested Evidence</span></th>
                        <th>Date Completed</th><th>Description</th><th>Amount</th>
                        <th>Evidence & Supporting Docs</th>
                        <th>Update</th><th>Remove</th>
                    </tr>
                </thead>

                <tbody>
                    {% for p in ceu_instance %}
                    <tr>
                        <td>{{p.ceu_category}}</td>
                        <td><div class="span80">{{ p.ceu_type.description }}</div>
                            <div class="span80blue">{{ p.ceu_type.evidence|default_if_none:''}}</div></td>
                        <td>{{p.date_completed}} </td><td>{{p.description}} </td> <td>{{p.amount}} {{p.get_units_display}}</td>
                        <td>
                            {% if p.evidence or p.file %}
                                {% if p.evidence %} <div class="span80blue">{{ p.evidence }}</div> {% endif %}
                                <a href={% get_media_prefix %}{{ p.file }}>{{ p.filename }}</a></td>
                            {% else %}
                                <div class = "span80red">None - see suggested evidence</div>
                            {% endif %}
                        <td><a class = "btn-sm btn-ISEIblue3" href="{% url 'update_ceuinstance' p.id %}">Update</a></td>
                        <td><a class = "btn-sm btn-danger" href="{% url 'delete_ceuinstance' p.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
{% endif %}

<!-- If we want to add instance in a separate window -->
<!--
 <a class = "btn-sm btn-danger" href="{ % url 'add_instance' ceu_report.id %}">Add Instance</a></td>
-->

<form action="" method="POST" id="add_activity" enctype="multipart/form-data">
 {% csrf_token %}

    <!-- enter new activity-->
    <div class="card card-body" >
        <div><input type="button" class="btn btn-sm btn-ISEIblue3" id="actaddbtn"  value ="Enter New Activity">
             <a class = "btn btn-sm btn-ISEIblue3" href="{% url 'ceu_info' %}" target="_blank">More info</a>
        </div>

        {% if activity_entering_error %}
            <div id="activity_add">
        {% else %}
            <div id="activity_add" style="display: none">
        {% endif %}
        <br>
            <div class="row">
                    <div class="col-sm">
                        <div class="row">
                            {{ instance_form.ceu_category|as_crispy_field }}
                            {{ instance_form.ceu_type|as_crispy_field}}
                        </div><br>
                        <div class="row">
                             {{ instance_form.description|as_crispy_field}}&nbsp; &nbsp; &nbsp; &nbsp;
                             {{instance_form.date_completed|as_crispy_field}} &nbsp; &nbsp; &nbsp; &nbsp;
                             {{instance_form.amount|as_crispy_field}} &nbsp; &nbsp;
                             {{instance_form.units|as_crispy_field }} &nbsp; &nbsp;
                        </div>
                    </div>
                    <div class = "col-sm" style = "margin-top: 15px">
                        {{ instance_form.evidence|as_crispy_field }}
                        <div id="id_suggested_evidence"> </div> <br>
                        Supporting Documentation: {{instance_form.file}} <br><br>
                         <input class = "btn btn-sm btn-ISEIblue3" type="submit" value="Save Activity" name = "add_activity" style = "margin-top: 20px; margin-right: 30px">
                        {{ instance_form.errors }}
                        {% for message in messages %}
                            {% if message.tags == "warning" %}
                                <span class="spanred">{{ message }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>

        </div>

    </div>

        <br><p></p>
</form>

<form action="" method="POST" id="submit_report" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="card card-body">
    <div class="card card-body">
    {{ report_form.non_field_errors }}
        <div class="row">
           <div class="col-sm-6">
            <!-- update summary-->
               <p id="school_year">{{report_form.school_year}}</p> <!-- hidden with the script below, needed for form submission-->
               <h6>Summary:</h6>
               <div class="span80">*Summarize what you have learned from the combined activities and how you plan to apply this learning to your classroom. </div>
                    {{ report_form.summary.errors }}
                    {{ report_form.summary}}
               <input class = "btn btn-sm btn-ISEIblue3" type="submit" value="Save Summary" name = "update_report" style ="float:right">
               {% for message in messages %}
                   {% if message.tags == "success" %}
                       <span class="spangreen">{{ message }}</span>
                   {% endif %}
               {% endfor %}
           </div>

            {% if ceu_report.principal_comment or ceu_report.isei_comment %}
             <div class ="col-sm-4">
                {%  if ceu_report.principal_comment %}
                    <h6 style = "color:red">Principal comment:</h6>
                    <div class="span80">*If you would like to add a response to the principal, you can do so in the same window. Please keep the Principal's comment as well. </div>
                    {{ report_form.principal_comment.errors }}
                    {{ report_form.principal_comment }}
                {% endif %}
                {%  if ceu_report.isei_comment %}
                    <h6 style = "color:red">ISEI comment:</h6>
                    <div class="span80">*If you would like to add a response to ISEI, you can do so in the same window. Please keep ISEI's comment as well. </div>
                    {{ report_form.isei_comment.errors }}
                    {{ report_form.isei_comment }}
                {% endif %}
            </div>
                {% else %} <div class="col-sm-1"></div>
            {% endif %}

            <div class="col-sm-3" ><br>
                <div class="card card-body" style=" margin-top: 50px">
                    <br><br>
                    <!-- submit report-->
                    <p id="school_year2">{{report_form.school_year}}</p>
                    <h6>{{ report_form.date_submitted|as_crispy_field }}
                    </h6>
                    <p>Submit by August 15 each year, after you have added ALL activities for the previous school year.</p> <br>
                    <input class = "btn btn-sm btn-danger" type="submit" value="Submit" name = "submit_report">
                    {{ report_form.non_field_errors }}
                </div>
            </div>
        </div>
    </div>
</form>

    <!--
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

    <script>
        document.getElementById("school_year").style.display = "none";
        document.getElementById("school_year2").style.display = "none";

        //show and hide activity entry card
        $('#actaddbtn').on("click", function() {
                 var value = $(this).attr('value');

                 if(value == "Enter New Activity") {
                     $("#activity_add").show();
                     $(this).attr('value',"Hide");
                     $("#submit_report").hide()
                 }
                 if(value == "Hide") {
                     $("#activity_add").hide();
                     $(this).attr('value',"Enter New Activity");
                     $("#submit_report").show()
                 }
        });


    $(document).ready(function(){
 //   Ajax CEU Type Load based on Category
        $("#id_ceu_category").change(function () {
            //alert("called");
            var url = "{% url 'ajax_load_CEUtypes' %}";
            //alert(url)
            //var url = $("#add_activity").attr("data-ceu_categories-url");  // get the url of the `load_CEUtypes` view
            var categoryId = $(this).val();  // get the selected category ID from the HTML input
            $.ajax({
                  url: url, // set the url of the request (= localhost:8000/hr/ajax/load_CEUtypes/)
                  data: {
                        'ceu_category_id': categoryId       // add the category id to the GET parameters
                  },
                  success: function (data) {   // `data` is the return of the `load_CEUtyples` view function
                      $("#id_ceu_type").html(data);  // replace the contents of the ceu_type input with the data that came from the server
                  }
              })
        });
    });


//Ajax Suggested Evidence Load based on Type

        $("#id_ceu_type").change(function () {
            var url = "{% url 'ajax_load_evidence' %}";
            //var url = $("#add_activity").attr("data-ceu_categories-url");  get the url of the `load_CEUtypes` view
            var typeID = $(this).val();  // get the selected category ID from the HTML input
            $.ajax({
                  url: url, // set the url of the request (= localhost:8000/hr/ajax/load_CEUtypes/)
                  data: {
                        'ceu_type_id': typeID      // add the category id to the GET parameters
                  },
                  success: function (data) {   // `data` is the return of the `load_CEUtyples` view function
                     $("#id_suggested_evidence").html(data);  // replace the contents of the ceu_type input with the data that came from the server
                  }
              })
        });

    </script>

{% endblock %}