{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}

<!--if it will be used by any other user
{% if user_not_teacher %}
    {{ pda_report.teacher }}
{% endif %} -->

{{ pda_report.school_year }}


<!-- Table of added activities-->
{% if pda_instance %}
<div class="row">
    <div class="card card-body">
    <h6> Added Activities</h6>

    {% if pda_report.reading_ceu > 3 %}
        <div class="span80red" >
                 Your submitted reading CEUs have surpassed the cap of 3 CEUs / year. A maximum of three (3) CEUs will be recorded for those activities.
        </div>
    {% endif %}
    {% if pda_report.travel_ceu > 3 %}
        <div class="span80red">
                 Your submitted travel CEUs have surpassed the cap of 3 CEUs / year. A maximum of three (3) CEUs will be recorded for those activities.
        </div>
    {% endif %}
        <table class="table table-sm">
            <tr>
                <th>Category</th><th><div class="span80"> Activity</div></th><th> <div class="span80blue">Evidence</span></th><th>Date Completed</th><th>Description</th><th>Amount</th> <th>Supporting Docs</th>
                <th>Update</th><th>Remove</th>
            </tr>
            {% for p in pda_instance %}
                <td>{{p.pda_type.get_category_display}}</td>
                <td><div class="span80">{{ p.pda_type.description }}</div></td>
                <td>    <div class="span80blue">{{ p.pda_type.evidence|default_if_none:''}}</span></td>
                <td>{{p.date_completed}} </td><td>{{p.description}} </td>
                <td>{{p.amount}} {{p.get_units_display}}</td>
                <td><a href={% get_media_prefix %}{{ p.file }}>{{ p.filename }}</a></td>
                <td><a class = "btn-sm btn-ISEIblue3" href="{% url 'update_pdainstance' p.id %}">Update</a></td>
                <td><a class = "btn-sm btn-danger" href="{% url 'delete_pdainstance' p.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<br>
{% endif %}


<form action=" " method="POST" id="add_activity" enctype="multipart/form-data">
    <!-- enter new activity-->
    <div class="card card-body" >
        <div><input type="button" class="btn btn-sm btn-ISEIblue3" id="actaddbtn"  value ="Enter New Activity">
             <a class = "btn-sm btn-ISEIblue3" href="{% url 'ceu_info' %}" target="_blank">More info</a>
        </div>
        <div id="activity_add" style="display: none">
        <br>
            <h6> Enter New Activity:</h6>
            <br>
            {% csrf_token %}
            <div class="row">
            {{ instanceformset.management_form }}
                {% for f in instanceformset %}
                    <div class="col-sm">
                        <div class="row">{{ f.pda_type|as_crispy_field}}</div><br>
                        <div class="row">
                             {{ f.description|as_crispy_field}}&nbsp; &nbsp; &nbsp; &nbsp;
                             {{f.date_completed|as_crispy_field}} &nbsp; &nbsp; &nbsp; &nbsp;
                             {{f.amount|as_crispy_field}} &nbsp; &nbsp;
                             {{f.units|as_crispy_field }} &nbsp; &nbsp;
                        </div>
                    </div>
                    <div class = "col-sm" style = "margin-top: 15px"><br>
                        Supporting Documentation: {{f.file}} <br><br>
                         <input class = "btn btn-sm btn-ISEIblue3" type="submit" value="Add Activity" name = "add_activity" style = "margin-top: 20px; margin-right: 30px">
                        {{ form.errors }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

        <br><p></p>

    <div class="card card-body">
        <div class="row">
           <div class="col-sm-6">
            <!-- update summary-->
               <p id="school_year">{{report_form.school_year}}</p> <!-- hidden with the script below, needed for form submission-->
               {% csrf_token %}
               <h6>Summary:</h6>
               <div class="span80">*Summarize what you have learned from the combined activities and how you plan to apply this learning to your classroom. </div>
                    {{ report_form.summary}}
               <input class = "btn btn-sm btn-ISEIblue3" type="submit" value="Update Report" name = "update_report" style ="float:right">
           </div>

            {% if pda_report.principal_comment or pda_report.isei_comment %}
             <div class ="col-sm-4">
            {%  if pda_report.principal_comment %}
                <h6 style = "color:red">Principal denial comment:</h6>
                <div class="span80">*If you would like to add a response to the principal, you can do so in the same window. Please keep the Principal's comment as well. </div>
                {{ report_form.principal_comment }}
            {% endif %}
            {%  if pda_report.isei_comment %}
                <h6 style = "color:red">ISEI denial comment:</h6>
                <div class="span80">*If you would like to add a response to ISEI, you can do so in the same window. Please keep ISEI's comment as well. </div>
                {{ report_form.isei_comment }}
            {% endif %}
            </div>
                {% else %} <div class="col-sm-1"></div>
            {% endif %}

                <div class="col-sm-3" ><br>
                <div class="card card-body" style=" margin-top: 50px">
                    <br><br>
                    <!-- submit report-->
                    <p id="school_year2">{{report_form.school_year}}</p>
                    {% csrf_token %}
                    <h6>{{ report_form.date_submitted|as_crispy_field }}</h6><p>Submit by August 15 each year, after you have added ALL activities for the previous school year.</p> <br>
                    <input class = "btn btn-sm btn-danger" type="submit" value="Submit" name = "submit_report">
                    {{ report_form.non_field_errors }}
                </div>
            </div>
            </div>
        </div>
    </form>


    <script>
        document.getElementById("school_year").style.display = "none";
        document.getElementById("school_year2").style.display = "none";

        //show and hide activity entry card
        $('#actaddbtn').on("click", function() {
                 var value = $(this).attr('value');
                 if(value == "Enter New Activity") {
                     $("#activity_add").show();
                     $(this).attr('value',"Done"); }
                 if(value == "Done") {
                     $("#activity_add").hide();
                     $(this).attr('value',"Enter New Activity");}
        });



    </script>

{% endblock %}