{%  extends 'teachercert_base.html' %}

{% block title %} TeacherCert Email Preview {% endblock title %}

{% block content %}

    <div class="card card-body">
    <h6>Email Preview – {{ school.name }}</h6>

    <form method="post">
        {% csrf_token %}

        <label>Recipients</label><br>
        <input type="text" name="recipients"
               value="{{ recipients|join:', ' }}"
               style="width:100%">

        <label>Subject</label><br>
        <input type="text" name="subject" value="{{ subject }}" style="width:100%"><br><br>

        <label>Message</label><br>
        <textarea name="message" rows="15" style="width:100%">{{ message }}</textarea><br><br>

        <button type="submit" class="btn btn-sm btn-ISEIblue4">
            Send Email
        </button>

        <a class="btn btn-ISEIyellow btn-sm" href="{% url 'isei_teachercert_dashboard' %}">Cancel</a>
    </form>

    </div>
{% endblock %}