{%  extends 'base.html' %}
{% load static %}


{% block content %}


    <div class="row">
        <div class="card card-body">
            <h6>Filter:</h6>
            <form method="get">
                    {{ tcertificates_filter.form}}
                <br>
                <button class="btn btn-ISEIblue3 btn-sm" type="submit">Search</button> &nbsp;
                <a href="{%  url 'isei_teachercert' %}">Clear all filters</a>
            </form>
        </div>
    </div>


 {% include 'teachercert/tcertificates_table.html' %}


{% endblock  %}