{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Teacher Certification Application {% endblock title %}
{% block content %}
    {% load static %}

    <div class="card card-body mb-3">
        <form action="" method="post">
            {% csrf_token %}
             {{ application_form }}
          <input type="submit" class ="btn btn-ISEIblue4" value="Submit">
        </form>
    </div>

    {% include 'teachercert/teachercert_application_print.html' %}

{% endblock %}
