{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Teacher Certification Application {% endblock title %}
{% block content %}

    <div class="row">
        <div class="card card-body">
            <form method="get">
                    {{ application_filter.form}}
                <button class="btn btn-ISEIblue3 btn-sm" type="submit" name="search">Search</button> &nbsp;
                <a href="{%  url 'isei_teacher_applications' %}">Clear all filters</a>
            </form>
        </div>
    </div>

        <div class="row">
            <input type="button" class="btn btn-ISEIblue3 btn-sm ml-3" id="emailbtn" value="Open Emailing">
        </div>

        <div class="row card card-body" style="display: none" id="emaildiv">
            <form method="post">
                {% csrf_token %}
                <p>Send an email message to all the teachers in the filtered list. "Dear Teacher_First Name" and ISEI signature will be added to the message.</p>
                <textarea rows="1" cols="50" name="subject" value="Subject">Subject...</textarea>
                <textarea rows = "4" cols = "50" name="message" value="Message">Message...</textarea>
                <input class="btn btn-ISEIblue3 btn-sm" type="submit" name="sendemail" value="Send Email">
            </form>
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>School</th>
                <th>Teacher</th>
                <th>Level</th>
                <th>Date Submitted</th>
                <th>Fee Status</th>
                <th>ISEI Review</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for app in applications %}
                <tr>
                    <td> {{ app.teacher.school }}</td>
                    <td><a href="{% url 'isei_manage_application' app.id %}"> {{app.teacher}}</a></td>
                    <td>{{ app.get_cert_level_display }}</td>
                    <td>{{ app.date }}</td>
                    <td> {% if app.billed == 'y' %} Billed {% else %}
                            {% if app.billed == 'z' %} N/A
                            {% else %}
                        <div class="spanred"> Not billed</div> {% endif %} {% endif %}</td>
                    <td> {% if app.isei_revision_date %}
                                {% if app.isei_revision_date < app.date  %}
                                    <div class="spanred"> Needs review. </div> <div class="span80">Last review: {{ app.isei_revision_date }}</div>
                                {% else %}
                                    {{ app.isei_revision_date }}
                                {% endif %}
                          {% else %} <div class="spanred">Not reviewed yet</div>
                          {% endif %}
                    </td>
                    <td>{% if app.closed %} Finalized
                            {% elif app.expired %} <div class="spanred"> Expired. Please reapply. </div>
                            {% else %}
                            <div class="spanred">Processing</div>
                        {% endif %}
                    </td>
                </tr>
                {% if app.public_note or app.isei_note  %}
                    <tr>
                        <td></td>
                        <td colspan="6"> {% if app.public_note %} <div class="spangreen">Public note:</div> {{ app.public_note }}<br> {% endif %}
                             {% if app.isei_note %} Office use only note: {{ app.isei_note }}<br> {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>


<script>
    $('#emailbtn').on("click", function() {
                 var value = $(this).attr('value');

                 if(value == "Open Emailing") {
                     $("#emaildiv").show();
                     $(this).attr('value',"Close Emailing"); }
                 if(value == "Close Emailing") {
                     $("#emaildiv").hide();
                     $(this).attr('value',"Open Emailing");}
        });


</script>

{% endblock content%}
