{%  extends 'teachercert_base.html' %}

{% block title %} ISEI Staff {% endblock title %}

{% block content %}


<div class="col" align="right">
    <div class = "col-sm" >
        <br>
        <a class= "btn-sm btn-ISEIblue4" href="{% url 'register_teacher' %}"> Add new teacher</a>
        <br>
    </div>
</div>
<br>

<!-- Filter by school -->

<div class="row">
    <div class="card card-body">
        <form method="get">
                {{ school_filter.form}}
            <button class="btn btn-ISEIblue3 btn-sm" id="id_filter_button" type="submit">Search</button> &nbsp;
            <a href="{%  url 'isei_teachercert_dashboard' %}">Clear all filters</a>
        </form>
    </div>
</div>

<div class = "row card card-body">
<!-- Teacher Certification Status-->
        <h5> Teacher Certification Status</h5>
          <!--  <p>Number of teachers: { { number_of_teachers }}</p>
            <p> <p>Percent of registered teachers certified:
                { % if percent_certified < 85 %}<span style="color:red">{ { percent_certified }}%</span>
                { % else %}<span style="color:green">{ { percent_certified }}%</span>{ % endif %}
            </p></p>
            -->
        <!-- Certified Teachers -->
            <p> <input type="button" class="detailbtn btn btn-sm btn-ISEIblue4" value ="Show List" id=certified>
                Certified Teachers: {{ number_of_certified_teachers }}</p>

                <table class = "table" id="details_certified" style="display:none" >
                    <thead>
                        <tr>
                            <th>School</th><th>Teacher</th><th>Certification</th><th>Endorsement</th><th>Renewal Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in valid_tcertificates %}
                          <tr>
                              <td>{{ c.teacher.school }}</td>
                              <td><a class="nav-link" href = "{% url 'account_settings' c.teacher.user.id %}"><div class="spanyellow">Info</div></a>
                                  <a class="nav-link" href = "{% url 'teacher_dashboard' c.teacher.user.id %}">{{ c.teacher.name }}</a></td>

                              <td><a class="nav-link" href = "{% url 'manage_tcertificate' c.teacher.id c.id%}">{% if c.nad %}NAD certificate:{% endif %}{{ c.certification_type }}</a></td>
                              <td> {% for e in c.tendorsement_set.all %}
                                    {{ e }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                              </td>
                              <td>{% if c.renewal_date > in_six_months %}
                                    {{ c.renewal_date }}
                                  {% else %}
                                    <span style="color:orange">{{ c.renewal_date }}</span>
                                  {% endif %}
                              </td>
                              <!-- td>{ % if c.teacher.academic %} Yes { % else %} No { % endif %}</td -->

                          </tr>
                        {% endfor %}
                    </tbody>
                </table>

            <p></p>
            <p> <input type="button" class="detailbtn btn btn-sm btn-ISEIblue4" value ="Show List" id=expired>
                Teachers with Expired Certificates: {{ number_of_expired_teachers}} </p>

                <table class = "table" id="details_expired" style="display:none">
                    <thead>
                        <tr>
                            <th>School</th>
                            <th>Teacher</th>
                            <th>Certification</th>
                            <th>Expiration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in expired_tcertificates %}
                          <tr>
                                <td>{{ c.teacher.school }}</td>
                              <td><a class="nav-link" href = "{% url 'account_settings' c.teacher.user.id %}"><div class="spanyellow">Info</div></a>
                                  <a href="{% url 'teacher_dashboard' c.teacher.user.id %}">{{c.teacher}}</a>
                              </td>
                              <td>{% if c.nad %}NAD certificate:{% endif %}<a class="nav-link" href = "{% url 'manage_tcertificate' c.teacher.id %}">{{ c.certification_type }}</a></td>
                              <td> {% if c.renewal_date < a_year_ago %}
                                     <span style="color:red"> {{ c.renewal_date }} Reinstatement Required</span>
                                {% else %}
                                    <span style="color:red">{{ c.renewal_date }} </span>
                                {% endif %}
                            </td>
                              <!-- td>{ % if c.teacher.academic %} Yes { % else %} No { % endif %}</td -->

                          </tr>
                        {% endfor %}
                    </tbody>
                </table>


            <p></p>
            <p><input type="button" class="detailbtn btn btn-sm btn-ISEIblue4" value ="Show List" id="not_certified">
                Non Certified Teachers: {{ number_of_non_certified_teachers }}
            </p>

                <table class = "table" id="details_not_certified" style="display:none">
                    <thead>
                        <tr>
                            <th>School</th><th>Teacher</th><th>Application Status</th><th</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in non_certified_teachers %}
                          <tr>
                              <td>{{ t.school}}</td>
                              <td><a class="nav-link" href = "{% url 'account_settings' t.user.id %}"><div class="spanyellow">Info</div></a>
                                  <a class="nav-link" href = "{% url 'teacher_dashboard' t.user.id %}">{{t.name}}</a></td>
                              </td>
                             {% if t.teachercertificationapplication %}
                                 <td><a class="nav-link spanred" href = "{% url 'isei_manage_application' t.teachercertificationapplication.id %}">Processing</a></td>
                                {%  else %}
                              <td>Not Submitted</td>
                             {% endif %}
                              <td><a class="btn btn-sm btn-ISEIblue4" href = "{% url 'manage_tcertificate' t.id %}"><div class="span80">Add Certificate</div></a></td>
                              <!-- td>{ % if t.academic %} Yes { % else %} No { % endif %}</td> -->
                          </tr>
                        {% endfor %}
                    </tbody>
            </table>
</div>

<!-- Percent of Certified teachers/school  + background checks done-->

    <div class="card card-body" id="school_list" >
    <table class = "col-6 table table-striped" style = "table-layout: auto">
        <thead class="span80">
            <th>School</th><th>% teachers certified</th>
            <th>Teachers </th><th>Certified</th><th>Missing Background Check</th>
        </thead>
        <tbody>
            {% for s, s_info in cert_dict.items %}
                {% if s_info.teachers > 0 %}
                <tr>
                <td>
                    <div class ='btn btn-sm' onClick="selectschool({{ s.id }})">{{ s }}</div>
                </td>
                <td align = "left">
                    {% if s_info.percent < 50 %}<span style="color:red">{{ s_info.percent}}%</span>
                        {% elif s_info.percent < 70 %} <span style="color:darkorange">{{ s_info.percent}}%</span>
                        {% elif s_info.percent < 85 %} <span style="color:lightsalmon">{{ s_info.percent}}%</span>
                        {% else %} <span style="color:green">{{ s_info.percent }}%</span>
                    {% endif %}
                </td>
                <td align = "left"> {{ s_info.teachers }} </td>
                <td align = "left"> {{ s_info.certified }} </td>
                 <!--   { % for key, info in s_info.items %}
                        <td>{ { info }}</td>
                    { % endfor %} -->

                    <td align = "center">
                        {% if s_info.bc_missing > 0 %} <a href="{% url 'background_check' s.id %}" class="spanred">{{ s_info.bc_missing }}</a>
                        {% else %} <a href="{% url 'background_check' s.id %}" class="spangreen">{{ s_info.bc_missing }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>


<script>

    function selectschool(id){
        $('#id_school').val(id);
        $("#id_filter_button").click();
    };

<!-- show / hide list f Certified, Expired Certification, Non-certified Teachers -->
    $('#certified').on("click", function() {
                 var value = $(this).attr('value');
                 if(value == "Show List") {
                     $("#details_certified").show();
                     $(this).attr('value',"Hide List"); }
                     if(value == "Hide List") {
                     $("#details_certified").hide();
                     $(this).attr('value',"Show List");}
    });
    $('#expired').on("click", function() {
                 var value = $(this).attr('value');
                 if(value == "Show List") {
                     $("#details_expired").show();
                     $(this).attr('value',"Hide List"); }
                     if(value == "Hide List") {
                     $("#details_expired").hide();
                     $(this).attr('value',"Show List");}
    });
    $('#not_certified').on("click", function() {
                 var value = $(this).attr('value');
                 if(value == "Show List") {
                     $("#details_not_certified").show();
                     $(this).attr('value',"Hide List"); }
                     if(value == "Hide List") {
                     $("#details_not_certified").hide();
                     $(this).attr('value',"Show List");}
    });

/*
    document.addEventListener("DOMContentLoaded", function() {
        if ($('#id_school option').filter(':selected').text().includes("---")) {
            document.getElementById('school_list').style.display = "block";
        }else{
            document.getElementById('school_list').style.display = "none";
        };

    }); */


</script>



{% endblock %}
