{%  extends 'base.html' %}
{% load static %}

{% block content %}

<a href="{% url 'approved_pdf' %}" > Approved PDF </a>

<div class="row">
<!-- Instructions for activity revision -->
{% if pda_report_notreviewed %}
    <div class="col-sm">
        <div class="card-body">
            <b> Review submitted teacher activities: </b>
            <span style ="font-size:80%">
            <ul>
                <li>If the submission is accepted (summary is well written and there is supporting documentation):
                    <ol><li>Enter Approved CEUs and "Approve" each activity.</li>
                        <li>If there are activities that are incomplete "Deny" them individually. Teachers can resubmit those activities.</li>
                        <li>"Approve Submission"</li>
                    </ol>
                <li>If the submission is not accepted, "Deny Submission". This will send all activities back to the teacher for resubmission.</li>
            </ul>
            </span>
        </div>
    </div>
{% endif %}
<!-- Approved and Denied list -->
{% if pda_report_approved %}
    <div class="col-sm-3">
<!--    Approved: -->
        <div class="card-body">
         Approved:
            <table class="table table-sm table-light" style="font-size: 85%">
                <thead class="table-light">
                  <th>School</th><th>Teacher</th><th>SchoolYear</th><th>Cancel</th>
                </thead>
              <tbody>
                {% for p in pda_report_approved%}
                <tr>
                    <td>{{ p.teacher.school.abbreviation }}</td><td>{{p.teacher}} </td><td>{{ p.school_year}}</td>
                    <td>
                        <form action="{% url 'isei_pda_approval' p.id %}" method="POST">
                            {% csrf_token %}
                                <input  class ="btn btn-sm btn-ISEIblue3" type="submit" value="Cancel" id="cancel" name="cancel" style = "width: 5em; height: 27px; vertical-align: middle" >
                        </form>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endif %}
<!-- Denied-->
{% if pda_report_denied %}
    <div class="col-sm-3">
        <div class="card-body">
         Denied:
            <table class="table table-sm table-light" style="font-size: 85%">
                <thead class="table-light">
                  <th>School</th><th>Teacher</th><th>SchoolYear</th><th>Cancel</th>
                </thead>
              <tbody>
                {% for p in pda_report_denied%}
                <tr>
                    <td>{{ p.teacher.school.abbreviation }}</td><td>{{p.teacher}} </td><td>{{ p.school_year }}</td>
                    <td>
                        <form action="{% url 'isei_pda_approval' p.id %}" method="POST">
                            {% csrf_token %}
                                <input  class ="btn btn-sm btn-ISEIblue3" type="submit" value="Cancel" id="cancel" name="cancel" style = "width: 5em; height: 27px; vertical-align: middle" >
                        </form>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endif %}
</div>
<div class ="row">

    {% if pda_report_notreviewed %}
    <div class="col-sm">
        <div class="card-body">
             {% for p in pda_report_notreviewed %}
             <table class="table table-sm table-light">
              <tbody>
                <tr>
                    <td><b>{{p.teacher}}, {{ p.teacher.school }}</b> </td>
                    <td>{{p.school_year}}</td>
                    <td>Date Submitted: {{ p.date_submitted }}</td>
                </tr>
                <tr><td>    </td></tr><tr><td>    </td></tr>
                <tr><td colspan="4"> <b>Summary:</b> &nbsp; {{ p.summary}}</td></tr>
                <tr><td>
                     {% if p.isei_comment %}
                         <p><b> Previous denial comment: </b>
                             {{p.isei_comment }}</p>
                     {% endif %}
                </td></tr>
                <!--
                <tr><td>
                    <div class ="enablebtn" id='{{ p.id }}'>
                    <input  class = "btn btn-sm btn-ISEIblue3" type="submit" value="Enable submission"  id="enablebtn{{ p.id }}">
                    </div>
                </td></tr> -->

                <tr>
                  <td colspan="4">
                    <div class="approvaltable">
                    <table class="table mb-0 table-hover" id='table{{ p.id }}'>
                     <thead class="table-light">
                        <th>Date Completed</th><th>Type</th><th>Description</th><th>Amount</th>
                        <th>Supporting Documentation</th><th>Approved CEUs</th>
                      </thead>
                      <tbody>
                        {% for i in p.pdainstance_set.all %}

                          {% if i.isei_reviewed == 'n' %}
                        <tr>
                            <td>{{i.date_completed}}</td><td>{{ i.pda_type }}</td><td>{{i.description}} </td>
                            <td>{{ i.amount }}{{ i.get_units_display }}
                            <td><a href="{% get_media_prefix %}{{ i.file }}">{{ i.file }}</td>

                            <form action="{% url 'isei_pda_approval' p.id i.id %}" method="POST">
                                {% csrf_token %}
                                <td>
                                    <div class="row">
                                    <input type="number" value ={{ i.suggested_ceu }} step =".01" name="approved_ceu" class="form-control" style="width: 4em; height: 30px" required>&nbsp;
                                        <input  class ="btn btn-sm btn-ISEIblue3" type="submit" value="Approve" id="approveinst" name="approveinst" style = "width: 5em; height: 27px; vertical-align: middle" >
                                    </div>
                                </td>
                            </form>
                        </tr>

                        <tr>
                          <form action="{% url 'isei_pda_approval' p.id i.id %}" method="POST">
                                {% csrf_token %}
                                <td colspan="6">
                                    <input type="text" name="isei_comment" class="form-control"   placeholder="If denied please explain why activity isn't approved." required>&nbsp;
                                </td>
                                <td><input  class = "btn btn-sm btn-danger" type="submit" value="Deny" name= "denyinst" id="denyinst" style = "width: 5em; height: 27px; vertical-align: middle; horiz-align: right" >
                                 </td>
                          </form>

                          {% endif %}
                          <!--approved instances-->
                          {% if i.isei_reviewed == 'a' %}
                        <tr>
                            <td>{{i.date_completed}}</td><td>{{ i.pda_type }}</td><td>{{i.description}} </td>
                            <td>{{ i.amount }}{{ i.get_units_display }}</td>
                            <td><a href="{% get_media_prefix %}{{ i.file }}">{{ i.file }}</td><td>{{ i.approved_ceu}}</td>

                            <form action="{% url 'isei_pda_approval' p.id i.id %}" method="POST">
                                {% csrf_token %}
                                <td>
                                    <input  class ="btn btn-sm btn-ISEIblue3" type="submit" value="Cancel" id="cancelinst" name="cancelinst" style = "width: 5em; height: 27px; bottom: 0px" >
                                </td>
                            </form>
                        </tr>

                          {% endif %}
<!--denied instances--><!-- denied instances-->
                          {% if i.isei_reviewed == 'd' %}
                        <tr>
                            <td>{{i.date_completed}}</td><td>{{ i.pda_type }}</td><td>{{i.description}} </td>
                            <td>{{ i.clock_hours|default_if_none:"" }}{{ i.pages|default_if_none:"" }}{{ i.ceu|default_if_none:""  }}
                            {% if i.clock_hours %} hours {% elif i.pages %} pages {% elif i.ceu %} CEUs {% endif %}</td>
                            <td>{{ i.suggested_ceu }}</td><td><a href="{% get_media_prefix %}{{ i.file }}">{{ i.file }}</td><td>Not approved</td>
                        </tr>
                              <tr> <td colspan="7">{{ i.isei_comment }}</td>
                            <form action="{% url 'isei_pda_approval' p.id i.id %}" method="POST">
                                {% csrf_token %}
                                <td>
                                    <input  class ="btn btn-sm btn-ISEIblue3" type="submit" value="Cancel" id="cancelinst" name="cancelinst" style = "width: 5em; height: 27px; vertical-align: middle" >
                                </td>
                            </form></tr>
                        </tr>

                          {% endif %}


                          <tr> <td colspan="7" style ="background: #95b3c6;" > </td></tr>
                      {% endfor %}
                    </table>
                    </div>
                  </td>
                </tr>
                <tr><td>
                    <form action="{% url 'isei_pda_approval' p.id %}" method="POST">
                            {% csrf_token %}
                            <div class="approvebtn" id="approvebtn{{ p.id }}">
                                <input  class = "btn btn-sm btn-ISEIblue3" type="submit" value="Approve Submission" name="approved" id='approved' align="right" >
                            </div>
                                <br>
                            <span style="font-size: 80%" color="red"> *Before approval please ensure that supporting documentation has been submitted and a summary written.
                            </span>
                            <p><span style="font-size=80%">Supporting documentation examples: Certificates for CEU courses and workshops, reports for books and educational trips, etc.</span>
                            </p>
                        </form>
                </td></tr>

                <tr><td colspan="4">
                    <form action="{% url 'isei_pda_approval' p.id %}" method="POST">
                            {% csrf_token %}
                        <input type="text" name="isei_comment" placeholder="If denied please explain why submission isn't approved." class="form-control" required>
                        <div class="denybtn" id="denybtn{{ p.id }}">
                        <input  class = "btn btn-sm btn-danger" type="submit" value="Deny Submission" name="denied" id="denied" >
                        </div>
                    </form>
                    </td></tr>
                    <tr><td colspan="4" style ="background: #2F3E48"> </td></tr>
              </tbody>
            </table><br>
             {% endfor %}
        </div>
    </div>
        {% endif %}

  <!-- independent activities submitted for approval -->
 {% if pda_instance_notreviewed %}
    <div class="col-sm">
        <div class="card-body">
            <b> Review and approve teacher activities (activities denied by ISEI and resubmitted):  </b>
            <table class="table table-sm table-light">
              <tbody>
              {% for i in pda_instance_notreviewed %}
                <tr>
                    <td>{{i.pda_report.teacher}} </td><td>{{i.pda_report.school_year}}</td><td>Date Submitted: {{ i.date_resubmitted }}</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <table class="table mb-0 table-hover">
                     <thead class="table-light">
                        <th>Date Completed</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>CEUs</th>
                        <th>Supporting Documentation</th>
                      </thead>
                      <tbody>
                        <tr>
                            <td>{{i.date_completed}}</td>
                            <td>{{ i.pda_type }}</td>
                            <td>{{i.description}} </td>
                            <td>{{ i.suggested_ceu }}</td>
                            <td><a href="{% get_media_prefix %}{{ i.file }}">{{ i.file }}</td>
                        </tr>
                      </tbody>
                    </table>
                <tr><td>
                  <span style = "color:red"> ISEI Comment:</span>  {{ i.isei_comment }} <br>
                  {% if i.principal_comment %}<span style = "color:red"> Principal Comment:</span>  {{ i.principal_comment }}{% endif %}
                    <form action="{% url 'isei_pda_approval' i.pda_report.id i.id %}" method="POST">
                        {% csrf_token %}
                        <input  class = "btn btn-sm btn-ISEIblue3" type="submit" value="Approve" name = "approveinst" align="right" >
                       <br>
                        <span style="font-size: 85%" color="red"> *Before approval please ensure that supporting documentation has been submitted.
                        <p><span style="font-size=85%">Supporting documentation examples: Certificates for CEU courses and workshops, reports for books and educational trips, etc.</span>
                        </p>
                    </form>
                  </td></tr>
                    <tr><td colspan="4">
                    <form action="{% url 'isei_pda_approval' i.pda_report.id i.id %}" method="POST">
                            {% csrf_token %}
                        <input type="text" name="principal_comment" placeholder="If denied please explain why submission isn't approved." class="form-control">
                            <input  class = "btn btn-sm btn-ISEIblue3" type="submit" value="Deny" name = "denyinst" >
                        </form>
                    </td></tr>
                    <tr><td colspan="4" style ="background: #2F3E48"> </td></tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>



<!--
<script>

$(document).ready(function() {
    $('.approvaltable').find("input","button","textarea").attr('disabled', 'disabled');
    $('.approvebtn').find("input").attr('disabled', 'disabled');

    $(".enablebtn").click(function () {
        var recID = $(this).attr('id');
        if (($('#enablebtn'+recID).attr('value')) == "Enable submission"){
            $('#table'+ recID).find("input","button","textarea").prop('disabled', false);
            $('#approvebtn'+recID).find("input").prop('disabled', false);
            $('#denybtn'+recID).find("input").prop('disabled', 'disabled');
            $('#enablebtn'+recID).attr('value', "Cancel submission");
        } else {
            $('#table'+ recID).find("input","button","textarea").prop('disabled', 'disabled');
            $('#approvebtn'+recID).find("input").prop('disabled', 'disabled');
            $('#denybtn'+recID).find("input").prop('disabled', '');
            $('#enablebtn'+recID).attr('value', "Enable submission");
        };
    });
});

</script>
-->

{% endblock content %}