{%  extends 'teachercert_base.html' %}
{% load static %}


{% block content %}


    <div class="row">
    <div class="card card-body">
        <form method="get" class="mb-3">
            <div class="row">
                <div class="col-auto">
                    <div>{{ tcertificates_filter.form.first_name.label_tag }} {{ tcertificates_filter.form.first_name }}</div>
                    <div>{{ tcertificates_filter.form.last_name.label_tag }} {{ tcertificates_filter.form.last_name }}</div>
                </div>
                <div class ="col-auto">
                    <div>{{ tcertificates_filter.form.school.label_tag }} {{ tcertificates_filter.form.school }}</div>
                    <div>{{ tcertificates_filter.form.certificate_type.label_tag }} {{ tcertificates_filter.form.certificate_type }}</div>
                </div>
                <div class="col-md-auto">
                    <div class="">{{ tcertificates_filter.form.issued_after.label_tag }} {{ tcertificates_filter.form.issued_after }}</div>
                    <div class="">{{ tcertificates_filter.form.issued_before.label_tag }} {{ tcertificates_filter.form.issued_before }}</div>
                </div>
                <div class="col-md-auto">
                    <div class="">{{ tcertificates_filter.form.renew_after.label_tag }} {{ tcertificates_filter.form.renew_after }}</div>
                    <div class="">{{ tcertificates_filter.form.renew_before.label_tag }} {{ tcertificates_filter.form.renew_before }}</div>
                </div>
                <div class="col-md-auto">
                    <div class="">{{ tcertificates_filter.form.archived.label_tag }} {{ tcertificates_filter.form.archived }}</div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-sm btn-ISEIblue4">Filter</button>
                        <a class="ml-2 mt-2" href="{% url 'isei_teachercert' %}">Clear all filters</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



 {% include 'teachercert/tcertificates_table.html' %}

<!-- Emailing -->
    <div class="row">
            <input type="button" class="btn btn-ISEIblue3 btn-sm ml-3" id="emailbtn" value="Open Emailing">
    </div>

    <div class="row card card-body" style="display: none" id="emaildiv">
        <form method="post">
            {% csrf_token %}
            <p>Send an email message to all the teachers in the filtered list. "Dear Teacher_First Name" and ISEI signature will be added to the message.</p>
            <textarea rows="1" cols="50" name="subject" value="Subject">Subject...</textarea>
            <textarea rows = "4" cols = "50" name="message" value="Message">Message...</textarea>
            <input class="btn btn-ISEIblue3 btn-sm" type="submit" name="sendemail" value="Send Email">
        </form>
    </div>



<script>
    $('#emailbtn').on("click", function() {
                 var value = $(this).attr('value');

                 if(value == "Open Emailing") {
                     $("#emaildiv").show();
                     $(this).attr('value',"Close Emailing"); }
                 if(value == "Close Emailing") {
                     $("#emaildiv").hide();
                     $(this).attr('value',"Open Emailing");}
        });


</script>

{% endblock  %}