{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-12">
        <div class="card card-body">

            {% if is_staff %}

<!-- staff can edit TCertificate -->
            <form action="." method="POST" >
                {% csrf_token %}
                <div class="row">
                <div class = "col-8">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                {{ tcertificate_form.teacher|as_crispy_field }}  &nbsp;
                                {{ tcertificate_form.certification_type|as_crispy_field }}
                            </div> <br>
                            <div class="row">
                                {{ tcertificate_form.issue_date|as_crispy_field }} &nbsp;
                                {{ tcertificate_form.renewal_date|as_crispy_field }} &nbsp;
                                Archived: {{ tcertificate_form.archived }}
                            </div> <br>
                                {{ tcertificate_form.renewal_requirements|as_crispy_field }}
                        </div>
                        <div class="col-4">

                            <table>
                                <thead>
                                    <tr>
                                        <td>Endorsement</td>
                                        <td>Delete</td>
                                    </tr>
                                </thead>

                              <tbody>
                                {{ tendorsement_formset.management_data }}
                                {{ tendorsement_formset.management_form }}
                                {% for form in tendorsement_formset %}
                                  {{ form.non_field_errors }}
                                <tr>
                                    <td>{{ form.endorsement}}<span style ='color:red'>{{ form.basic_requirement.errors }}</span></td>
                                    <td>{{ form.DELETE }}<span style ='color:red'>{{ form.met.errors }}</span></td>
                                </tr>
                                  {% for hidden in form.hidden_fields %}
                                     {{ hidden }}
                                  {% endfor %}
                                {% endfor %}
                              </tbody>
                    </table>



                            <input class="btn-ISEIblue3" type="submit" value="Add More Endorsements" name = "add_endorsement">
                        </div>
                    </div>
                    <div class="row">
                    <div class="col">
                        {{ tcertificate_form.public_note|as_crispy_field }}</div>
                    <div class="col">
                        {{ tcertificate_form.office_note|as_crispy_field }}</div>
                </div>
                </div>
                <div class="col-4">
                    <table>
                        <thead>
                            <tr>
                                <td>Basic Requirement</td>
                                <td>Met</td>
                            </tr>
                        </thead>

                      <tbody>
                        {{ tbasic_requirement_formset.management_data }}
                        {{ tbasic_requirement_formset.management_form }}
                        {% for form in tbasic_requirement_formset %}
                          {{ form.non_field_errors }}
                        <tr>
                            <td>{{ form.basic_requirement}}<span style ='color:red'>{{ form.basic_requirement.errors }}</span></td>
                            <td>{{ form.met }}<span style ='color:red'>{{ form.met.errors }}</span></td>
                        </tr>
                          {% for hidden in form.hidden_fields %}
                             {{ hidden }}
                          {% endfor %}
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                </div>
                <input class="btn-ISEIblue3" type="submit" value="Save Certificate" name = "submit_certificate">

                {% for message in messages %}
                    <p id="messages" style="color:blue">{{message}}</p>
                {% endfor %}

            </form>
                <div class = "row mt-3">
                    <div class="col">
                        <a class = "btn btn-sm btn-danger" href = "{% url 'delete_tcertificate' certID %}">Delete Certificate</a>
                    </div>
                    <div class="col">
                         <a class ="btn btn-sm btn-ISEIblue4" href="{% url "manage_tcertificate" pk %}">Add New Certificate</a>
                    </div>
                </div>


<!-- Principal and teacher can only view certificate -->
            {% else %}
                <p><b>Teacher:</b> {{ tcertificate.teacher }}</p>
                <p><b>Certification Type:</b> {{ tcertificate.certification_type }}</p>
                <p><b>Validity:</b> {{ tcertificate.issue_date }} - {{ tcertificate.renewal_date }}</p>
                {% if tcertificate.archived %} <p style="color:red"> Not current certificate <p> {% endif %}
                {{ tcertificate.renewal_requirements }}
                <p><b>Endorsements:</b>
                    {% for e in tcertificate.tendorsement_set.all %}
                        {{ e }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
                {% if tcertificate.public_note %}
                    <p><b>Note from ISEI:</b> {{ tcertificate.public_note }} </p>
                {% endif %}
            {% endif %}
        </div>
        </div>

        <div class="col-4">
            <div class="card-body">
                <p>Previous/Other certificates:</p>
                {% if prev_certificates %}
                    {% for c in prev_certificates %}
                        <a href="{%  url 'manage_tcertificate' pk c.id %}">{{ c.certification_type }}</a>
                            {% if is_staff %}
                                {% if c.archived == False %} <a href="{%  url 'archive_tcertificate' c.id certID %}"><span style="color:red"> Archive</span> </a> {% else %} <a href="{%  url 'de_archive_tcertificate' c.id certID%}"><span style="color:green">Retrieve from archive</span></a> {% endif %}
                        &nbsp;   {% else %}
                                {% if c.archived %} <span style="color:red"> Not current certificate </span>
                                {% else %} <span style="color:green"> Latest certificate </span>
                                {% endif %}
                            {% endif %}

                        &nbsp; <br>{{ c.issue_date }}-{{ c.renewal_date }} {% if c.expired %} <span style="color:red">Expired</span>{% endif %}<br>
                        &nbsp;
                            {% for e in c.tendorsement_set.all %}
                            {{ e }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                        <p></p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{%  if not tcertificate.archived %}
    <br>
<h6> Academic Classes: </h6>
    {% if academic_class %}
        {% include 'teachercert/academic_classes_table.html' %}
    {% else %}
        <p>No Academic Classes have been submitted yet for this Certification</p>
    {% endif %}
    <br>
<h6> Reports: </h6>
    {% if ceu_reports %}
        {% include 'teachercert/reports_table.html' %}
    {% else %}
        <p>No Professional Development Reports have been submitted yet for this Certification</p>
    {% endif %}
{% endif %}
<script type='text/javascript'>

</script>



{% endblock  %}