{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


    <div class="row">
        <div class="col-8">
        <div class="card card-body">
            <form action="." method="POST" >
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div class="row">
                            {{ tcertificate_form.teacher|as_crispy_field }}  &nbsp;
                            {{ tcertificate_form.certification_type|as_crispy_field }}
                        </div> <br>
                        <div class="row">
                            {{ tcertificate_form.issue_date|as_crispy_field }} &nbsp;
                            {{ tcertificate_form.renewal_date|as_crispy_field }} &nbsp;
                            Archived: {{ tcertificate_form.archived }}
                        </div> <br>
                            {{ tcertificate_form.renewal_requirements|as_crispy_field }}
                    </div>
                    <div class="col-5">

                        {{ tendorsement_formset.as_table }}

                        <input class="btn-ISEIblue3" type="submit" value="Add More Endorsements" name = "add_endorsement">
                    </div>
                </div>
                <input class="btn-ISEIblue3" type="submit" value="Save Certificate" name = "submit_certificate">
            </form>
        </div>
        </div>

        <div class="col-4">
            <div class="card-body">
                <h6>Previous/Other certificates:</h6>
                {% if prev_certificates %}
                    {% for c in prev_certificates %}<br>
                        <a href="{%  url 'manage_tcertificate' c.id %}">{{ c.certification_type }}</a><br>
                        &nbsp; {{ c.issue_date }}-{{ c.renewal_date }} {% if c.expired %} <span style="color:red">Expired</span>{% endif %}<br>
                        &nbsp; {% if c.archived == False %} <a href="{%  url 'archive_tcertificate' c.id certID %}"> Archive </a> {% else %} <a href="{%  url 'de_archive_tcertificate' c.id certID%}">Retrieve from archive</a> {% endif %} <br>
                        &nbsp; {% for e in c.tendorsement_set.all %}
                            {{ e }}{% if not forloop.last %},{% endif %}
                                {% endfor %}<br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <br>
    <div class="row">
     {% if pdareports %}
    <table class="table table-light table-striped" >
          <thead>
            <tr>
                <th scope="col">School-Year</th>
                <th scope="col">School-Year End date</th>
                <th scope="col">Status</th>
                <th scope="col">Last Updated</th>
            </tr>
          </thead>
          <tbody>
                  {% for p in pdareports %}
                    <tr>
                        <td>{{ p.school_year}} </td>
                        <td>{{ p.school_year.end_date }}</td>
                        <td>
                            {% if p.isei_reviewed == 'a' %}
                                {{ p.approved_ceu }} CEUs approved
                            {% elif p.principal_reviewed == 'a' %}
                                ISEI approval pending
                            {% elif p.date_submitted %}
                                Principal Approval Pending
                            {% elif p.isei_reviewed == 'd'%}
                                ISEI denied. Not yet resubmitted.
                            {% elif p.principal_reviewed == 'd'%}
                                Principal denied. Not yet resubmitted.
                            {% else %}
                                Not submitted
                            {% endif %}
                        </td>
                        <td> <span style="font-size: 80%"> Last updated: {{ p.updated_at }} </span>
                        </td>
                    </tr>
                 {% endfor %}
          </tbody>
    </table>

    {% else %}
        Report not yet created
    {% endif %}

    </div>



<script type='text/javascript'>

</script>



{% endblock  %}