{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
   PDA
{% endblock %}

{% block content %}

    {% if user_not_teacher %}
        {{ teacher }}
    {% endif %}

    {% load static %}

<div class="card card-body">
    <h6> PROFESSIONAL DEVELOPMENT  - Continuing Education Credit (CEU)</h6>
    <span style = "font-size: 80%">
        <p></p>
        <p>Reports are to be submitted by August 15 each school year.</p>
    </span>
    <div><a class = "btn btn-sm btn-ISEIblue3" href="{% url 'ceu_info' %}" target="_blank">More info</a></div>
</div><br>

<!-- filter -->
    <div class="row">
        <div class="card card-body">
            <h6>Filters for activity search:</h6>
            <form method="get">
                {% if user_not_teacher %}
                    {{ instance_filter.form.teacher.label_tag }} {{ instance_filter.form.teacher }}<br>
                {% endif %}
                {{ instance_filter.form.school_year.label_tag }} {{ instance_filter.form.school_year }}
                {{ instance_filter.form.description.label_tag }} {{ instance_filter.form.description }}
                {{ instance_filter.form.start_date.label_tag }} {{ instance_filter.form.start_date }}
                {{ instance_filter.form.end_date.label_tag }} {{ instance_filter.form.end_date}}
                {{ instance_filter.form.approved.label_tag }} {{ instance_filter.form.approved }}&nbsp; &nbsp <br><br>
                <button class="btn btn-ISEIblue3 btn-sm" type="submit">Search</button> &nbsp;
                <a href="{%  url 'myPDAdashboard' teacher.user.id %}">Clear all filters</a>
            </form>
        </div>
    </div>

<!-- table for principal denied reports-->
    {% if principal_denied_report %} <!-- Check if there are any denied reports -->
        <br>
        {% for ar in principal_denied_report%}
            <div class="card card-body">
                <h6> Principal denied PD Activities </h6> <br>
                <table class="table table-sm">
                    <tr>
                        <th>School Year</th><th>Date Completed</th><th>Description</th><th>Amount</th>
                        <th>Supporting documentation</th><th>Denial Date</th>
                    </tr>
                    {% for p in  ar.pdainstance_set.all %}
                        <tr>
                            <td>{{p.pda_report.school_year}} </td><td>{{p.date_completed}} </td><td>{{p.description}} </td>
                            <td>{{p.amount}} {{p.get_units_display}} </td>
                            <td><a href={% get_media_prefix %}{{ p.file }}>{{ p.file }}</td>
                            <td>{{ p.pda_report.updated_at }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <p><b>Summary:</b> {{ ar.summary }}</p>
                <div class="row">
                    <div class="col-sm-10">
                        <span style="color:red">Reason for denial: </span> {{ ar.principal_comment }}
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-ISEIblue3 btn-sm">
                            <a style="color:white" href="{%  url 'create_pda' ar.id %}"> Update denied activities </a>
                        </button>
                    </div>
                </div>
            </div><br>
        {% endfor %}
    {% endif %}

<!-- table for isei denied reports-->
{% if isei_denied_report %} <!-- Check if there are any denied reports -->
    <br>
    {% for ar in isei_denied_report%}
    <div class="card card-body">
    <h6> ISEI denied PD Activities </h6> <br>
        <table class="table table-sm">
            <tr>
                <th>School Year</th><th>Date Completed</th><th>Description</th><th>Amount</th>
                <th>Supporting documentation</th><th>Denial Date</th>
            </tr>
            {% for p in ar.pdainstance_set.all %}
                <tr>
                    <td>{{p.pda_report.school_year}} </td><td>{{p.date_completed}} </td><td>{{p.description}} </td>
                    <td>{{p.amount}} {{p.get_units_display}}</td>
                    <td><a href={% get_media_prefix %}{{ p.file }}>{{ p.file }}</td><td>{{ p.pda_report.updated_at }}</td>
                </tr>
            {% endfor %}
        </table>
        {%  for ar in isei_denied_report  %}
            <p><b>Summary:</b> {{ ar.summary }}</p>
            <div class="row">
            <div class="col-sm-10">
                <font color="red">Reason for denial: </font> {{ ar.isei_comment }}
            </div>
            <div class="col-sm-2">
                <button class="btn btn-ISEIblue3 btn-sm">
                    <a style="color:white" href="{%  url 'create_pda' ar.id %}"> Update denied activities </a>
                </button>
            </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endif %}


<!-- instances denied while the report submission was accepted -->
{% if isei_denied_independent_instance or active_independent_instance %}
<br>
<div class="row">
    <div class="card card-body">
    <h6> ISEI denied Activities - summary and other submission for this school year have been accepted</h6> <br>
        {% if isei_denied_independent_instance %}
        <table class="table table-sm">
            <tr>
                <th>Activity Type</th><th>Date Completed</th><th>Description</th><th>Amount</th> <th>Supporting Docs</th>
                <th>Denial Date</th><th>Update</th><th>Remove</th>
            </tr>
            {% for p in isei_denied_independent_instance %}
            <tr>
                <td>{{p.pda_type}}</td><td>{{p.date_completed}} </td><td>{{p.description}} </td>
                <td>{{p.amount}} {{p.get_units_display}} </td>
                <td><a href={% get_media_prefix %}{{ p.file }}>{{ p.file }}</a></td>
                <td>{{ p.updated_at }}</td>
                <td><a class = "btn btn-sm btn-ISEIblue3" href="{% url 'update_pdainstance' p.id %}">Update</a></td>
                <td><a class = "btn btn-sm btn-danger" href="{% url 'delete_pdainstance' p.id %}">Delete</a></td>
                <tr><td colspan="6"><span style="color:red">ISEI Denial Reason:</span>  {{ p.isei_comment }}</td>
                {% if p.principal_comment %}
                <tr><td colspan="6"><span style="color:red">Principal Denial Reason:</span>  {{ p.principal_comment }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
            {% endif %}

        <!-- active independent instances (submitted to principal)-->
  {% if active_independent_instance %}
      Active independent Instance
    <table class="table table-sm">
        <tr>
            <th>School Year</th><th>Submitted to principal</th>
            <th>Date Completed</th><th>Category</th><th>Description</th><th>Amount</th>
            <th>Principal Approval</th>
        </tr>
        {% for p in active_independent_instance %}
            <tr>
                <td>{{p.pda_report.school_year}} </td>
                {% if p.pda_report.date_submitted %}
                    <td>{{ p.pda_report.date_submitted }}</td>
                {% else %}
                    <td style = "color:red;size:40px">Not yet</td>
                {% endif %}
                <td>{{p.date_completed}} </td>
                <td>{{p.pda_type.get_category_display}} </td>
                <td>{{p.description}} </td>
                <td>{{p.amount}} {{p.get_units_display}}
                </td>
                {% if p.pda_report.date_submitted %}
                    <td style = "color:red;size:40px">{{ p.get_principal_reviewed_display }}</td>
                {% else %} <td> </td>
                {% endif %}
                <td><a class = "btn btn-sm btn-ISEIblue3" href="{% url 'update_pdainstance' p.id %}">Update</a></td>
                <td><a class = "btn btn-sm btn-danger" href="{% url 'delete_pdainstance' p.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
</div>
{% endif %}




    <br>
<!-- new activity table -->
<div class="card card-body">
    <div class="row">
    <div class="col-sm-10">
    <h6> New activities  </h6>
        <span style="size:-1">*Activities can be added / modified until the Principal reviews them.</span>
    </div>
    <!-- dropdowns for activity addition -->
    <div class="col-sm-2">
    <div class="dropdown">
      <button class="btn btn-ISEIblue3 btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add / Submit PDA
      </button>
      <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
         {% for ar in active_report %}
                <a  class="dropdown-item" href="{%  url 'create_pda' ar.id %}"> for {{ ar.school_year }} </a>
         {% endfor %}
         {% for sy in new_school_year %}
                <a  class="dropdown-item" href="{%  url 'create_report' teacher.user.id sy.id %}"> for {{ sy }}</a>
        {% endfor %}
      </div>
    </div></div>
    </div><br>
    <!-- table for active instances-->
     <table class="table table-sm">
        <tr>
            <th>School Year</th><th>Submitted to principal</th>
            <th>Date Completed</th><th>Category</th><th>Description</th><th>Amount</th>
            <th>Principal Approval</th>
        </tr>
     {% for ar in active_report %}
        {% for p in ar.pdainstance_set.all%}
            <tr>
                <td>{{p.pda_report.school_year}} </td>
                {% if p.pda_report.date_submitted %}
                    <td>{{ p.pda_report.date_submitted }}</td>
                {% else %}
                    <td style = "color:red;size:40px">Not yet</td>
                {% endif %}
                <td>{{p.date_completed}} </td>
                <td>{{p.pda_type.get_category_display}} </td>
                <td>{{p.description}} </td>
                <td>{{p.amount}} {{p.get_units_display}}
                </td>
                {% if p.pda_report.date_submitted %}
                    <td style = "color:red;size:40px">{{ p.get_principal_reviewed_display }}</td>
                {% else %} <td> </td>
                {% endif %}
               <!--
                <td><a class = "btn btn-sm btn-ISEIblue3" href="{% url 'update_pdainstance' p.id %}">Update</a></td>
                <td><a class = "btn btn-sm btn-danger" href="{% url 'delete_pdainstance' p.id %}">Delete</a></td>-->
            </tr>
        {% endfor %}
     {% endfor %}
     </table>
</div>


    <!-- table for ISEI submitted reports + independent instances-->

<!-- submitted to ISEI -->
{% if submitted_instance %}<br>
<div class="card card-body">
    <h6> ISEI Submitted Activities - Approval Pending </h6> <br>
    <table class="table table-sm">
        <tr>
            <th>School Year</th><th>Date Completed</th>
            <th>Category</th><th>Description</th><th>Amount</th><th>Supporting Documentation</th>
            <th>Submitted to Principal</th><th>Submitted to ISEI</th>
        </tr>
        {% for p in submitted_instance %}
            <tr>
                <td>{{p.pda_report.school_year}} </td><td>{{p.date_completed}} </td>
                <td>{{p.pda_type.get_category_display}} </td><td>{{p.description}} </td>
                <td>{{p.amount}} {{p.get_units_display}}</td>
                <td><a href={% get_media_prefix %}{{ p.file }}>{{ p.file }}</td>
                <td>{{p.pda_report.date_submitted}}</td>
                <td>{{ p.updated_at }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}


{% if approved_instance %}<br>
<div class="card card-body">
    <h6> Approved Activities </h6> <br>
    <table class="table table-sm">
        <tr>
            <th>School Year</th><th>Date Completed</th><th>Category</th><th>Description</th>
            <th>Amount</th><th>Approved CEUs</th><th>Approval Date</th>
        </tr>
        {% for p in approved_instance %}
            <tr>
                <td>{{p.pda_report.school_year}} </td>
                <td>{{p.date_completed}} </td>
                <td>{{p.pda_type.get_category_display}} </td>
                <td>{{p.description}} </td>
                <td>{{p.amount}} {{p.get_units_display}}
                </td>
                <td>{{p.approved_ceu}} </td><td>{{ p.updated_at }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

    <!-- number of activities
    <div class="row">
        <div class="col">
		<div class="col-md-5">
			<div class="card text-center text-black  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h8 class="card-title">Total Activities</h8>
			  	</div>
			  	<div class="card-body">
			    	<h8 class="card-title">{{count}}</h8>
			  	</div>
			</div>
		</div>
	</div>
    </div> -->
{% endblock %}