<!--
Not to be used independently
{ % include 'teachercert/tcertificates_table.html' %} to include in other templates-->

<!-- Teachers Table (Teacher, Certification, CEU Report Status -->

    <div class="card-body">
        <table class="table table-light table-striped" >
          <thead>
            <tr>
                <th scope="col">School</th>
                <th scope="col">Name</th>
                <th scope="col">Certificate</th>
                <th scope="col"> Endorsements </th>
                <th scope="col"> Issue Date</th>
                <th scope = "col">Expiration Date</th>
                <th scope="col">CEU Activities</th>
                <th scope = "col"> Academic classes</th>
            </tr>
          </thead>

          <tbody>

            {% for c in tcertificates %}
                    <tr>
                        <td> {{ c.teacher.school }}</td> <!-- <img class="profile-pic" src= "{t.profile_picture.url}}" style="width:50px;height:50px;"> -->
                        <td> {{ c.teacher.first_name}}  {{c.teacher.last_name}} </td>
                        <!-- certificate name and link + highlight expired certificates -->
                        <td><a href="{%  url 'manage_tcertificate' c.teacher.id c.id %}">{% if tcertificate.nad %}NAD certificate:{% endif %}{{ c.certification_type.name }}</a>
                            </td>

                        <td>{% for e in c.tendorsement_set.all %}
                                    {{ e }}{% if not forloop.last %},{% endif %}
                            {% endfor %} </td>

                        <td>{{ c.issue_date }}</td>
                        <td>{{ c.renewal_date }}</td>

                        {% if c.expired %}
                            <td class="spanred"> Expired Certificate</td> <td> </td>
                        {% else %}
                        <td>
                          {% for p in c.teacher.ceureport_set.all %}
                              {% if p.school_year.end_date > c.issue_date %}
                                <p>{{ p.school_year}}:
                                    {% if p.isei_reviewed == 'a' %}
                                        {{ p.approved_ceu }} CEUs approved
                                    {% elif p.principal_reviewed == 'a' %}
                                        ISEI approval pending
                                    {% elif p.date_submitted %}
                                        Principal Approval Pending
                                    {% elif p.isei_reviewed == 'd'%}
                                        ISEI denied. Not yet resubmitted.
                                    {% elif p.principal_reviewed == 'd'%}
                                        Principal denied. Not yet resubmitted.
                                    {% else %}
                                        Not submitted
                                    {% endif %}
                                </p>
                              {% endif %}
                          {% endfor %}

                    </td>

                    <td> {% for a in c.teacher.academicclass_set.all %}
                              {% if a.date_completed > c.issue_date %}
                                {{ a.name}} <br>
                              {% endif %}
                        {% endfor %}
                    </td>
                    {% endif %}
                    </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

