{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Teacher Certification Application {% endblock title %}
{% block content %}
    {% load static %}

    <h6> Teacher Certification Application</h6>
                <p><a class="btn btn-sm btn-ISEIblue4" href="{% url 'account_settings' teacher.user.id %}">Update Teacher Info</a></p>

<!-- Certification form -->
<div class="card card-body mb-3">
    <form method="POST" action="" id="my_form" enctype="multipart/form-data">
        {% csrf_token %}
         {{ application_form.non_field_errors }}
         {% for hidden in application_form.hidden_fields %}
             {{ hidden }}
         {% endfor %}


 <!-- School of employment and name -->
        <div class="card card-body">
            <div class="row"> <b> School of Employment: </b> {{ teacher.school }}</div>
            <div class="row"> <b>Name:</b> {{ teacher.name }} </div>

        </div>

        <div class="col">
        <div class="row">

 <!-- Teacher Info -->
            <div class="col card card-body">
                <p><b> Date of birth: </b> {{ teacher.date_of_birth }}</p>
                <p><b>ISEI Teacher ID:</b> {{ teacher.iseiteacherid }}</p>
                <p><b>Email address:</b> {{ teacher.user.email }}</p>
                <p><b>Phone number:</b> {{ teacher.phone_number }}</p>
            </div>

 <!-- address -->
            <div class="col card card-body">
                <p><b>Address:</b>  {{ address.address_1}} {{ address.address_2}}</p>
                <p><b>City:</b>  {{ address.city }}</p>
                <p><b>State:</b>  {{ address.state }}</p>
                <p><b>Zip/Postal Code:</b>  {{ address.zip_code }}</p>
                <p><b>Country:</b> {{ address.country}}</p><br>
            </div>

<!-- application info -->
             <div class="col card card-body">
                <div class="">
                    Certification Level Requested: <br>
                    <div class = "row">
                        <div class="col">
                            {{ application_form.cert_level }}
                        </div>
                        <div class="col">

                            <button type="button" class="btn btn-sm btn-ISEIblue1" data-toggle="tooltip" data-placement="top"
                                    title=" The Designated Teaching Certificate is issued to an experienced individual who has demonstrated expertise in one or more specific areas and who by experience and training can provide a valuable contribution to the educational program.">
                                <i class="fas fa-info"></i> &nbsp; Designated
                            </button>

                         </div>
                     </div>
                </div>
                {{ application_form.endors_level|as_crispy_field }}
                 {{ application_form.courses_taught|as_crispy_field }}
            </div>
        </div>
        </div>

<!-- Colleges Attended Table -->
        <div class="card card-body">
        <table class="table table-sm">
             <thead>
                <tr>
                  <th scope="col">College Name</th>
                  <th scope="col">City, Country</th>
                  <th scope="col">Start Date </th>
                  <th scope="col">End Date</th>
                  <th scope="col">Degree Level</th>
                  <th scope="col">Degree Name</th>
                  <th scope="col">Transcript Status</th>
                </tr>
             </thead>

             <tbody class="classlist" >
                {% for college in college_attended %}
                    <tr>
                        <td>{{ college.name }}</td>
                        <td>{{ college.address }}</td>
                        <td>{{ college.start_date }}</td>
                        <td>{{ college.end_date }}</td>
                        <td>{{ college.get_level_display }}</td>
                        <td> {{ college.degree }}</td>
                        <td> {% if college.transcript_requested %}
                                {% if college.transcript_received %}
                                    <span style="color:green">Received</span>
                                {% else %}
                                    <span style="color:#bf6f33">Requested</span>
                                {% endif %}
                            {% else %}
                                <span style="color:red">Not requested</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
             </tbody>
         </table>
        </div>

<!-- Schools of Employment Table -->
        <div class="card card-body">
             <table class="table">
                 <thead>
                    <tr>
                      <th scope="col">School</th>
                      <th scope="col">City, Country</th>
                      <th scope="col">Start Date </th>
                      <th scope="col">End Date</th>
                      <th scope="col"> Courses taught</th>
                    </tr>
                 </thead>

                 <tbody class="employmentlist" >
                      {% for school in school_of_employment %}
                        <tr>
                            <td>{{ school.name }}</td>
                            <td>{{ school.address }}</td>
                            <td>{{ school.start_date }}</td>
                            <td>{{ school.end_date }}</td>
                            <td>{{ school.courses }}</td>
                        </tr>
                      {% endfor %}
                 </tbody>
             </table>
        </div>

<!-- Resume and Principal Letter -->

        <div class="card card-body" id="resume_and_principal_letter_div_id" >
            <div class ="row mb-3">
                <div class="col">
                    Upload a resume of work / teaching experience in the technical skill, trade, vocation or subject
                        that you are / will be teaching and any teaching experience with this age group.
                </div>
                <div class="col">
                    {{ application_form.resume_file }}
                </div>
            </div>
            <!-- Unused Toggle buttons
            <div class="row mb-3">
                    <button type="button" class="btn btn-sm btn-ISEIblue1 ml-3" data-toggle="tooltip" data-placement="top"
                            title="Provide verification (resume) of successful experience in the technical skill, trade, or vocation that you are applying for.">
                        <i class="fas fa-info"></i> &nbsp; Vocational
                    </button>
                    <button type="button" class="btn btn-sm btn-ISEIblue1 ml-3" data-toggle="tooltip" data-placement="top"
                            title="Provide verification (resume) of successful experience in the technical skill or subject that you are applying for.">
                        <i class="fas fa-info"></i> &nbsp; Designated
                    </button>
            </div> -->

            <div class="row" id="principal_letter_div_id">
                <div class="col"> Upload letter of recommendation from the principal: </div>
                <div class="col">
                    {{ application_form.principal_letter_file }}
                </div>
            </div>

        </div>

<!-- Disclosure Information -->
        <div class="card card-body">
                {{ application_form.felony|as_crispy_field }}
            <div id = "felony_description" style = "display:none">
                {{ application_form.felony_description|as_crispy_field }}
            </div>

                {{ application_form.sexual_offence|as_crispy_field  }}
            <div id = "sexual_offence_description" style = "display:none">
                {{ application_form.sexual_offence_description|as_crispy_field  }}
            </div>
        </div>

<!-- Signature -->
        <div class="card card-body">
            <p>I hereby grant permission to the ISEI to obtain information form local, state, or federal law enforcement agencies and to do a reference and a driver’s record check to help determine my suitability to be granted a teaching certificate. My signature also attests that the information on this application is to my knowledge accurate and true.</p>
            <p>DISCLAIMER: By typing your name below, you are signing this application electronically. You agree that your electronic signature is the legal equivalent of your manual signature on this application.</p>
            <div class="row">
                <div class="col">{{ application_form.signature|as_crispy_field }}<span style ='color:red'>{{ application_form.signature.errors }}</span></div>
                <div class="col">{{ application_form.date|as_crispy_field }}</div>
            </div>
        </div>

<!-- Submit -->
        <input class="btn btn-default bg-ISEIblue4 text-light" type="submit"  value="Submit Application" >
</form>
</div>

{% for message in messages %}
    <p id="messages" style="color:blue">{{message}}</p>
{% endfor %}

<script>

// show /hide principal letter and resume based on selected certificate

    $('#id_cert_level').on("click", function() {
        ShowHideResumeAndLetter();
    });

    window.onload=function()
        {
           ShowHideResumeAndLetter();
        };

    function ShowHideResumeAndLetter() {
    //$('#id_cert_level').on("click", function() {
      var rl = document.getElementById("resume_and_principal_letter_div_id");
      var l = document.getElementById("principal_letter_div_id");
      var y = document.getElementById("id_cert_level");

      if ((y.value == 'v') || (y.value =='d')) {
        rl.style.display = "block";
        document.getElementById("id_resume").value = 'n';
        l.style.display = "block";
        document.getElementById("id_principal_letter").value = 'n';
        if (y.value == 'v') {
            l.style.display = "none";
            document.getElementById("id_principal_letter").value = 'a';
        };
      } else {
        rl.style.display = "none";
        document.getElementById("id_principal_letter").value = 'a';
        document.getElementById("id_resume").value = 'a';
      };
    };



    $('#id_felony').on("click", function() {
      var x = document.getElementById("felony_description");
      var y = document.getElementById("id_felony");
      if (y.checked) {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      };
});

    $('#id_sexual_offence').on("click", function() {
      var x = document.getElementById("sexual_offence_description");
      var y = document.getElementById("id_sexual_offence");
      if (y.checked) {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      };
    });



</script>


{% endblock %}
