<!--
Not to be used independently
include 'teachercert/teachers_table.html' %} to include in other templates-->

<!-- Teachers Table (Teacher, Certification, PDA Report Status -->

    <div class="card-body">
        <table class="table table-light table-striped" >
          <thead>
            <tr>
                <th scope="col">School</th>
                <th scope="col">Name</th>
                <th scope="col">Certificate</th>
                <th scope="col"> Endorsements </th>
                <th scope = "col">Expiration Date</th>
                <th scope="col">PDA Report Status</th>
            </tr>
          </thead>
          <tbody>
            {% for t in teachers %}
                {% for c in t.tcertificate_set.all %}
                <tr>
                    <td> {{ t.school }}</td>
                    <td>
                        <!-- <img class="profile-pic" src= "{t.profile_picture.url}}" style="width:50px;height:50px;"> -->
                       {{ t.first_name}}  {{t.last_name}}
                    </td>
                    {% if t.tcertificate_set.all %}
                            <td>{{ c.certification_type.name }}</td>
                              <td>{% for e in c.tendorsement_set.all %}
                                {{ e }}
                                {% endfor %}
                              </td>
                              <td>{{ c.renewal_date }}</td>
                    {% else %}
                        <td>None</td><td></td><td></td>
                    {% endif %}
                    <td>
                    {% if t.pdareport_set.all %}
                      {% for p in t.pdareport_set.all %}
                        <p>{{ p.school_year}}:
                            {% if p.isei_reviewed == 'a' %}
                                {{ p.approved_ceu }} CEUs approved
                            {% elif p.principal_reviewed == 'a' %}
                                ISEI approval pending
                            {% elif p.date_submitted %}
                                Principal Approval Pending
                            {% elif p.isei_reviewed == 'd'%}
                                ISEI denied. Not yet resubmitted.
                            {% elif p.principal_reviewed == 'd'%}
                                Principal denied. Not yet resubmitted.
                            {% else %}
                                Not submitted
                            {% endif %}
                        </p>
                          <br>
                          <span style="font-size: 80%"> Last updated: {{ p.updated_at }} </span>
                      {% endfor %}
                    {% else %}
                        Report not yet created
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
           {% endfor %}
          </tbody>
        </table>
    </div>
</div>
