{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}	
{% if user_not_teacher %}
    {{ teacher }}
{% endif %}	
<br>
    {% load static %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
            <form action=" " method="POST" id="update_activity" enctype="multipart/form-data">
				{% csrf_token %}
				<p id="teacher">{{form.teacher}}</p>
                <div class = "row">
                <div class="col-sm">{{form.pda_type|as_crispy_field}}</div>
                <div class="col-sm">{{form.description|as_crispy_field}}</div>
                <div class="col-sm">{{form.date_completed|as_crispy_field}}</div>
                <div class="col-sm">{{form.amount|as_crispy_field}}</div>
                <div class="col-sm">{{form.units|as_crispy_field}}</div>
                </div>
                <div class = "row">
                    <div class="col-sm"> <br>   Supporting documentation: <br> {{ form.file }}</div>
                    <div class="col-sm">
                        {% if resubmit %} <br>
                            Date resubmitted: <br> {{ form.date_resubmitted}}</div>
                            <div class="col-sm"><br><br> <input type="submit" name="resubmit" value="Resubmit"></div>
                        {% else %}
                            <br><br>
    	    			<input type="submit" value="Submit" name="submit">
                        {% endif %}
                    </div></div>
			</form>
		</div>
	</div>
</div>
    <script>
        document.getElementById("teacher").style.display = "none";
    </script>

{% endblock %}