{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}	
{% if user_not_teacher %}
    {{ teacher }}
{% endif %}	
<br>
    {% load static %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
            <form action=" " method="POST" id="update_activity" enctype="multipart/form-data" data-ceu_categories-url="{% url 'ajax_load_CEUtypes' %}">
				{% csrf_token %}
				<p id="teacher">{{form.teacher}}</p>
                <div class = "row">
                <div class="col-sm">{{form.ceu_category|as_crispy_field}}</div>
                <div class="col-sm">{{form.ceu_type|as_crispy_field}}</div>
                <div class="col-sm">{{form.date_completed|as_crispy_field}}</div>
                <div class="col-sm">{{form.amount|as_crispy_field}}</div>
                <div class="col-sm">{{form.units|as_crispy_field}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6">{{form.description|as_crispy_field}}</div>
                </div>
                <div class = "row"><br>
                    <div class="col-sm-7"><br> {{ form.evidence|as_crispy_field }}

                        <div id="id_suggested_evidence"> </div>Suggested Evidence: <span style="color:green">{{ ceu_report.ceu_type.evidence }}</span></div>
                    <div class="col-sm-3">
                        <br>   Supporting documentation: <br> {{ form.file }}
                    </div>
                    <div class="col-sm-2">
                        {% if resubmit %} <br>
                            Date resubmitted: <br> {{ form.date_resubmitted}}</div>
                            <div class="col-sm"><br><br> <input class="btn btn-ISEIblue4" type="submit" name="resubmit" value="Resubmit"></div>
                        {% else %}
                            <br><br>
    	    			<input class= "btn btn-sm btn-ISEIblue4" type="submit" value="Submit" name="submit">
                        {% endif %}
                    </div></div>
			</form>
		</div>
	</div>
</div>
    <script>
        document.getElementById("teacher").style.display = "none";


$(document).ready(function () {
    // $("#id_ceu_category").click(function (e) {
        e.preventDefault();
        const url = $("#update_activity").attr("data-ceu_categories-url");  // get the url of the `load_cities` view
        const ceu_categoryId = $(this).val();  // get the selected country ID from the HTML input

       $.ajax({                //initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'ceu_category_id': ceu_categoryId       // add the country id to the GET parameters
            },
            success: function (data) { // `data` is the return of the `load_cities` view function
                $("#id_ceu_type").html(data);  // replace the contents of the ceu_type input with the data that came from the server
            },
                /*
                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${ceu_type.id}">${ceu_type.description}</option>`
                });
                console.log(html_data);
                $("#id_ceu_type").html(html_data); * /
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }; */
        });
    // });
});


//Ajax Suggested Evidence Load based on Type

        $("#id_ceu_type").click(function () {
            var url = "{% url 'ajax_load_evidence' %}";
            //var url = $("#add_activity").attr("data-ceu_categories-url");  get the url of the `load_CEUtypes` view
            var typeID = $(this).val();  // get the selected category ID from the HTML input
            $.ajax({
                  url: url, // set the url of the request (= localhost:8000/hr/ajax/load_CEUtypes/)
                  data: {
                        'ceu_type_id': typeID      // add the category id to the GET parameters
                  },
                  success: function (data) {   // `data` is the return of the `load_CEUtyples` view function
                     $("#id_suggested_evidence").html(data);  // replace the contents of the ceu_type input with the data that came from the server
                  }
              })
        });



    </script>

{% endblock %}