
<div class="page page-break" >

    <h5 class="mt-4">
        Coordinating Team and Standards Assessment Teams Members
    </h5>
    <hr>

        `{% if selfstudy.teams.all %}
            <table class="table table-sm table-bordered table-striped">
                <thead class="blue-header">
                    <tr>
                        <th>Team</th>
                        <th>Members</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in selfstudy.teams.all %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>
                                {% for member in team.ss_team.all %}
                                    {{ member.user.first_name }}
                                    {{ member.user.last_name }}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                    <em>No members</em>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p><em>No teams assigned to this self-study.</em></p>
        {% endif %}`

     <p class="back-to-toc">
        <a href="#toc">⬆ TOC</a>
    </p>
</div>