 <!-- H. Philanthropy Programs -->
    <div class="print-section">
        <h5>H. Philanthropy Programs</h5>

        <p>
            <strong>
                Briefly outline the school's development program, including alumni activities and fundraising.
            </strong>
        </p>

        <p>
            {{ philanthropy_program.development_program|default:"—" }}
        </p>

          <p class="back-to-toc">
                <a href="#toc">⬆ Back to Table of Contents</a>
            </p>
    </div>