
<div class="card card-body report-page page-break" >

         <h5 class="mt-5 mb-5"> Coordinating Team and Standards Assessment Teams Members </h5>

        {% if selfstudy_data.teams.all %}
            <table class="table table-sm table-bordered table-striped">
                <thead class="blue-header">
                    <tr>
                        <th>Team</th>
                        <th>Members</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in selfstudy_data.teams.all %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>
                                {% for member in team.ss_team.all %}
                                    {{ member.user.first_name }}
                                    {{ member.user.last_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p><em>No members assigned to this team.</em></p>
        {% endif %}
    </div>