<!-- vertical_menu_navbar.html -->

<div class="noprint" id="vertical-navbar">
          <nav class="nav flex-column navbar-dark navbar-nav sticky-vertical-navbar">
          <!--h5 class="text-center">SelfStudy</h5 -->
                <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
                    <a class="nav-link {% if active_link == 'selfstudy' %}active{% endif %}"
                       href="{% url 'selfstudy' selfstudy.id %}">
                      SelfStudy {{ selfstudy.accreditation.school }}
                    </a>
              </div>
  <!-- Profile links -->
                <div class="nav-item mt-1 p-2 bg-ISEIblue4 text-white rounded">
                    <a class="nav-link {% if active_link == 'coordinating_team' %}active{% endif %}"
                       {% if has_submission_date %}
                            href="{% url 'selfstudy_coordinating_team_readonly' selfstudy.id %}">
                        {% else %}
                           href="{% url 'selfstudy_coordinating_team' selfstudy.id %}">
                        {% endif %}
                       Coordinating Team
                    </a>
                </div>
              <div class="nav-item mt-1 p-2 bg-ISEIblue4 text-white rounded">
                <a class="nav-link {% if active_link == 'profile' %}active{% endif %}"
                   {% if has_submission_date %}
                        href="{% url 'selfstudy_profile_readonly' selfstudy.id %}">
                    {% else %}
                        href="{% url 'selfstudy_profile' selfstudy.id %}">
                    {% endif %}
                  School Profile
                </a>
              </div>

            {% if show_profile_submenu %}
                {% include 'selfstudy_profile_submenu.html' %}
            {% endif %}

              <h6 class="text-center mt-2"><strong>Standards</strong></h6>
  <!-- Standard links -->
              {% for standard in standards %}
                <div class="nav-item mb-1 p-2 bg-ISEIblue4 text-white rounded">
                  <a class="nav-link {% if active_link == standard.id %}active{% endif %}"
                     {% if has_submission_date %}
                        href="{% url 'selfstudy_standard_readonly' selfstudy.id standard.id %}">
                     {% else %}
                         href="{% url 'selfstudy_standard' selfstudy.id standard.id %}">
                     {% endif %}
                    {{ standard.number|floatformat:"0"  }}. {{ standard.name }}
                  </a>
                </div>
              {% endfor %}

  <!--Action Plan Links -->

            <h6 class="text-center mt-2"><strong>Action Plans</strong></h6>

            <div class="nav-item mb-1 p-2 bg-ISEIblue4 text-white rounded">
                <a class="nav-link {% if active_link == 'actionplans' %}active{% endif %}"
                   href="{% url 'selfstudy_actionplan_instructions' selfstudy.id %}">
                  Action Plans
                </a>
            </div>
            {% if show_actionplan_submenu %}
                {% include 'selfstudy_actionplan_submenu.html' %}
            {% endif %}

          </nav>
        </div>