<!-- vertical_menu_navbar_report -->

<div class="noprint sticky-vertical-navbar">
    <nav class="nav flex-column navbar-dark navbar-nav">
        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#cover" class="text-white">Cover Page</a>
        </div>
        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#ss_team" class="text-white">Coordinating Team</a>
        </div>

        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#school-profile" data-toggle="collapse" class="text-white">School Profile ▾ </a>
            <div id="school-profile" class="submenu collapse ms-3 mt-1">
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#general_info" class="text-white">General Information</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#school-history" class="text-white">School History</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#financial-data" class="text-white">Financial Data</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#personnel-data" class="text-white">Personnel Data</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#student-data" class="text-white">Student Data</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#student-achievement" class="text-white">Student Achievement</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#secondary-curriculum" class="text-white">Secondary Curriculum</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#student-support-services" class="text-white">Student Support Services</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#philanthropy-programs" class="text-white">Philanthropy Programs</a>
                </div>
            </div>
        </div>

        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#standards" data-toggle="collapse" class="text-white">Standards ▾ </a>
            <div id="standards" class="submenu collapse ms-3 mt-1">
                {% for block in standards_report.standards %}
                    <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                        <a href="#standard-{{ block.standard.id }}" class="text-white">
                            {{ block.standard.number|floatformat:"0" }}.
                            {{ block.standard.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#action-plans-submenu" data-toggle="collapse" class="text-white">
                Action Plans ▾
            </a>
            <div id="action-plans-submenu" class="submenu collapse ms-3 mt-1">
                {% for plan in action_plans %}
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#action-plan-{{ plan.number }}"
                       class="text-white">
                        Action Plan {{ plan.number }}
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>


    </nav>
</div>