<!-- vertical_menu_navbar_report -->

<div class="noprint" id="vertical-navbar">
    <nav class="nav flex-column navbar-dark navbar-nav sticky-vertical-navbar">
        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#cover" class="text-white">Cover Page</a>
        </div>
        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#ss_team" class="text-white">Coordinating Team</a>
        </div>

        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#school-profile" class="toggle-submenu text-white">School Profile ▾</a>
            <div class="submenu ms-3 mt-1">
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#general-info" class="text-white">General Information</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#school-history" class="text-white">School History</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#financial-data" class="text-white">Financial Data</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#personnel-data" class="text-white">Personnel Data</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#student-data" class="text-white">Student Data</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#student-achievement" class="text-white">Student Achievement</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#secondary-curriculum" class="text-white">Secondary Curriculum</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#student-support-services" class="text-white">Student Support Services</a>
                </div>
                <div class="nav-item mt-1 p-2 bg-ISEIblue3 rounded">
                    <a href="#philanthropy-programs" class="text-white">Philanthropy Programs</a>
                </div>
            </div>
        </div>

        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#financial-data" class="text-white">Financial Data</a>
        </div>
        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#personnel" class="text-white">Personnel</a>
        </div>
        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#student-data" class="text-white">Student Data</a>
        </div>
        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#evaluations" class="text-white">Evaluations</a>
        </div>
        <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
            <a href="#action-plan" class="text-white">Action Plan</a>
        </div>


    </nav>
</div>