{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Account {% endblock title %}

{% block content %}

<!-- Profile Picture Style -->
<style>
	.profile-pic{
		max-width: 80%;
		max-height: 80%;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>


<div class="card card-body">
    <div class ="row">
    <!-- Profile Picture -->
        <div class="col-sm-2">
            {% if request.user.teacher.profile_picture %}
			    <img class="profile-pic" src= "{{user.teacher.profile_picture.url}}">
		    {% endif %}
	    </div>

    <!-- Teacher Info -->
    <div class="col-md-9">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class = "row">
                <div class = "col">
                    {{ teacher_form.first_name|as_crispy_field }}
                    {{ teacher_form.middle_name|as_crispy_field }}
                    {{ teacher_form.last_name|as_crispy_field }}
                    {{ teacher_form.suffix|as_crispy_field }}

                </div>
                <div class = "col">
                    {{ teacher_form.date_of_birth|as_crispy_field }}
                    {{ user_form.email|as_crispy_field }}
                    {{ teacher_form.phone_number|as_crispy_field }} <br>
                    <div style = "position: absolute; bottom: 0">
                    <p style="font-size: 14px">Change Profile Picture</p>
                    {{ teacher_form.profile_picture}}</div>
                </div>
                <div class="col">
                    {{ teacher_form.current_certification|as_crispy_field }} <br>
                    {{ teacher_form.school|as_crispy_field }}
                    <input class="btn btn-default bg-ISEIblue4 text-light" type="submit" value="Update" style = "position: absolute; bottom: 0">

                     {% for message in messages %}
	                    <p id="messages" style="color:blue">{{message}}</p>
	                 {% endfor %}
                </div>
            </div>
            </form>

    </div>
	</div>
</div>


{% endblock %}