{% extends 'base.html' %}

{% block title %} ISEI Dashboard {% endblock title %}


{% block content %}

<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-auto">
                <h6>Reporting</h6>
                <p><a href="{% url 'isei_reporting_dashboard' %}">ISEI Reporting Dashboard</a></p>
                <p><a href="{% url 'isei_worthy_student_scholarship' %}">Worthy Student Scholarship Reports</a></p>
                <p><a href="{% url 'download_TN_reports' schoolyearID=schoolyearID %}">Download TN reports</a></p>
                <p><a href="{% url 'download_NCPSA_directory' schoolyearID=schoolyearID %}">Download NCPSA directory</a></p>
            </div>

            <div class="col-auto">
                <h6>Directories</h6>
                <p><a href="{% url 'school_personnel_directory' %}">School + Personnel Directory</a></p>
                <p><a href="{% url 'school_directory' %}">School Directory</a></p>
                <p><a href="{% url 'personnel_directory' %}">Create New Teacher Accounts</a></p>
            </div>

            <div class="col-auto">
                <h6>Miscellaneous</h6>
                <p><a href="{% url 'isei_test_order' %}">IOWA Test Order</a></p>
            </div>

            <div class="col-auto">
                <h6>Number Crunching :) </h6>
                <p><a href="{% url 'longitudinal_enrollment' %}">Enrollment History</a></p>
            </div>

        </div>

    </div>
</div>

{% endblock %}