{%  extends 'base.html' %}

{% block title %} Principal's Dashboard {% endblock title %}


{% block content %}

<div class = "row">
<!-- Teacher Certification Status-->
    <div class="col-sm-6 card card-body">

<h5> Teacher Certification Status</h5>
<!-- Percent of registered teachers -->
    <p> <p>Percent of registered teachers certified:
        {% if percent_certified < 80 %}<span style="color:red">{{ percent_certified }}%</span>
        {% else %}<span style="color:green">{{ percent_certified }}%</span>{% endif %}
    </p></p>

<!-- Certified Teachers -->
    <p> <input type="button" class="detailbtn btn btn-sm btn-ISEIblue4" value ="Show List" id=certified>
        Certified Teachers: {{ number_of_certified_teachers }}</p>

        <table class = "table" id="details_certified" style="display:none" >
            <thead>
                <tr>
                    <th>Teacher</th><th>Certification</th><th>Endorsement</th><th>Renewal Date</th>
                </tr>
            </thead>
            <tbody>
                {% for c in valid_tcertificates %}
                  <tr>
                      <td><a href="{% url 'teacher_dashboard' c.teacher.user.id %}">{{c.teacher}}</a></td><td>{{ c.certification_type }}</td>
                    <td> {% for e in c.tendorsement_set.all %}
                        {{ e }}{% if not forloop.last %},{% endif %}
                    {% endfor %} </td>
                    <td>{% if c.renewal_date > in_six_months %}
                        {{ c.renewal_date }}
                    {% else %}
                        <span style="color:orange">{{ c.renewal_date }}</span>
                    {% endif %}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>

    <p></p>
    <p> <input type="button" class="detailbtn btn btn-sm btn-ISEIblue4" value ="Show List" id=expired>
        Teachers with Expired Certificates: {{ number_of_expired_teachers}} </p>

        <table class = "table" id="details_expired" style="display:none">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Certification</th>
                <th>Expiration Date</th>
            </tr>
        </thead>
        <tbody>
            {% for c in expired_tcertificates %}
              <tr>
                  <td><a href="{% url 'teacher_dashboard' c.teacher.user.id %}">{{c.teacher}}</a></td>
                <td>{{ c.certification_type }}</td>
                <td> {% if c.renewal_date < a_year_ago %}
                         <span style="color:red"> {{ c.renewal_date }} Reinstatement Required</span>

                    {% else %}
                        <span style="color:red">{{ c.renewal_date }} </span>
                    {% endif %}
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>


    <p></p>
    <p><input type="button" class="detailbtn btn btn-sm btn-ISEIblue4" value ="Show List" id="not_certified">
        Non Certified Teachers: {{ number_of_non_certified_teachers }}
    </p>

        <table class = "table" id="details_not_certified" style="display:none">
            <thead>
                <tr>
                    <th>Teacher</th><th>Application Status</th>
                </tr>
            </thead>
            <tbody>
                {% for t in non_certified_teachers %}
                  <tr>
                      <td><a href="{% url 'teacher_dashboard' t.user.id %}">{{t.name}}</a></td>
                     {% if t.teachercertificationapplication %}
                      <td>Submitted</td>
                        {%  else %}
                      <td class="spanred">Not Submitted</td>
                        {% endif %}
                  </tr>
                {% endfor %}
            </tbody>
    </table>
</div>

<!-- CEU Report waiting for approval -->
    {% if reports_to_review %}
    <div class="col-sm-2 card card-body">
        <p> Teacher reports or activities have been submitted that are waiting for your approval! </p>
        <a class="btn btn-danger" href="{% url 'principal_ceu_approval' %}"> CEU Reports Approval</a>
    </div>
{% endif %}

</div>

<script>
    $('#certified').on("click", function() {
                 var value = $(this).attr('value');
                 if(value == "Show List") {
                     $("#details_certified").show();
                     $(this).attr('value',"Hide List"); }
                     if(value == "Hide List") {
                     $("#details_certified").hide();
                     $(this).attr('value',"Show List");}
    });
    $('#expired').on("click", function() {
                 var value = $(this).attr('value');
                 if(value == "Show List") {
                     $("#details_expired").show();
                     $(this).attr('value',"Hide List"); }
                     if(value == "Hide List") {
                     $("#details_expired").hide();
                     $(this).attr('value',"Show List");}
    });
    $('#not_certified').on("click", function() {
                 var value = $(this).attr('value');
                 if(value == "Show List") {
                     $("#details_not_certified").show();
                     $(this).attr('value',"Hide List"); }
                     if(value == "Hide List") {
                     $("#details_not_certified").hide();
                     $(this).attr('value',"Show List");}
    });

</script>

<!-- Reports

    <div class="row">
        <div class="col-sm-4">
            <table class="table table-sm table-light">
                  <thead class="table-light">
                    <th>2020-2021 Reporting</th>
					<th>Due Date</th>
                    <th>Submitted</th>
                  </thead>
                  <tbody>
                  <tr> <td><a href="">Student Reporting</a> </td> <td>August 30, 2020</td> <td><input type="checkbox"></td> </tr>
                  <tr> <td><a href="">Employee Summary </a></td> <td>August 30, 2020</td> <td><input type="checkbox"></td></tr>
                  <tr> <td><a href="">Opening Report </a></td> <td>August 30, 2020</td> <td><input type="checkbox"></td></tr>
                  <tr> <td><a href="">190-Day Report </a></td> <td>August 30, 2020</td><td><input type="checkbox"></td> </tr>
                  <tr> <td><a href="">Safety and Maintenance</a> </td> <td>August 30, 2020</td><td><input type="checkbox"></td> </tr>
                  <tr> <td><a href="">Year-end In-service Report</a> </td> <td>June 1, 2021</td><td><input type="checkbox"></td> </tr>

                  </tbody>
                </table>
             <table class="table table-sm table-light">
                  <thead class="table-light">
                    <th>Delinquent Reporting</th>
					<th>Due Date</th>
                    <th>Submitted</th>
                  </thead>
                  <tbody>
                  <tr> <td><a href="">Safety and Maintenance </a></td> <td>August 30, 2019</td><td><input type="checkbox"></td> </tr>
                  <tr> <td><a href="">Year-end Inservice Report</a> </td> <td>June 1, 2020</td><td><input type="checkbox"></td> </tr>
                  </tbody>
                </table>
        </div>
    </div>
-->
{% endblock %}