{% extends 'base.html' %}

{% block title %} Principal Dashboard {% endblock title %}


{% block content %}

<div class="row">
<!-- Teacher Cert -->
    <div class = "col">
<!-- Teacher Certification Status-->
    <div class="col-sm-10 card card-body">
        <h6 class="mb-3">
        <a href="{% url 'principal_teachercert' userID %}">Teacher Certification </a>
        </h6>
<!-- Percent of registered teachers -->
        <div class="mb-3">
            <p>Number of registered teachers: {{ number_of_teachers }}</p>
            <!--p>Registered academic teachers: { { number_of_academic_teachers }}</p -->
            <p> Percent of registered teachers certified:
                {% if percent_certified < 50 %}<span style="color:red">{{ percent_certified}}%</span>
                    {% elif percent_certified < 70 %} <span style="color:orange">{{ percent_certified}}%</span>
                    {% elif percent_certified < 85 %} <span style="color:yellowgreen">{{ percent_certified}}%</span>
                    {% else %} <span style="color:green">{{ percent_certified }}%</span>
                {% endif %}
            </p>
        </div>
    </div>
</div>
<!--Reports-->
    <div class="col card card-body">
        <h6>ISEI Reports {{ school.name }} ({{ current_school_year.name }}) </h6>
            {% if report_due_dates %}
               <div class="container">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Report</th>
                                <th scope="col">Due Date</th>
                                <th scope="col">Submitted On</th>
                                <th scope="col">Last Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report_dd in report_due_dates %}
                                <tr>
                                    <td><a href="{{ report_dd.url }}"> {{report_dd.report_type.name}} </a></td>
                                    <td>{{report_dd.get_actual_due_date}}</td>
                                    <td>{{ report_dd.submit_date|default_if_none:"-" }}</td>
                                    <td>{{ report_dd.last_update_date|default_if_none:"-" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
    </div>


</div>

{% endblock %}