{% extends 'base.html' %}
{% load static %}

{% block title %} School Dashboard {% endblock title %}


{% block content %}

<div class="row">
    {% if messages %}
        {% for message in messages %}
            <p class="error message {{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
</div>

<!-- Loading spinner -->
<div id="loading" style="display: none;">
    <img id="loading-image" src="{% static 'appfiles/Atom.gif' %}" alt="Loading..."/>
    <p id="loading-text">Please wait, loading...</p>
</div>

<div class="row">
<!-- School Info -->
    <div class = "col col-auto card">
        <div class="card-body">
            <h6 class="card-title">{{ school.name }}</h6>
                <p class="card-text">
                    <strong>Address:</strong><br>
                    {{ school.address.address_1 }}<br>
                    {% if school.address.address_2 %} {{ school.address.address_2 }}<br>{% endif %}
                    {{ school.address.city }},
                    {% if school.address.state_us %}{{ school.address.state_us }},{% endif %}
                    {% if school.address.tn_county %}{{ school.address.tn_county }},{% endif %}
                    {{ school.address.zip_code }}<br>
                    {{ school.address.country }}
                </p>
                {% if school.phone_number %}
                <p><strong>Phone:</strong> {{ school.phone_number }}</p>
                {% endif %}
                {% if school.email %}
                <p><strong>Email:</strong> <a href="mailto:{{ school.email }}">{{ school.email }}</a></p>
                {% endif %}
                {% if school.website %}
                <p><strong>Website:</strong> <a href="{{ school.website }}">{{ school.website }}</a></p>
                {% endif %}
                {% if school.principal %}
                <p><strong>Principal:</strong> {{ school.principal }}</p>
                {% endif %}
                {% if school.president %}
                <p><strong>President:</strong> {{ school.president }}</p>
                {% endif %}
                {% if accreditation_info %}
                    <strong>Accreditation</strong>
                    {% for ai in accreditation_info %}
                    <p class="card-text">
                        <span class="">{{ ai.agency.abbreviation }}:</span>
                        <span>{{ ai.start_date|date:"SHORT_DATE_FORMAT" }}-{{ ai.end_date|date:"SHORT_DATE_FORMAT" }}</span>
                    </p>
                    {% endfor %}
                {% endif %}
                {% if school.type %}
                <p><strong>Type:</strong> {{ school.get_type_display }}</p>
                {% endif %}
            <a href="{% url 'update_school_info' schoolID=school.id %}" class="btn btn-sm btn-ISEIblue3">Update</a>
        </div>
    </div>
<!--Reports-->
    <div class="col col-auto card card-body">
        <h6> {{ current_school_year.name }} Reports </h6>
        <div class="container">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Report</th>
                                <th scope="col">Due Date</th>
                                <th scope="col">Submitted On</th>
                                <th scope="col">Last Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report, due_date in annual_reports %}
                                <tr>
                                    <td>{{report.report_type.name}} <br>
                                        <div class="row">
                                            <div class="col">
                                                {% if report.report_type.code == "OR" or report.report_type.code == "CR"%}
                                                    {% if report.report_type.code == "OR" %}
                                                        {% if sr_er_submitted is True %}
                                                            <a class="error report_edit" href="{% url report.report_type.view_name report.id %}"> Edit </a>
                                                        {% else %}
                                                            <span style="color: gray;">Edit</span>
                                                            <i tabindex="0" class="fas fa-info-circle span80" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right"
                                                                                              data-bs-content="Student and Employee report needs to be submitted first."></i>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if report.report_type.code == "CR" %}
                                                        {% if or_submitted %}
                                                            <a class="error report_edit" href="{% url report.report_type.view_name report.id %}"> Edit </a>
                                                        {% else %}
                                                            <span style="color: gray;">Edit</span>
                                                            <i tabindex="0" class="fas fa-info-circle span80" role="button" data-bs-toggle="popover" data-trigger="focus" data-bs-placement="right"
                                                                                              data-bs-content="Opening report needs to be submitted first."></i>
                                                        {% endif %}
                                                    {% endif %}

                                                {% else %}
                                                    <a class="error report_edit" href="{% url report.report_type.view_name report.id %}"> Edit </a>
                                                {% endif %}
                                            </div>
                                            <div class="col">
                                            {% with display_view=report.report_type.view_name|add:"_display" %}
                                                <a class="" href="{% url display_view report.id %}"> View</a>
                                            {% endwith %}</div>
                                        </div>
                                    </td>

                                    <td>{{due_date}}</td>
                                    <td>{{ report.submit_date|default_if_none:"-" }}</td>
                                    <td>{{ report.last_update_date|default_if_none:"-" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>
<!-- Teacher Cert -->
    <div class = "col col-auto card card-body">
<!-- Teacher Certification Status-->
            <h6 class="mb-3">
                <a href="{% url 'principal_teachercert' school.id %}">Teacher Certification </a>
            </h6>
    <!-- Percent of registered teachers -->
            <div class="mb-3">
                <p>Number of registered teachers: {{ number_of_teachers }}</p>
                <!--p>Registered academic teachers: { { number_of_academic_teachers }}</p -->
                <p> Percent of registered teachers certified:
                    {% if percent_certified < 50 %}<span style="color:red">{{ percent_certified}}%</span>
                        {% elif percent_certified < 70 %} <span style="color:orange">{{ percent_certified}}%</span>
                        {% elif percent_certified < 85 %} <span style="color:yellowgreen">{{ percent_certified}}%</span>
                        {% else %} <span style="color:green">{{ percent_certified }}%</span>
                    {% endif %}
                </p>
            </div>
    </div>

    <div class="col col-auto card card-body">
        <h6 class="mb-3">
            IOWA Test Ordering
        </h6>

        <table class="table">
            <thead><th></th><th>Order Deadline</th><th>Testing Window</th></thead>
            <tbody>
            <tr><td>Fall</td><td>August 1</td><td>September 2-19</td></tr>
            <tr><td>Spring</td><td>March 15</td><td>March 24-April 10</td></tr>
            </tbody>
        </table>
            <table class="table table-bordered">
                <thead>
                    <th>Date</th><th>Status</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <a href="{% url 'test_order' school.id %}">New Order </a>
                        </td>
                    </tr>
                    {% for order in test_orders %}
                        <tr>
                            <td>{{ order.order_date}}</td>
                            <td>
                                {% if not order.submitted %}
                                    <a href="{% url 'test_order' school.id order.id %}"> Edit </a>
                                {% else %}
                                    <a href="{% url 'test_order' school.id order.id %}"> Submitted </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


    </div>

</div>

<script>

    $(window).on('pageshow', function() {
        $('#loading').hide();
    });

    $(document).ready(function() {
        $('a.report_edit[href*="student_report"]').click(function() {
            $('#loading').show();
        });
    });

    document.addEventListener("DOMContentLoaded", function(){
          var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
          var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl, {
              trigger: 'hover'
            })
          })
        });

</script>

{% endblock %}