{%  extends 'base.html' %}
{% load static %}
{% load group_tags %}


{% block title %} Teacher {% endblock title %}
{% block content %}


{% if tcertificates %}

<!-- Teacher Certificates -->
    <div class="">
        <div class = "row">
            <div class = "col"> {{ teacher.name }}'s Teacher Certificate(s)</div>
        </div>

        {% for c in tcertificates %}
        <div class = "card card-body mb-3">
            <div class="col">
                <a class=" btn btn-sm btn-ISEIblue4" href="{% url 'teachercert_application' teacher.id  %}" style="float: right;">Renew </a>
            </div>
<!-- Certificate Info -->
            <h6><b>{{ c.certification_type.name }}</b></h6>
            {% if c.expired %} <span style="color:red">Expired</span> {% endif %}

            <div class="row mb-2">
                <div class="col-sm-3">
                    <h6>Endorsements:</h6>
                    <ul>{% for e in c.tendorsement_set.all %}
                        <li>{{ e }} </li>
                    {% endfor %} </ul>
                    <p><h6>Valid:</h6>
                    {{ c.issue_date }} - {% if c.renewal_date < today %}<span style="color:red">{{ c.renewal_date}}</span> {% else %} {{ c.renewal_date }}{% endif %}
                </p></div>

  <!-- Basic requirments met and not met -->
                {% if basic_met %}
                    <div class="col-sm-6">
                    <b class = "span80blue" >Basic Requirements Met:</b>
                    <table class="span80">
                        <thead><tr><th>Requirement</th><th>Met by</th><tr></tr></thead>
                        <tbody>
                            {% for r in basic_met %}
                                <tr>
                                    <td>{{ r.basic_requirement }}</td><td> {{ r.course }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% endif %}


                {% if basic_not_met %}
                    <div class="col-sm-3">
                    <div class="spanred">Basic Requirements Not Met:</div>
                    <ul>
                        {% for r in basic_not_met %} <li>{{ r.basic_requirement }}</li> {% endfor %}
                    </ul>
                    </div>
                {% endif %}
            </div>
<!-- Renewal requirements and notes -->
            <div class="row mb-3">
                <div class="col">
                <p><h6> Renewal Requirements:</h6> {{ c.renewal_requirements }}</p>
                    {% if c.public_note %}
                        <p><b>Note:</b> {{ c.public_note }}</p>
                    {% endif %}
                </div>
            </div>

             <div class="row mb-3">

<!-- CEU Reports with this certificate -->
                <div class="col col-sm">
                <h6><b>CEU Reports Submitted</b></h6>
                {% if c.teacher.ceureport_set.all %}
                    <table class="table">
                        <tr><th>School Year</th><th>Status</th></tr>

                        {% for p in c.teacher.ceureport_set.all %}
                            {% if p.school_year.end_date > c.issue_date %}
                            <tr>
                                    {% if p.isei_reviewed == 'a' %}
                                        <td><a class="nav-link" href="{% url 'myCEUdashboard' teacher.user.id %}">{{ p.school_year}}</a> </td>
                                        <td>{{ p.approved_ceu }} CEUs approved</td>
                                    {% elif p.principal_reviewed == 'a' %}
                                        <td><a class="nav-link" href="{% url 'CEUreports'%}">{{ p.school_year}}</a> </td>
                                        <td>ISEI approval pending</td>
                                    {% elif p.date_submitted %}
                                        <td><a class="nav-link" href="{% url 'myCEUdashboard' teacher.user.id %}">{{ p.school_year}}</a> </td>
                                        <td>Principal Approval Pending</td>
                                    {% elif p.isei_reviewed == 'd'%}
                                        <td><a class="nav-link" href="{% url 'create_ceu' p.id %}">{{ p.school_year}}</a> </td>
                                        <td>Returned by ISEI: CEU report not complete.
                                            <div class="spanred"> Please resubmit. </div></td>
                                    {% elif p.principal_reviewed == 'd'%}
                                        <td><a class="nav-link" href="{% url 'create_ceu' p.id %}">{{ p.school_year}}</a> </td>
                                        <td>Returned by principal: CEU report not complete.
                                        <div class="spanred"> Please resubmit. </div><td>
                                    {% else %}
                                        <td><a class="nav-link" href="{% url 'create_ceu' p.id %}">{{ p.school_year}}</a> </td>
                                        <td>Not submitted</td>
                                    {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% else %}
                    No CEU Reports have been submitted yet for this certificate's renewal.
                {% endif %}
                </div>

    <!-- Academic classes with this certificate -->

                    <div class="col col-sm">
                        <h6><b>Academic Courses Completed</b></h6>
                    {% if c.teacher.academicclass_set.all  %}
                        <table class="table table-sm">
                        <tr>
                            <th>Class Name</th><th>Credits</th><th>Date Completed</th><th>Transcript status</th>
                        </tr>

                        {% for a in c.teacher.academicclass_set.all %}
                            {% if a.date_completed > c.issue_date %}
                            <tr> <td><a class="nav-link" href="{% url 'my_academic_classes' teacher.user.id %}"> {{a.name}}</a></td><td>{{ a.credits }}</td><td>{{a.date_completed}}</td>
                                {% if a.transcript_received %}
                                    <td><span style="color:green"> Received</span> </td> <td></td><td></td>
                                {% else  %}
                                    {% if a.transcript_requested %}
                                        <td><span style="color:#f1a542"> Requested</span></td>
                                    {% else %}
                                        <td><div class="spanred"> Not requested </div></td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                                {% endif %}
                             {% endfor %}
                     </table>
                    {% else %}
                        No Academic Courses have been submitted yet for this certificate's renewal.
                    {% endif %}
                    </div>
            </div>
        </div>

        {% endfor %}

    </div>

{% else %}
    {% if request.user|in_group:"principal" or request.user|in_group:"staff" %}
            {{ teacher }}
    {% endif %}

<!-- If a teacher does not have an ISEI Certification -->
    {% if last_app %}
        <div class="card card-body">
        <div class="row">
            <div class="col">
                <p>Your Teacher Certification Application is being processed.</p>
                <p> Date submitted: {{ last_app.date }} </p>
                <p>{% if last_app.isei_revision_date %}
                    ISEI revision date: {{ last_app.isei_revision_date }}
                    {% if last_app.isei_revision_date <= last_app.date  %}
                            <p style = "color: red"> Not reviewed by ISEI since your update. </p>
                    {% endif %}
                    {% else %}
                    Not reviewed yet.
                {% endif %} </p>

                {% if last_app.fee_paid %} <p> School billed. </p> {% endif %}
            </div>
            <div class="col">
                {% if last_app.closed %}
                    <a type="button" class="btn-sm btn-ISEIblue4" href="{% url 'teachercert_application_done' teacher.id  %}">See application</a>
                {% else %}
                    <a type="button" class="btn btn-sm btn-ISEIblue4 mb-3" href="{% url 'teachercert_application_done' teacher.id  %}">See application</a> <br>
                    {% if last_app.public_note %}<br>
                        <p class="spanred">Note from ISEI office:</p><p>{{ last_app.public_note }}</p>
                        <a type="button" class="btn btn-sm btn-ISEIblue4 mb-3" href="{% url 'teachercert_application' teacher.id %}">Update Application</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        </div>

 <!-- list of colleges with transcript received status -->
        {% if teacher.collegeattended_set.all %}
        <div class="card card-body" >
            <div class="row">
                <div class="col">
                    <h6> Colleges Listed for Transcripts</h6>
                </div>
                <div clas="col">
                    <a type ="button" class= "btn btn-ISEIblue4 btn-sm" href="{%  url 'account_settings' teacher.user.id %}">Update Transcript Status</a>
                </div>
            </div>
         <table class="table">
             <thead>
                <tr>
                  <th scope="col">College Name</th>
                  <th scope="col">Degree Name</th>
                  <th scope="col">Transcript Status</th>
                </tr>
             </thead>

             <tbody class="classlist" >
                {% for college in teacher.collegeattended_set.all %}
                    <tr>
                        <td>{{ college.name }}</td>
                        <td> {{ college.degree }}</td>
                        <td> {% if college.transcript_requested %}
                                {% if college.transcript_received %}
                                    <span style="color:green">Received</span>
                                {% else %}
                                    <span style="color:#bf6f33">Requested</span>
                                {% endif %}
                            {% else %}
                                <span style="color:red">Not requested</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
             </tbody>
         </table>
        </div>
        {% endif %}
    {% else %}
        <div class="card card-body row">
            Please fill out and submit the <a href="{%  url 'account_settings' teacher.user.id %}">Initial Teacher Certification Application Form</a>
        </div>
    {% endif %}

{% endif %}

{% endblock %}
