{%  extends 'base.html' %}
{% load static %}



{% block title %} Teacher {% endblock title %}
{% block content %}

{% if tcertificates %}

<!-- Teacher Certificates -->
    <div class="">
        <p>{{ teacher.name }}'s Teacher Certificate(s)</p>

        {% for c in tcertificates %}
        <div class = "card card-body mb-3">
  <!-- Certificate Info -->
            <div class="row">
                <div class="col-sm">
            <!-- certificate name and link + highlight expired certificates -->
                    <h6><b>{{ c.certification_type.name }}</b></h6>
                    {% if c.expired %} <span style="color:red">Expired</span> {% endif %}
                </div>
                 <div class="col col-sm">
                    <h6> <b>Endorsements:</b></h6>
                    <ul>{% for e in c.tendorsement_set.all %}
                        <li>{{ e }} </li>
                    {% endfor %} </ul>
                </div>
                <div class="col-sm"> <p><b>Valid:</b>
                    {{ c.issue_date }} - {% if c.renewal_date < today %}<span style="color:red">{{ c.renewal_date}}</span> {% else %} {{ c.renewal_date }}{% endif %}

                </p></div>
            </div>

            <div class="row mb-3">
                <div class="col">
                <p><b> Renewal Requirements:</b> {{ c.renewal_requirements }}</p>
                    {% if c.public_note %}
                        <p><b>Note:</b> {{ c.public_note }}</p>
                    {% endif %}
                </div>
            </div>

             <div class="row mb-3">

<!-- CEU Reports with this certificate -->
                <div class="col col-sm">
                <h6><b>CEU Reports</b></h6>
                    <table class="table">
                        <tr><th>School Year</th><th>Status</th></tr>

                        {% for p in c.teacher.ceureport_set.all %}
                            {% if p.school_year.end_date > c.issue_date %}
                            <tr>
                                <td><a class="nav-link" href="{% url 'myCEUdashboard' teacher.user.id %}">{{ p.school_year}}</a> </td>
                                <td>
                                    {% if p.isei_reviewed == 'a' %}
                                        {{ p.approved_ceu }} CEUs approved
                                    {% elif p.principal_reviewed == 'a' %}
                                        ISEI approval pending
                                    {% elif p.date_submitted %}
                                        Principal Approval Pending
                                    {% elif p.isei_reviewed == 'd'%}
                                        Returned by ISEI: CEU report not complete.
                                        <div class="spanred"> Please resubmit. </div>
                                    {% elif p.principal_reviewed == 'd'%}
                                        Returned by principal: CEU report not complete.
                                        <div class="spanred"> Please resubmit. </div>
                                    {% else %}
                                        Not submitted
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

    <!-- Academic classes with this certificate -->
                {% if c.teacher.academicclass_set.all  %}
                    <div class="col col-sm">
                        <h6><b>Academic Courses Completed</b></h6>

                    <table class="table table-sm">
                        <tr>
                            <th>Class Name</th><th>Credits</th><th>Date Completed</th><th>Transcript status</th>
                        </tr>

                        {% for a in c.teacher.academicclass_set.all %}
                            {% if a.date_completed > c.issue_date %}
                            <tr> <td><a class="nav-link" href="{% url 'my_academic_classes' teacher.user.id %}"> {{a.name}}</a></td><td>{{ a.credits }}</td><td>{{a.date_completed}}</td>
                                {% if a.transcript_received %}
                                    <td><span style="color:green"> Received</span> </td> <td></td><td></td>
                                {% else  %}
                                    {% if a.transcript_requested %}
                                        <td><span style="color:#f1a542"> Requested</span></td>
                                    {% else %}
                                        <td><div class="spanred"> Not requested </div></td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                                {% endif %}
                             {% endfor %}
                     </table>
                </div>
                {% endif %}

            </div>
        </div>

        {% endfor %}

    </div>

{% else %}

<!-- If a teacher does not have an ISEI Certification -->
    {% if last_app %}
        <div class="card card-body">
        <div class="row">
            <div class="col">
                <p>Your Teacher Certification Application is being processed.</p>
                <p> Date received: {{ last_app.date_received }} </p>
                <p>{% if last_app.isei_revision_date %}
                    ISEI revision date: {{ last_app.isei_revision_date }}
                    {% if last_app.isei_revision_date <= last_app.date  %}
                            <p style = "color: red"> Not reviewed by ISEI since your update. </p>
                    {% endif %}
                {% endif %}</p>

                {% if last_app.fee_paid %} <p> School billed. </p> {% endif %}
            </div>
            <div class="col">
                {% if last_app.closed %}
                    <a type="button" class="btn-sm btn-ISEIblue4" href="{% url 'teachercert_application_done' teacher.id last_app.id %}">See application</a>
                {% else %}
                    <a type="button" class="btn btn-sm btn-ISEIblue4 mb-3" href="{% url 'teachercert_application_done' teacher.id last_app.id %}">See application</a> <br>
                    {% if last_app.public_note %}<br>
                        <p><b>Note from ISEI office:</b></p><p>{{ last_app.public_note }}</p>
                        <a type="button" class="btn btn-sm btn-ISEIblue4 mb-3" href="{% url 'teachercert_application' teacher.id last_app.id %}">Update Application</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        </div>

 <!-- list of colleges with transcript received status -->
        {% if teacher.collegeattended_set.all %}
        <div class="card card-body" >
            <div class="row">
                <div class="col">
                    <h6> Colleges Listed for Transcripts</h6>
                </div>
                <div clas="col">
                    <a type ="button" class= "btn btn-ISEIblue4 btn-sm" href="{%  url 'account_settings' teacher.user.id %}">Update Transcript Status</a>
                </div>
            </div>
         <table class="table">
             <thead>
                <tr>
                  <th scope="col">College Name</th>
                  <th scope="col">Degree Name</th>
                  <th scope="col">Transcript Status</th>
                </tr>
             </thead>

             <tbody class="classlist" >
                {% for college in teacher.collegeattended_set.all %}
                    <tr>
                        <td>{{ college.name }}</td>
                        <td> {{ college.degree }}</td>
                        <td> {% if college.transcript_requested %}
                                {% if college.transcript_received %}
                                    <span style="color:green">Received</span>
                                {% else %}
                                    <span style="color:#bf6f33">Requested</span>
                                {% endif %}
                            {% else %}
                                <span style="color:red">Not requested</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
             </tbody>
         </table>
        </div>
        {% endif %}
    {% else %}
        <div class="card card-body row">
            Please fill out and submit the <a href="{%  url 'account_settings' teacher.user.id %}">Initial Teacher Certification Application Form</a>
        </div>
    {% endif %}

{% endif %}

{% endblock %}
