{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} Update School Info {% endblock title %}


{% block content %}

<div class="card card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col col-auto">
                    {{ form_school.name|as_crispy_field  }}
                    {{ form_school.phone_number|as_crispy_field  }}
                    {{ form_school.website|as_crispy_field  }}
                    <br><br>
                    {% if tn_school %}
                        {% if is_old %}
                            <span class="error">
                                {{ form_school.fire_marshal_date|as_crispy_field }}
                            </span>
                        {% else %}
                            {{ form_school.fire_marshal_date|as_crispy_field }}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col col-auto">
                    {{ form_school.principal|as_crispy_field  }}
                    {{ form_school.president|as_crispy_field  }}
                    {{ form_school.textapp|as_crispy_field  }}
                     {{ form_school.type|as_crispy_field  }}
                </div>
                <div class="col col-auto">
                    {{ form_address|crispy }}
                </div>
            </div>
            <button class="btn btn-ISEIblue3 btn-sm" type="submit">Update</button>
        </form>
</div>

{% endblock %}