<!-- accreditation_navbar_secondary.html -->
{% load static %}
{% load group_tags %}


    {% if request.user|in_group:"staff" %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'isei_accreditation_dashboard' %}">Accreditation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_accreditation' %}">Add New Accreditation</a>
      </li>
    {% endif %}


  {% if selfstudy %}
      <a class="nav-link {% if active_link == 'selfstudy' %}active{% endif %}"
       href="{% url 'selfstudy' selfstudy.id %}">
          SelfStudy {{ selfstudy.accreditation.school }} <small>({{ selfstudy.accreditation.visit_date_range|default_if_none:"" }})</small>
    </a>
  {% endif %}

                         
   {% if apr %}
          <a class="nav-link {% if active_link == 'apr' %}active{% endif %}" 
             href="{% url 'apr_progress_report' apr.id %}">
              AAPR Progress {{ apr.accreditation.school }}
        </a>
      {% endif %}

    
    


