<!-- navbar.html -->
{% load static %}
{% load group_tags %}

<div class="noprint">
    <nav class="primary-navbar navbar navbar-expand-lg navbar-dark bg-ISEIblue4" style = 'font-size: 1rem'>
        <div class="container-fluid">
            <img src="{% static 'appfiles/Logo.png' %}" class="mr-3" alt="ISEIapp Logo" style="width: 130px; height: auto;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% block first_line_navbar %}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav">
                    
                        {% if request.user|in_group:"teacher" and not request.user|in_group:"principal, registrar, staff"%}
                            {% block teacher_nav %}
                                <li class="nav-item" >
                                    <a class="nav-link" href="{% url 'teacher_dashboard' request.user.id %}">Certification </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contactisei' request.user.id %}">Contact ISEI</a>
                                </li>
                            {% endblock %}

                        {% elif request.user|in_group:"principal,registrar"%}
                            {% block principal_nav %}
                             <li class="nav-item ">
                                <a class="nav-link" href="{% url 'school_dashboard' request.user.teacher.school.id %}"> Dashboard </a>
                             </li>
                             <li class="nav-item ">
                                 <a class="nav-link" href="{% url 'principal_teachercert' request.user.teacher.school.id %}" > Teacher Certification </a>
                             </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'resources' %}"> Resources </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-3" href="{% url 'contactisei' request.user.id %}">Contact ISEI</a>
                            </li>
                            {% endblock %}
                            
                        {% elif request.user|in_group:"staff" %}
                            {% block isei_staff_nav %}
                             <li class="nav-item ">
                                <a class="nav-link" href="{% url 'isei_dashboard' %}"> Dashboard </a>
                             </li>
                             <li class="nav-item ">
                                  <a class="nav-link" href="{% url 'isei_teachercert_dashboard' %}" > Teacher Certification </a>
                             </li>
                             <li class="nav-item ">
                                  <a class="nav-link" href="{% url 'isei_accreditation_dashboard' %}" > Accreditation </a>
                             </li>
                             <li class="nav-item ">
                                <a class="nav-link" href="{% url 'resources' %}"> Resources </a>
                             </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sendemailsattachments' %}">Send Emails </a>
                            </li>
                            {% endblock %}
                        {% endif %}
                    </ul>
                </div>
            {% endblock first_line_navbar %}
        
<!-- Username, school_year and Logout -->
            {% if user.is_authenticated and user.is_active%}
                <span class ="name-msg">
                  {{ request.user.teacher.school }}<br>
                    {% if request.user|in_group:"principal,registrar,staff" %}
                        <form method="post" id="schoolYearForm" action="{% url 'change_school_year' %}">
                            {% csrf_token %}
                            <span class="span80">{{ navbar_schoolyear_form }}</span>
                        </form>
                    {% else %}
                        {{ current_school_year.name }}
                    {% endif %}
              </span>
              <span class ="name-msg"> {{request.user.first_name}} {{request.user.last_name}}<br>
                  <a href="{% url 'logout' %}" style =" color:#FFCE00">Logout</a>
              </span>
            {% endif %}
        </div>
    </nav>
</div>

