{# base for all other templates #}

<!DOCTYPE html>
<html lang="en" style="font-size: 1rem">
{% load group_tags %}


<head>   {# make modifiable head elements #}
        <meta charset="UTF-8">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <title>
        {% block title %}
            Home 
        {% endblock title %} | ISEIapp
    </title>

        <meta name="csrf-token" content="{{ csrf_token }}">
    
        {# Required meta tags #}
        <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1" >
    
        {% load static %}
        <Link rel="stylesheet" href="{% static "scss/custom.css" %}">
    
        {# stying of this specific file #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {# icon that appears in the tab along with the title #}
         <link rel="shortcut icon" type="image/png" href="{% static 'appfiles/favicon.ico' %}">
        
        {# font awesome for icons #}
        <script src="https://kit.fontawesome.com/6c3c27b459.js" crossorigin="anonymous"></script>
    
        <!-- jQuery (required by Bootstrap 4) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
        <!-- Popper.js 1.x (required by Bootstrap 4) -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        
        <!-- Bootstrap 4 JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
        <!-- for inline editing, and maybe more -->
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>


<body class="Site">
 <div class="content">
    {# Navigation Menu #}
     {% block header %}   
        <header>
           {% include 'navbar.html' %}
        </header>
    {% endblock header %}
    
     <div class="container-fluid">
    {# The Document Body #}
        <div class="site_content">
            {% block main_content %}
                {% block content %}
                  <!-- Default content placeholder -->
                  If you see this, something is wrong!
                {% endblock %}
            {% endblock main_content %}
        </div>
    </div>
</div>
 
    {# The Footer #}
 {% block footer %}
    <footer class="footer noprint" >
            <div class="row card mt-3">
                   <div class="mr-3 ml-3" style="text-align: center">
                       <i>ISEI</i> Education Association || P.O. Box 946, Dayton, TN 37321, USA || info@iseiea.org
                       <p class="span80"> Copyright @2021 <i>ISEI</i> Education Association</p>
                   </div>
            </div>
    </footer>
{% endblock footer %}


</body>

    {% block footer_javascript %}

    {% endblock footer_javascript %}

</html>

