<!-- navbar.html -->
{% load static %}
{% load group_tags %}

<div class="noprint">
    <nav class="primary-navbar navbar navbar-expand-lg navbar-dark bg-ISEIblue4" style = 'font-size: 1rem'>
        <div class="container-fluid">
            <img src="{% static 'appfiles/Logo.png' %}" class="mr-3" alt="ISEIapp Logo" style="width: 130px; height: auto;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            {% with school_id=request.user.profile.school.id user=request.user %}

            {% block first_line_navbar %}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav">
                        {% if user.visiting_team_membership.exists %}
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'my_accreditations' user.id %}">
                                Team Member Access
                              </a>
                            </li>
                        {% endif %}
                    
                        {% if user|in_group:"staff" %}
                            {% block isei_staff_nav %}
                             <li class="nav-item ">
                                <a class="nav-link" href="{% url 'isei_dashboard' %}"> Dashboard </a>
                             </li>
                             <li class="nav-item ">
                                  <a class="nav-link" href="{% url 'isei_teachercert_dashboard' %}" > Teacher Certification </a>
                             </li>
                             <li class="nav-item ">
                                  <a class="nav-link" href="{% url 'isei_accreditation_dashboard' %}" > Accreditation & Annual Visit </a>
                             </li>
                             <li class="nav-item ">
                                <a class="nav-link" href="{% url 'resources' %}"> Resources </a>
                             </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sendemailsattachments' %}">Send Emails </a>
                            </li>
                            {% endblock %}
                            
                        {% elif user|in_group:"principal,registrar"%}
                            {% block principal_nav %}
                             <li class="nav-item ">
                                <a class="nav-link" href="{% url 'school_dashboard' school_id %}"> Dashboard </a>
                             </li>
                             <li class="nav-item ">
                                <a class="nav-link" href="{% url 'school_accreditation_dashboard' school_id %}"> Accreditation & Annual Visit </a>
                             </li>   
                             <li class="nav-item ">
                                 <a class="nav-link" href="{% url 'principal_teachercert' school_id %}" > Teacher Certification </a>
                             </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'resources' school_id %}"> Resources </a>
                            </li>
                            <!--li class="nav-item">
                                <a class="nav-link p-3" href="{ % url 'contactisei' user.id %}">Contact ISEI</a>
                            </li-->
                            {% endblock %}
                    
                        {% else %} 
                    
                            {% if user|in_group:"teacher" %}
                                {% block teacher_nav %}
                                    <li class="nav-item" >
                                        <a class="nav-link" href="{% url 'teacher_dashboard' user.id %}">Certification </a>
                                    </li>
                                     <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'resources' school_id %}"> Resources </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'contactisei' user.id %}">Contact ISEI</a>
                                    </li>
                                {% endblock %}
                            {% endif %}    
                            
                            <!-- { % if user|in_group:"coordinating_team" %}
                                { % block coordinating_nav %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{ % url 'school_accreditation_dashboard' school_id %}"> Accreditation </a>
                                    </li>
                                { % endblock %}
                            { % endif %}    -->
                            
                            {% if user|in_group:"test_ordering" %}
                                {% block test_ordering_nav %}
                                <li class="nav-item ">
                                     <a class="nav-link" href="{% url 'test_order_dashboard' school_id %}"> Test Ordering </a>
                                 </li>
                                {% endblock %}
                            {% endif %}
                            
                        {% endif %}
                    
                         
                    </ul>
                </div>
            {% endblock first_line_navbar %}
        
    <!-- Username, school_year and Logout -->
             {% if user.is_authenticated and user.is_active%}
                <span class ="name-msg">
                  {{ request.user.profile.school }}<br>
                    {% if user|in_group:"principal,registrar,staff" and dashboard == True%}
                        <form method="post" id="schoolYearForm" action="{% url 'change_school_year' %}">
                            {% csrf_token %}
                            <span class="span80">{{ navbar_schoolyear_form }}</span>
                        </form>
                    {% else %}
                        {{ current_school_year.name }}
                    {% endif %}
              </span>
              <span class ="name-msg"> {{user.first_name}} {{user.last_name}}<br>
                  <a href="{% url 'logout' %}" style =" color:#FFCE00">Logout</a>
              </span>
            {% endif %}
                
        
            {% endwith %}
        </div>
    </nav>
</div>

