<!-- html from bootstrap for navigation bar -->
{% load static %}
{% load group_tags %}


<style>
  .name-msg{
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-ISEIblue4">

    <img src="{% static 'appfiles/Logo.png' %}" width="60" height="60" alt="ISEIapp Logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                {% if request.user|in_group:"staff"%}

                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'staff_dashboard' %}">Home </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'isei_teachercert' %}">Teacher Certification</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'PDAreports' %}">PDA Reports</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'isei_pda_approval' %}">PDA Approval</a>
                      </li>

                {% endif %}


                {% if request.user|in_group:"principal"%}
                      <li class="nav-item ">
                        <a class="nav-link" href="{% url 'principal_dashboard' %}" >Home </a>
                      </li>
                      <li class="nav-item" >
                        <a class="nav-link" href="{% url 'principal_teachercert' %}">Teacher Certification</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'PDAreports' %}">PDA Reports</a>
                      </li>
                      <li class="nav-item" style ="border-right:solid 1px #fff;">
                        <a class="nav-link" href="{% url 'principal_pda_approval' %}">PDA Approval</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="{% url 'teacher_dashboard' %}">My Dashboard </a>
                      </li>

                      <li class="nav-item">
                            <a class="nav-link" href="{% url 'myPDAdashboard' request.user.id %}">My PD Activities</a>
                      </li>

                    <li class="nav-item" >
                          <a class="nav-link" href="{% url 'account_settings' %}">Settings</a>
                      </li>
                {% endif %}

                {% if request.user|in_group:"teacher" and not request.user|in_group:"principal"%}

                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'teacher_dashboard' %}">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myPDAdashboard' request.user.id %}">Professional Development</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_settings' %}">Settings</a>
                      </li>

                {% endif %}
                {% else %}
               <!--
                <li><a href="% url 'login' %}">Login</a></li>
                <li><a href="" class="p-r-none">Sign Up</a></li>
                -->
            {% endif %}

        </ul>
  </div>

{% if user.is_authenticated %}
  <span class ="name-msg"> {{request.user.teacher.first_name}}, {{request.user.teacher.school}} </span>
  <span class ="name-msg"> <a href="{% url 'logout' %}" style =" color:#FFCE00">Logout</a> </span>
{% endif %}

<!-- this is not working -->
<script>
    $(function () {
  // this will get the full URL at the address bar
  var url = window.location.href;
  // passes on every "a" tag
  $(".navbar-nav .nav-link").each(function () {
    // checks if its the same on the address bar
    if (url == (this.href)) {
      $(this).closest("li").addClass("active");
      //for making parent of submenu active
      $(this).closest("li").parent().parent().addClass("active");
    }
  });
});
</script>

</nav>