<!-- html from bootstrap for navigation bar -->
{% load static %}
{% load group_tags %}


<style>
  .name-msg{
    font-size: 1rem;
    color: #FFFFFF;
    margin-right: 20px;
  }
</style>


<div class="noprint">
<nav class="navbar navbar-expand-lg navbar-dark bg-ISEIblue4" style = 'font-size: 1rem'>
  <div class="container-fluid">
    <img src="{% static 'appfiles/Logo.png' %}" class=mr-3" alt="ISEIapp Logo" style="width: 130px; height: auto;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
        
         {% if request.user|in_group:"principal,registrar"%}
             <li class="nav-item ">
                <a class="nav-link" href="{% url 'school_dashboard' request.user.teacher.school.id %}"> Dashboard </a>
              </li>
             
         {%elif request.user|in_group:"staff" %}
             <li class="nav-item ">
                <a class="nav-link" href="{% url 'isei_dashboard' %}"> Dashboard </a>
              </li>
             
        {% endif %}
        
        {% block navbar_content %}
            {% if request.user|in_group:"principal,registrar"%}   
                <li class="nav-item ">
                      <a class="nav-link" href="{% url 'principal_teachercert' request.user.teacher.school.id %}" > Teacher Certification </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'resources' %}"> Resources </a>
                </li> 
            {% elif request.user|in_group:"staff" %}
                 <li class="nav-item ">
                      <a class="nav-link" href="{% url 'isei_teachercert_dashboard' %}" > Teacher Certification </a>
                </li>
                <li class="nav-item ">
                      <a class="nav-link" href="{% url 'isei_accreditation_dashboard' %}" > Accreditation </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'resources' %}"> Resources </a>
              </li> 
            {% endif %}
        {% endblock navbar_content %}
        </ul>
  </div>

{% if user.is_authenticated and user.is_active%}
    <span class ="name-msg">
      {{ request.user.teacher.school }}<br>
        {% if request.user|in_group:"principal,registrar,staff" %}
            <form method="post" id="schoolYearForm" action="{% url 'change_school_year' %}">
                {% csrf_token %}
                <span class="span80">{{ navbar_schoolyear_form }}</span>
            </form>
        {% else %}
            {{ current_school_year.name }}
        {% endif %}
  </span>
  <span class ="name-msg"> {{request.user.first_name}} {{request.user.last_name}}<br>
      <a href="{% url 'logout' %}" style =" color:#FFCE00">Logout</a>
  </span>
{% endif %}

<script>
        $(function () {
          // this will get the full URL at the address bar
          var url = window.location.href;
          // passes on every "a" tag
          $(".navbar-nav .nav-link").each(function () {
            // checks if its the same on the address bar
            if (url == (this.href)) {
              $(this).closest("li").addClass("active");
              //for making parent of submenu active
              $(this).closest("li").parent().parent().addClass("active");
            }
          });
        });
        
        const dropdown = document.getElementById('schoolYearDropdown');
        dropdown.addEventListener('change', function() {
            document.getElementById('schoolYearForm').submit();
        });
        
</script>

  </div>
</nav>
</div>