<!-- html from bootstrap for navigation bar -->
{% load static %}
{% load group_tags %}


<style>
  .name-msg{
    font-size: 1rem;
    color: #FFFFFF;
    margin-right: 20px;
  }
</style>


<div class="noprint">
<nav class="navbar navbar-expand-lg navbar-dark bg-ISEIblue4" style = 'font-size: 1rem'>
  <div class="container-fluid">
    <img src="{% static 'appfiles/Logo.png' %}" width="60" height="60" alt="ISEIapp Logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
        <!-- Hide in production for now -->
         {% if request.user|in_group:"principal,registrar"%}
             <li class="nav-item ">
                <a class="nav-link" href="{% url 'principal_dashboard' request.user.teacher.school.id %}"> Home </a>
              </li> 
        {% endif %}
       
        
        {% block navbar_content %}
            <li class="nav-item ">
                  <a class="nav-link" href="{% url 'principal_teachercert' request.user.id %}" > Teacher Certification </a>
            </li>
        {% endblock navbar_content %}
        </ul>
  </div>

{% if user.is_authenticated and user.is_active%}
    <span class ="name-msg">
      {{ request.user.teacher.school }}<br>
          {{ current_school_year.name }}
  </span>
  <span class ="name-msg"> {{request.user.first_name}} {{request.user.last_name}}<br>
      <a href="{% url 'logout' %}" style =" color:#FFCE00">Logout</a>
  </span>
{% endif %}

<script>
    $(function () {
  // this will get the full URL at the address bar
  var url = window.location.href;
  // passes on every "a" tag
  $(".navbar-nav .nav-link").each(function () {
    // checks if its the same on the address bar
    if (url == (this.href)) {
      $(this).closest("li").addClass("active");
      //for making parent of submenu active
      $(this).closest("li").parent().parent().addClass("active");
    }
  });
});

</script>

  </div>
</nav>
</div>