{# base teacher certification templates #}


{% extends 'base.html' %}
{% load static %}
{% block header %}
        <header>
            {% include 'reporting_navbar.html' %}
        </header>
{% endblock header %}   
 
    {# The Footer #}
{% block footer %}
    
    <footer class="footer noprint" >
            <div class="row card mt-3">
                   <div class="mr-3 ml-3" style="text-align: center">
                       <i>ISEI</i> Education Association || P.O. Box 946, Dayton, TN 37321, USA || info@iseiea.org
                       <p class="span80"> Copyright @2021 <i>ISEI</i> Education Association</p>
                   </div>
            </div>
    </footer>
{% endblock footer %}
   

</body>

    {% block footer_javascript %}

    {% endblock footer_javascript %}

</html>

