{# base selfstudy templates #}

{% extends 'base.html' %}
{% load static %}
{% load group_tags %}


{% block secondary_navbar %}
    {% include 'accreditation_navbar_secondary.html' %}
{% endblock secondary_navbar %}


{% block main_content %}
    {% block selfstudy_topox %}
        <!--div class="card card-body">
            <div class="row">
                <div class="col">
                    <h6>{ { selfstudy.accreditation.school }} SelfStudy</h6>
                </div>
                <div class="col-auto ml-0">
                    { { selfstudy.accreditation.visit_date_range }}
                </div>
            </div>
        </div-->
    {% endblock %}


  <div class="row">

   <!-- Vertical Navbar -->
        <div class="col-md-3 col-lg-2 noprint">
          <nav class="nav flex-column navbar-dark navbar-nav sticky-vertical-navbar">
          <!--h5 class="text-center">SelfStudy</h5 -->
                <div class="nav-item mt-1 p-2 bg-ISEIblue2 text-white rounded">
                    <a class="nav-link {% if active_link == 'selfstudy' %}active{% endif %}"
                       href="{% url 'selfstudy' selfstudy.id %}">
                      SelfStudy {{ selfstudy.accreditation.school }}
                    </a>
              </div>
  <!-- Profile links -->
              <div class="nav-item mt-1 p-2 bg-ISEIblue4 text-white rounded">
                <a class="nav-link {% if active_link == 'profile' %}active{% endif %}"
                   href="{% url 'profile' selfstudy.id %}">
                  School Profile
                </a>
              </div>

            {% block profile_submenu %}
            {% endblock profile_submenu %}

              <h6 class="text-center mt-2"><strong>Standards</strong></h6>
  <!-- Standard links -->
              {% for standard in standards %}
                <div class="nav-item mb-1 p-2 bg-ISEIblue4 text-white rounded">
                  <a class="nav-link {% if active_link == standard.id %}active{% endif %}"
                     href="{% url 'standard' selfstudy.id standard.id %}">
                    {{ standard.number }}. {{ standard.name }}
                  </a>
                </div>
              {% endfor %}

  <!--Action Plan Links -->

            <h6 class="text-center mt-2"><strong>Action Plans</strong></h6>

            <div class="nav-item mb-1 p-2 bg-ISEIblue4 text-white rounded">
                <a class="nav-link {% if active_link == 'actionplans' %}active{% endif %}"
                   href="{% url 'selfstudy_actionplan_instructions' selfstudy.id %}">
                  Action Plans
                </a>
            </div>
            {% block actionplan_submenu %}
            {% endblock actionplan_submenu %}

          </nav>
        </div>

<!-- Main Content -->
    <div class="col-md-9 col-lg-10">
          {% block content %}
            <!-- Default selfstudy content placeholder -->
            {{ block.super }}
          {% endblock content %}
    </div>
  </div>
{% endblock main_content %}
