<!-- Submenu for Profile -->
    <div class="submenu">
        <div class="submenu-item mb-1">
            <a class="nav-link {% if active_link == 'profile' %}active{% endif %}"
               href="{% url 'selfstudy_profile' selfstudy.id %}">
                A. General Information
            </a>
        </div>
        <div class="submenu-item mb-1">
            <a class="nav-link {% if active_sublink == 'history' %}active{% endif %}"
               href="{% url 'profile_history' selfstudy.id %}">
                B. School History
            </a>
        </div>
        <div class="submenu-item mb-1">
            <a class="nav-link {% if active_sublink == 'documents' %}active{% endif %}"
               href="{% url 'profile_financial_data' selfstudy.id %}">
                C. Financial Data
            </a>
        </div>
        <div class="submenu-item mb-1">
            <a class="nav-link {% if active_sublink == 'documents' %}active{% endif %}"
               href="{% url 'selfstudy_profile' selfstudy.id %}">
                D. Personnel Data
            </a>
        </div>
        <div class="submenu-item mb-1">
            <a class="nav-link {% if active_sublink == 'documents' %}active{% endif %}"
               href="{% url 'selfstudy_profile' selfstudy.id %}">
                E. Student Data
            </a>
        </div>
        <div class="submenu-item mb-1">
            <a class="nav-link {% if active_sublink == 'documents' %}active{% endif %}"
               href="{% url 'selfstudy_profile' selfstudy.id %}">
                F. Student Achievement
            </a>
        </div>
        <div class="submenu-item mb-1">
            <a class="nav-link {% if active_sublink == 'documents' %}active{% endif %}"
               href="{% url 'selfstudy_profile' selfstudy.id %}">
                G. Secondary Curriculum
            </a>
        </div>
        <div class="submenu-item mb-1">
            <a class="nav-link {% if active_sublink == 'documents' %}active{% endif %}"
               href="{% url 'selfstudy_profile' selfstudy.id %}">
                H. Student Support Services
            </a>
        </div>
        <div class="submenu-item mb-1">
            <a class="nav-link {% if active_sublink == 'documents' %}active{% endif %}"
               href="{% url 'selfstudy_profile' selfstudy.id %}">
                I. Philanthropy Programs
            </a>
        </div>
    </div>
