{# selfstudy.base templates #}

{% extends 'base.html' %}
{% load static %}
{% load group_tags %}
{% load template_extras %}


{% block secondary_navbar %}
    <!-- TOGGLE BUTTON -->
    <button class="btn btn-link text-ISEIyellow p-0 m-0 align-baseline mr-lg-5" onclick="toggleNavbar()">
      ☰ Menu
    </button>
       
    {% if selfstudy %}
      <li class="nav-item">
          <a class="nav-link active"
           href="{% url 'selfstudy' selfstudy.id %}">
              SelfStudy {{ selfstudy.accreditation.school }} <small>({{ selfstudy.accreditation.visit_date_range|default_if_none:"" }})</small>
        </a>
      </li>
  {% endif %}
{% endblock secondary_navbar %}


{% block main_content %}
    
  <div class="row">

    {% with has_submission_date=selfstudy.submission_date user_on_team=selfstudy.accreditation|is_on_team:request.user %}
   <!-- Vertical Navbar -->
      <div id="vertical-navbar" class="col-md-3 col-lg-2">
          {% block vertical_menu_navbar %}
                {% include "selfstudy/includes/vertical_menu_navbar.html" with profile_submenu=submenu %}
          {% endblock vertical_menu_navbar%}
      </div>  

<!-- Main Content -->
    <div id="main-content" class="col-md-9 col-lg-10">
          {% block content %}
            <!-- Default selfstudy content placeholder -->
            {{ block.super }}
          {% endblock content %}
    </div>

  {% endwith %}
  </div>
    
    <script>
        function toggleNavbar() {
        const navbar = document.getElementById("vertical-navbar");
        const content = document.getElementById("main-content");

        if (navbar.style.display === "none") {
          navbar.style.display = "block";
          content.classList.remove("col-12");
          content.classList.add("col-md-9", "col-lg-10");
        } else {
          navbar.style.display = "none";
          content.classList.remove("col-md-9", "col-lg-10");
          content.classList.add("col-12");
        }
      }

    </script>

{% endblock main_content %}

