{# base teacher selfstudy templates #}


{% extends 'accreditation_base.html' %}
{% load static %}
{% load group_tags %}

{% block main_content %}
  <div class="row">
    <!-- Vertical Navbar -->
    <div class="col-md-3 col-lg-2">
      <nav class="nav flex-column nav-pills">
          {% if request.user|in_group:"staff"%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' selfstudy.id %}">Profile</a>
              </li>
                {% for standard in standards %}
                  <li class="nav-item ">
                    <a href="{% url 'standard' selfstudy.id standard.id %}">{{ standard.name }}</a>
                  </li>
                {% endfor %}

            {% endif %}
      </nav>
    </div>

    <!-- Main Content -->
    <div class="col-md-9 col-lg-10">
      {% block content %}
        <!-- Default selfstudy content placeholder -->
        {{ block.super }}
      {% endblock content %}
    </div>
  </div>
{% endblock main_content %}
