{# base teacher certification templates #}


{% extends 'base.html' %}
{% load static %}
{% block header %}
        <header>
            {% include 'teachercert_navbar.html' %}
        </header>
{% endblock header %}   
 
    {# The Footer #}
{% block footer %}
    <footer class="footer noprint" >
        
        {% if user.is_authenticated %}
            <div class="row ml-3 mt-3">
                <div class="col-sm-auto card">
                    <a href="https://drive.google.com/file/d/1Xbn44zVxcaGa2YpDtqTwZ1NpO0imBJK4/view?usp=sharing" target="_blank"> Teacher Certification Handbook </a>
                </div>
                <div class="col-sm-auto card">
                    <a class href="{% url 'ceu_info' %}" target="_blank">CEU Info</a>
                </div>
            </div>
        {% endif %}
    
        
        <div class="row card mt-3">
               <div class="mr-3 ml-3" style="text-align: center">
                   <i>ISEI</i> Education Association || P.O. Box 946, Dayton, TN 37321, USA || teacher_certification@iseiea.org
                   <p class="span80"> Copyright @2021 <i>ISEI</i> Education Association</p>
               </div>
        </div>
    
    </footer>

{% endblock footer %}

</body>

    {% block footer_javascript %}

    {% endblock footer_javascript %}

</html>

