<!--action_plans.html-->
{% extends 'selfstudy_base.html' %}
{% load resource_tags %}

{% block title %} Action Plan Instructions {% endblock title %}

{% block content %}

    <div class="container-fluid">
        <div class="card card-body">
            <h5>Action Plans</h5>

            <hr>
            <div class="table"><i>{{ instructions.link_text }}</i>
                {% get_resource_by_name "Action Plan Development Guide" as guide %}
                    {% if guide %}
                        <a href="{{ guide.link }}" target="_blank">
                            {{ guide.name }}
                        </a>
                    {% else %}
                        Resource not available. Please contact an ISEI staff.
                    {% endif %}
            </div>
            <hr>

            <div class="row">
            <!-- Render paragraphs -->
                <div class="col">
                    {% for paragraph in instructions.paragraphs.all %}
                        <p>{{ paragraph.content }}</p>
                    {% endfor %}
                </div>

                <div class="separator"></div>
                <!-- Render procedures -->
                <div class="col">
                    <!-- Main procedure title -->
                    {% if instructions.procedure_title %}
                        <h7>{{ instructions.procedure_title }}</h7><br><br>
                    {% endif %}

                    <!-- Procedure Group 1 -->
                    {% if instructions.procedure_title_1 %}
                        <h7>A. {{ instructions.procedure_title_1 }}</h7>
                    {% endif %}
                    <ol>
                        {% for procedure in instructions.procedure_group_1.all %}
                            <li> {{ procedure.content }}</li>
                        {% endfor %}
                    </ol>

                    <!-- Procedure Group 2 -->
                    {% if instructions.procedure_title_2 %}
                        <h7>B. {{ instructions.procedure_title_2 }}</h7>
                    {% endif %}
                    <ol>
                        {% for procedure in instructions.procedure_group_2.all %}
                            <li>{{ procedure.content }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>

        </div>
    </div>

{% endblock %}