<!--coordinating_team.html-->
{% extends 'selfstudy_base.html' %}

{% block title %} Coordinating Team SelfStudy {% endblock title %}

{% block content %}

    <div class="card card-body">

        <h5>{{ team.name }} Members</h5>

        <form method="post">
        {% csrf_token %}

        <div class="instructions">
            <p>
                <b>Select the team members</b> from the list below.
                If there are any individuals you would like to add who are not already listed, please ensure that they are included in the current Employee Report.
                Be sure to add their <b>valid email address</b> as well.
            </p>
        </div>

        <table class="table table-sm table-bordered table-striped">
        <thead class="blue-header">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            {% if form.fields.users.queryset %}
                <tr><td colspan="4" class="small" style="background-color: lightgray">Existing users (teachers or team members)</td></tr>
                {% for user in form.fields.users.queryset %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td><input type="checkbox" name="users" value="{{ user.id }}" {% if user in form.users.initial %}checked{% endif %}></td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if personnel_without_users %}
                <tr><td colspan="4" class="small"  style="background-color: lightgray">Personnel without user account (account will be created upon selection)</td></tr>
                {% for person in personnel_without_users %}
                <tr>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.email }}</td>
                    <td><input type="checkbox" name="personnel_without_users" value="{{ person.id }}"></td>
                </tr>
                {% endfor %}
            {% endif %}

            {% if inactive_users %}
                <tr><td colspan="4" class="small"  style="background-color: lightgray">Personnel with inactive user account (account will be activated upon selection)</td></tr>
                {% for person in inactive_users %}
                <tr>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.email }}</td>
                    <td><input type="checkbox" name="inactive_users" value="{{ person.id }}"></td>
                </tr>
                {% endfor %}
            {% endif %}
            </table>

        <!-- Submit button with custom class for styling -->
        <button type="submit" class="btn btn-sm btn-ISEIyellow floating-box">Save</button>
            <button type="submit" class="btn btn-sm btn-ISEIyellow">Save</button>

    </form>
    </div>
{% endblock %}