<!--coordinating_team.html-->
{% extends 'selfstudy_base.html' %}

{% block content %}

<div class="card card-body">

<h5>{{ team.name }} Members</h5>

<form method="post">
{% csrf_token %}

<!-- ================= CORE USERS ================= -->
<h6>Team Members</h6>

<table class="table table-sm">
    <thead class="blue-header">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Select</th>
                </tr>
            </thead>
    {% for user in form.fields.users.queryset %}
    <tr>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>({{ user.email }})</td>
        <td>
            <input type="checkbox"
                   name="users"
                   value="{{ user.id }}"
                   {% if user.id in form.fields.users.initial %}checked{% endif %}>
        </td>
    </tr>
    {% endfor %}
</table>

<hr>

<!-- ================= EXTERNAL USER ================= -->
<h6>Add External Member</h6>

<input name="external_first_name" placeholder="First name">
<input name="external_last_name" placeholder="Last name">
<input name="external_email" placeholder="Email">

<hr>

<!-- ================= PERSONNEL WITHOUT USERS ================= -->
<h6>Personnel without accounts</h6>

<table class="table table-sm">
        <thead class="blue-header">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Select</th>
                </tr>
            </thead>
{% for p in personnel_without_users %}
<tr>
    <td>{{ p.first_name }} {{ p.last_name }}</td>
    <td> ({{ p.email }})</td>
    <td>
        <input type="checkbox" name="personnel_without_users" value="{{ p.id }}">
    </td>
</tr>
{% endfor %}
</table>

<hr>

<!-- ================= INACTIVE USERS ================= -->
<h6>Inactive users</h6>

<table class="table table-sm">
            <thead class="blue-header">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Select</th>
                </tr>
            </thead>
{% for u in inactive_users %}
<tr>
    <td>{{ u.first_name }} {{ u.last_name }}</td>
    <td> ({{ u.email }})</td>
    <td>
        <input type="checkbox" name="inactive_users" value="{{ u.id }}">
    </td>
</tr>
{% endfor %}
</table>

        <!-- Submit button with custom class for styling -->
        <button type="submit" class="btn btn-sm btn-ISEIyellow floating-box">Save</button>
            <button type="submit" class="btn btn-sm btn-ISEIyellow">Save</button>

</form>

</div>

{% endblock %}