<!--coordinating_team.html-->
{% extends 'selfstudy_base.html' %}
{% load group_tags %}


{% block title %} Coordinating Team SelfStudy {% endblock title %}


{% block content %}

    <div class="card card-body">

        <h5> Coordinating Team and Standards Assessment Teams Members </h5>

        <table class="table table-bordered w-auto ">
            <thead class="blue-header">
                <th>Team</th>
                <th>Members</th>
                {% if privileges %}
                    <th class = noprint>Add/Edit Member List</th>
                {% endif %}
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.name }}</td>
                        <td>
                            {% for member in team.selfstudy_teammember_set.all %}
                                {{ member.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                            {% empty %}
                                -
                            {% endfor %}
                        </td>
                        {% if privileges %}
                            <td class="noprint">
                            <a href="{% url 'add_coordinating_team_members' selfstudy_id=selfstudy.id team_id=team.id %}">
                                {% if team.selfstudy_teammember_set.all %} Edit {% else %}<span class="error">Add</span> {% endif %}
                            </a>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Button to open the email review page -->
        {% if privileges %}
            <div class="noprint">
                <a href="{% url 'send_email_selfstudy_coordinating_team' selfstudy_id=selfstudy.id %}">
                    <button class="btn btn-sm btn-ISEIblue4">Send Invitation Emails</button>
                </a>
            </div>
        {% endif %}

    </div>

{% endblock %}