<!--profile.html-->
{% extends 'selfstudy_base.html' %}
{% load template_extras %}

{% block title %} Profile Philanthropy {% endblock title %}


{% block content %}

<!-- Title and Success and Error Messages -->
    <div class="card card-body">
        <h5>H. Philanthropy Programs </h5>

        {% include "includes/messages.html" %}

    </div>



     <div id="content-div">
        <form id="content-form" method="post">
            {% csrf_token %}
                <input type="hidden" name="form_version" id="form_version" value="{{ form_version }}">

            <div id="somethingData">
                <div class="card card-body">

                    <div class="form-group">
                        <label for="{{ form.development_program.id_for_label }}">
                            Briefly outline the school's development program, including alumni activities, and fund raising.
                        </label>
                        {{ form.development_program }}
                        {% if form.development_program.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.development_program.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>


                    {% include "includes/floating_notification.html" %}
                    {% include "includes/floating_save_button.html" %}
                    {% include "includes/bottom_save_button.html" %}

                </div>
            </div>

        </form>
     </div>

{% endblock %}


{% block script %}


// Auto-expanding textareas
    {% include "includes/script_auto_expand_textarea.html" %}
//Save cursor position
    {% include "includes/save_position.html" %}

    {% if not readonly %}
        {% include "includes/edit_protection.html" %}
        {% include "includes/form_reload_modal.html" %}
    {% endif %}


    <script>
//1.When content changes show Save button. Also remove the Content Saved Message. Uses the Include from above
        document.addEventListener("DOMContentLoaded", function () {

                window.initializeEditProtectionFramework([
                    {
                        divs: ["content-div"],
                        buttons: ["floating-save-btn", "end-save-btn"],
                        formId: "{{ form_id|escapejs }}"
                    }
                ]);
           });

    </script>
{% endblock %}