<!--profile.html-->
{% extends 'selfstudy_base.html' %}

{% block title %} Profile SelfStudy {% endblock title %}

{% block profile_submenu %}
    {% include 'selfstudy_profile_submenu.html' %}
{% endblock profile_submenu %}

{% block content %}

    <div class="card card-body">
        <h5>School Profile</h5>
        <p>The principal, with assistance from the Coordinating Committee, is responsible for completing sections A-F. The principal may delegate responsibility for completion of applicable sections to others, such as the media center to the librarian, etc.</p>

        <h4> General Information Here</h4>
    </div>


{% endblock %}