<!--profile.html-->
{% extends 'selfstudy_base.html' %}

{% block title %} Profile History {% endblock title %}


{% block content %}

    <div class="card card-body">
        <h5>B. School History</h5>

       <hr>

        {% include "includes/messages.html" %}

        <span>
            Give a brief history of the school, to include information like:</span>
            <ul>
                <li>Year Started, Founder(s)</li>
                <li>Any significant changes over the years (for example name changes)</li>
                <li>Size of the property</li>
                <li>Student Demographic data (1st year, highest year enrollment, things impacting enrollment, etc.)</li>
                <li>Personnel Demographic data(staff longevity data, history of presidents/principals)</li>
            </ul>
        <hr>
        <div id="content-div">
            <form id="content-form" method="post">
                {% csrf_token %}
                        <input type="hidden" name="form_version" id="form_version" value="{{ form_version }}">

                {{ history_form.as_p }}

                {% include "includes/floating_notification.html" %}
                {% include "includes/floating_save_button.html" %}
                {% include "includes/bottom_save_button.html" %}
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}


// Auto-expanding textareas
    {% include "includes/script_auto_expand_textarea.html" %}
//Save cursor position
    {% include "includes/save_position.html" %}

    {% if not readonly %}
        {% include "includes/edit_protection.html" %}
        {% include "includes/form_reload_modal.html" %}
    {% endif %}

    <script>
        //1.When content changes show Save button. Also remove the Content Saved Message
        document.addEventListener("DOMContentLoaded", function () {

                window.initializeEditProtectionFramework([
                    {
                        divs: ["content-div"],
                        buttons: ["floating-save-btn", "end-save-btn"],
                        formId: "{{ form_id|escapejs }}"
                    }
                ]);
           });

    </script>
{% endblock %}