<!--profile.html-->
{% extends 'selfstudy_base.html' %}

{% block title %} Profile SelfStudy {% endblock title %}

{% block profile_submenu %}
    {% include 'selfstudy_profile_submenu.html' %}
{% endblock profile_submenu %}

{% block content %}

    <div class="card card-body">
        <h5>B. School History</h5>

       <hr>
        <div id="lock-message" class="error" style="display: none;"></div>

        {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            <hr>
        {% endif %}

        <span>Give a brief history of the school and include:</span>
            <ul>
                <li>School philosophy and mission</li>
                <li>Demographic data such as staff and student profile</li>
                <li>Description of the school’s spiritual, academic, physical, and social programs.</li>
            </ul>
        <hr>
        <div id="content-div">
            <form id="content-form" method="post">
                {% csrf_token %}
                {{ history_form.as_p }}
                <button id="end-save-btn" class="btn btn-sm btn-ISEIyellow" type="submit">Save Changes</button>
                <button id="floating-save-btn" type="submit" class="floating-box btn btn-sm btn-ISEIyellow mr-3">Save Changes</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}

     {% include "includes/script_lock_and_save_forms.html" %}

    <script>
        //1.When content changes show Save button. Also remove the Content Saved Message
        window.divButtonMapping = [
            {
                divs: ["content-div"],
                buttons: ["floating-save-btn", "end-save-btn"],
                formId: "{{ form_id|escapejs  }}" } // Both forms trigger both buttons
         ];

// 2. Auto-expanding textareas
        {% include "includes/script_auto_expand_textarea.html" %}


    </script>
{% endblock %}