<!--profile.html-->
{% extends 'selfstudy_base.html' %}
{% load template_extras %}

{% block title %} Profile Services {% endblock title %}


{% block content %}

<!-- Title and Success and Error Messages -->
    <div class="card card-body">
        <h5>G. Student Support Services </h5>

                {% include "includes/messages.html" %}
    </div>



     <div id="content-div">
        <form id="content-form" method="post">
            {% csrf_token %}
                    <input type="hidden" name="form_version" id="form_version" value="{{ form_version }}">

            <div id="somethingData">
                <div class="card card-body">
                    <h7>1. Briefly describe the guidance services of the school in each of the following areas:</h7>

                    <div class="form-group mt-2">
                        <label for="{{ form.academic_advisement.id_for_label }}">a. Academic advisement including testing.</label>
                        {{ form.academic_advisement }}
                        {% if form.academic_advisement.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.academic_advisement.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.career_advisement.id_for_label }}">b. Career advisement including testing.</label>
                        {{ form.career_advisement }}
                        {% if form.career_advisement.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.career_advisement.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.personal_counseling.id_for_label }}">c. Personal Counseling</label>
                        {{ form.personal_counseling }}
                        {% if form.personal_counseling.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.personal_counseling.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    {% include "includes/saved_notification.html" %}
                    {% include "includes/floating_save_button.html" %}
                    {% include "includes/bottom_save_button.html" %}
                </div>
            </div>

        </form>
     </div>

{% endblock %}


{% block script %}


// Auto-expanding textareas
    {% include "includes/script_auto_expand_textarea.html" %}
//Save cursor position
    {% include "includes/save_position.html" %}

    {% if not readonly %}
        {% include "includes/edit_protection.html" %}
        {% include "includes/form_reload_modal.html" %}
    {% endif %}


    <script>
//1.When content changes show Save button. Also remove the Content Saved Message. Uses the Include from above
         document.addEventListener("DOMContentLoaded", function () {

                window.initializeEditProtectionFramework([
                    {
                        divs: ["content-div"],
                        buttons: ["floating-save-btn", "end-save-btn"],
                        formId: "{{ form_id|escapejs }}"
                    }
                ]);
           });

    </script>
{% endblock %}