<!--setup_selfstudy-->
{% extends 'selfstudy_base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/selfstudy_cover.css' %}">
{% endblock custom_css %}

{% block title %} Create SelfStudy Document{% endblock title %}

{% block selfstudy_topox %}
{% endblock %}

{% block content %}
<div class="container-fluid cover-page">
    <div class="card card-body">

        <div class="noprint">
            {% if not selfstudy.submission_date %}
                {% if privileges %}
                    <form method="post">
                        {% csrf_token %}
                        <h6>Self Study is not yet submitted</h6>
                        <button class="btn btn-ISEIyellow2" type="submit" name="submit_selfstudy">Submit SelfStudy</button>
                    </form>
                {% else %}
                    <h6><span class="bg-ISEIyellow px-2 py-1 rounded">Self Study Not Submitted</span></h6>
                {% endif %}
            {% else %}
                 <h6 class="success"> Self Study was submitted on {{ selfstudy.submission_date }}.</h6>
            {% endif %}
        </div>


        <div class="">
            <h2 class="school-name" style="margin-top: 150px">
                {{ selfstudy.accreditation.school.name }}
            </h2>
            <h2 class="report-title">
                Self-Study Report
            </h2>
            <h4 class="text-ISEIblue3 report-title">
                for Accreditation
            </h4>
            <h5 class="visit-dates" style="margin-top: 100px">
                {{ selfstudy.accreditation.visit_date_range }}
            </h5>
        </div>

        <!-- Left Column with Vertical Text -->
        <div class="left-column mb-5">
            <h1 style="font-size: 50px"><i>ISEI  EDUCATION  ASSOCIATION</i></h1>
        </div>

        <!-- Logo inside the card -->
        <div class="logo-container">
            <img src="{% static 'appfiles/ISEIcolored.png' %}" alt="ISEI Logo">
        </div>


        <footer class="footer">
            <div class="mr-3 ml-3 text-center">
                <i>ISEI</i> Education Association || P.O. Box 946, Dayton, TN 37321, USA || info@iseiea.org
                <p><small>&copy; 2021 <i>ISEI</i> Education Association</small></p>
            </div>
        </footer>
    </div>
</div>
{% endblock %}
