.popover {
    background: #ffffff;  /* Change color accordingly */
    z-index: 1060; /* Adjust if necessary */
}

.popover .popover-body {
    color: #0B61A4; /* Adjust text color if necessary */
    background: #f7f7f7;
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    border: 2px solid #0B61A4;
    max-width: 100%; /* This ensures that the popover does not overflow the viewport */
}


.evidence-list {
  column-count: 2; /* Number of columns */
  column-gap: 16px; /* Space between columns */
  list-style: none; /* Optional: Remove default bullets */
  margin: 0;
  padding: 0;
}

.evidence-list li {
  margin-bottom: 4px; /* Space between list items */
  break-inside: avoid; /* Prevent items from breaking across columns */
  word-wrap: break-word; /* Ensure long text wraps properly */
}
/* vertical separator (for example between columns) */
.separator {
            border-left: 2px solid #ccc; /* Vertical line */
            margin: 0 10px; /* Space around the line */
        }


/* not used but cool stuff */
@keyframes sparkle {
    0% {
        box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.8), 0 0 5px 5px rgba(255, 255, 255, 0.6);
    }
    50% {
        box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.8), 0 0 8px 8px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.8), 0 0 5px 5px rgba(255, 255, 255, 0.6);
    }
}

.sparkle {
    animation: sparkle 1.5s infinite;
    transition: background-color 0.3s ease;
}