/* =========================
   Print Styles
========================= */
@media print {
  .report-page, .page {
    box-shadow: none;
    border: none;
    margin: 0;
  }

  body {
    font-size: 12px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table td, table th {
    font-size: 10px;
  }

  .noprint, .floating-box-background, .floating-box, button {
    display: none !important;
  }


  .keep-together {
    page-break-inside: avoid;
    break-inside: avoid;   /* newer property */
  }

  /* Page breaks */
  .page-break-before {
    page-break-before: always;
    break-before: page;
    margin-top:20mm;
  }
  .page-break-after { page-break-after: always; }
  .no-page-break { page-break-inside: avoid; }

   .report-page .vertical-double-line {
    display: block !important;       /* make sure flex/block renders */
    position: absolute;
  }

  /* Ensure Vertical Lines Print */
  .report-page .vertical-double-line .line-light {
    display: block !important;
    background-color: #5a8fcf !important; /* lighter line */
    width: 2px !important;
    height: 100% !important;
  }

  .report-page .vertical-double-line .line-dark {
    display: block !important;
    background-color: #1a3d5d !important; /* darker line */
    width: 2px !important;
    height: 100% !important;
  }
   .print-section {
        display: block;             /* important */
        page-break-inside: avoid !important;  /* legacy */
        break-inside: avoid !important;       /* modern */
        overflow: visible;          /* ensure no clipping */
    }
}