
.scrollable-table {
    overflow-x: auto;
}
.scrollable-table2 {
    max-height: 500px; /* Adjust this value based on your requirements */
    overflow-y: auto;
}

.sticky_head {
    position: sticky;
    top: 0;
    z-index: 10;
}

.sticky-column {
    position: sticky;
    left: 0;
    background-color: white;
}


/* APR Table Styling */
/* APR Header */


.orange-header {
    background-color: #B56004; /* Muted darker orange for APR header */
    color: white;
    text-align: center;
    border-right: 1px solid #D9B48C; /* Subtle border separating columns */
    padding: 10px;
}

.orange-header2 {
    background-color: #D78F48; /* Muted lighter orange for APR header2 */
    color: white;
    text-align: center;
    border-right: 1px solid #8A4B18; /* Subtle border separating columns */
    padding: 10px;
}

/* APR Columns */
.orange-column {
    background-color: #F9E4C6; /* Light muted beige-orange for cells */
    border-right: 1px solid #D9B48C; /* Subtle column border */
    padding: 10px;
    text-align: left;
}

/* Striped Effect for APR Columns */
.table-striped tbody tr:nth-child(odd) .orange-column {
    background-color: #FDF2E1; /* Very light muted beige-orange for odd rows */
}

.table-striped tbody tr:nth-child(even) .orange-column {
    background-color: #fffaf8; /* White for even rows */
}

/* Hover Effects for APR Columns */
.table-striped tbody tr:hover .orange-column {
    background-color: rgba(215, 143, 72, 0.1); /* Softer, lighter muted orange on hover */
}



/* Accreditation Header */
.blue-header {
    background-color: #053A64; /* Darker blue for Accreditation header */
    color: white;
    text-align: center;
    border-right: 1px solid #B0C4DE; /* Border separating columns */
    padding: 10px;
}

.blue-header2 {
    background-color: #2E74AA; /* Lighter blue for Accreditation header2 */
    color: white;
    text-align: center;
    border-right: 1px solid #2b3c48; /* Border separating columns */
    padding: 10px;
    vertical-align: top; !important;
}

/* Accreditation Columns */
.blue-column {
    background-color: #F5F9FC; /* Light grayish-blue for cells */
    border-right: 1px solid #B0C4DE; /* Column border */
    padding: 10px;
    text-align: left;
}

/* Striped Effect for Accreditation Columns */
.table-striped tbody tr:nth-child(odd) .blue-column {
    background-color: #F5F9FC; /* Light grayish-blue for odd rows */
}

.table-striped tbody tr:nth-child(even) .blue-column {
    background-color: #FFFFFF; /* White for even rows */
}

/* Hover Effects for Accreditation Columns */
.table-striped tbody tr:hover .blue-column {
    background-color: rgba(71, 120, 153, 0.1); /* Soft blue on hover */
}

